/*colores disponibles
btn-white (textos: t-pink, t-blue)
btn-pink
btn-blue

//botones con fondo blanco
btn-blank-blue
btn-blank-pink
*/
.btn-global{
    padding:8px 30px;
    border:0;
    &.btn-white{
        background-color: $white;
        &.t-pink{
            color:$pink;
        }
        &.t-blue{
            color:$blue;
        }
    }
    &.btn-pink{
        background-color: $pink;
        color:$white;
    }
    &.btn-blue{
        background-color: $blue;
        color:$white;
    }
    &.btn-celeste{
        background-color: $celeste;
        color:$white;
    }
    &.btn-blank-pink{
        background-color: $white;
        color:$pink;
        border:0;
        box-shadow: inherit;
        padding-left:0px;
        font-family: 'Barlow';
        font-weight: 600;
        &:focus,&:active{
            background-color: $white!important;
            color:$pink!important;
            box-shadow:inherit!important;
        }
    }
    &.btn-blank-blue{
        background-color: $white;
        color:$blue;
        border:0;
        box-shadow: inherit;
        padding-left:0px;
        font-family: 'Barlow';
        font-weight: 600;
    }
    &.btn-blank-celeste{
        background-color: $white;
        color:$celeste;
        border:0;
        box-shadow: inherit;
        padding-left:0px;
        font-family: 'Barlow';
        font-weight: 600;
    }
    &.disabled{
        background-color: $gris!important;
        pointer-events: none;
        border:0;
    }
}

.center-btn{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto!important;
    margin-top: 3%!important;
    margin-bottom: 3%!important;
}