$font_path: '../../static/fonts/';
@font-face {
    font-family: "Barlow";
    src: url($font_path+"Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow-light";
    src: url($font_path+'Barlow-Light.ttf') format("truetype");
}

@font-face {
    font-family: "Barlow-bold";
    src: url($font_path+'Barlow-Bold.ttf') format("truetype");
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Barlow-bold';
    font-weight:600;
}

p,a,span{
    font-family: "Barlow";
}

.title{
    color:$blue;
    font-size:2.4rem;
    text-align: center;
    padding:5px 0px 25px;
    font-family: 'Barlow';
    font-weight: 600;
    @media screen and (max-width:600px){
        font-size:1.8rem;
        &.title-tab{
            font-size:1.3rem;            
        }    
    }
    
}

.subtitle{
    color:$blue;
    font-size:1.6rem;
    text-align: center;
    padding:5px 0px 0px;
    font-weight: 500;
    font-family: 'Barlow';
}

.t-blue{
    color:$blue;
}
.t-pink{
    color:$pink
}
.t-celeste{
    color:$celeste;
}
.t-white{
    color: $white;
}
.t-gray{
    color:$gris;
}

.t-gray-2{
    color:$gris-2;
}
.t-gray-light{
    color:$gris-light;
}

.t-barlow{
    font-family: "Barlow";
}
.t-barlow-bold{
    font-family: "Barlow-bold"!important;
}