$pink:#F142AF;
$blue:#001D85;
$celeste:#4FC5E9;
$gris:#DADADA;
$gris-2:#ACACAC;
$gris-light:#F5F6F8;
$yellow:#F4D500;
$white:#ffffff;
$black:#000000;
$black-opacity:rgb(0,0,0,0.5);


//mixin animations

@keyframes heartbeat{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}


@keyframes pulse{
    0%
    {
      transform: scale( .5 );
      opacity: 1;
    }  
    100%
    {
      transform: scale( 1.2 );
      opacity: 0;
    }
  }
  