.img-border{
    border-radius:60px 0px 0px 0px;  
}
*:active,*:focus{
    outline: none!important;
    box-shadow: none!important;    
}
.container-fluid{
    max-width:1540px;
}
.nuxt-body{
    padding-top:70px!important;
}
.bg-white-border{
    position: relative;
    bottom: -200px;
    background-color: white;
    z-index: 1;
    padding-bottom: 100px;
    border-radius: 0px 0px 150px;
    top:50px;
    margin-bottom:-150px;
    @media screen and (max-width:600px) {
        border-radius: 0px 0px 50px;
        padding-bottom:50px;
        top:-10px;
    }
}
.msg-error{
    color:$pink;
    font-size: .8rem;
    position: absolute;
    padding-left: 15px;
    margin-top: -2px;
}
.form-group{
    margin-bottom: 1.4rem;
}

.form-control{
    &.invalid-input{
        border:1px solid $pink!important;
    }
}

.waveAb{
    border-radius:30px 0px 30px 0px;
    padding:0px 5px;
}

.modal-thanks{
    .modal-content{
        border-radius: 40px 8px;
        height:300px;
        display: flex;        
        .modal-body{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            padding: 0;
            position: relative;
            h3{
                padding-top:10px;
                font-family: 'Barlow';
                span{
                    color:$celeste;
                    font-size:22px;
                    padding-bottom: 5px;
                }
                font-size: 22px;
                color: $blue;
            }
            .bottom-btn-close{
                background-color: transparent;
                border: 0;
                border-top: 1px solid $gris-light;
                color:$blue;
                font-family: 'Barlow';
                font-weight: 600;
                position: absolute;
                bottom: 10px;
                &:focus,&:active{
                    background-color: transparent;
                }
            }
        }
    }
}

.cookie-asbanc{
    background-color: $celeste!important;
    .Cookie__content{
        text-align: center;
        b{
            text-align: center;
            font-size: 1.1rem;
        }
        p{
            font-weight: 600;
            a{
                color:$blue;
                font-weight: 600;
                text-decoration: underline;
            }
        }
        color:$blue;
    }
    .Cookie__button--decline{
        position: absolute;
        top: 0;
        right: -45px;
        color:$blue!important;
        font-weight: 600!important;
        transition: .3s all;
        &:hover{
            background-color: transparent!important;
            transform: scale(1.1);
        }
    }
    .Cookie__button{
        background-color: $pink!important;
        color: #ffffff;
        border-radius: 0.50rem!important;
    }
}

.card-resume{
    width:200px;
    padding: 5px 35px;
    @media screen and (min-width:601px) and (max-width:768px){
        padding:5px 5px;
    }
    img{
        margin:0 auto;
        display:block;
        width:80px;
        height: auto;
        max-height:80px;
        
        @media screen and (max-width:600px){
            width:60px;
            height: auto;
            max-height:60px;
        }
    }
    h5{
        color:$blue; 
        font-weight: 600;
        font-size:1.6rem;
        padding-top:15px;
        text-align: center;       
    }
    p{
        color:$blue;
        text-align: justify;
        padding:5px 10px;
        font-weight: 600;
    }
    a{
        color:$blue;
        font-weight: 600;
        padding: 1px 20px;
        font-family: "Barlow-bold";
    }
}

.slick-slider{
    padding-bottom: 30px;
    img{
        margin:0 auto;
    }
}

.swiper-slide{
    display:flex;
    justify-content: center;
}
.swiper-container{
    min-height: 180px;
}
.swiper-radius{
    .swiper-pagination-bullet{
        width:30px!important;
        height: 8px;
        border-radius: 12px 0px 12px 0px;
        background-color:$pink;
    }
}
.swiper-pink{
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size:20px;
        color:$blue;
        font-weight: 600;
    }
}

.swiper-blue{
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size:20px;
        color:$blue;
        font-weight: 600;
    }
    .swiper-pagination-bullet{
        width:30px!important;
        height: 8px;
        border-radius: 12px 0px 12px 0px;
        background-color:$blue;
    }
}

.swiper-description{
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size:20px;
        color:$blue;
        font-weight: 600;
    }
    .swiper-pagination{
        left:0;
        right: 0;
        
    }
    .swiper-pagination-bullet{
        width:30px!important;
        height: 8px;
        border-radius: 12px 0px 12px 0px;
        background-color:$blue;
    }
}

//colores de tabs

.pink-tabs{
    .nav-link{
        &::before{
            border-bottom: 2.5px solid $pink!important;
        }
        &::after{
            background-color: $pink!important;
        }
    }
}


// slick

.slick-dots li button:before{
    top:20px;
    width: 24px!important;
    height: 8px!important;
    border-radius: 6px 0px 6px 0px;
    content: ''!important;
    text-align: center;
    opacity: 0.25;
    color: transparent;
    background-color: $blue;
}

.yellow .slick-dots li button:before{
    background-color: $yellow;
}

.celeste .slick-dots li button:before{
    background-color: $celeste;
}

.pink .slick-dots li button:before{
    background-color: $pink;
}

.slick-prev:before, .slick-next:before{
    color:$blue;
}


.pink-pagination{
    .slick-dots li button:before{
        background-color: $pink!important;
    }
}

.blue-pagination{
    .slick-dots li button:before{
        background-color: $blue!important;
    }
}

.notify-box{    
    background-size: cover;
    width: 85%;
    height: auto;    
    border-radius: 160px 10px 160px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5% 10%;
    margin: auto;
    margin-top:0%;
    
    @media screen and (max-width:600px){
        border-radius: 0px 0px 60px 10px;
        padding:8% 5%;
    }
    &.yellow-content{
        @media screen and (min-width:768px){
            margin:7% auto;
            
        }
        background-color:$yellow;
        h3{
            color:$blue;
            text-align: center;
            font-family: "Barlow";
            font-size: 2.3rem;
            padding-bottom:10px;
        }
        p{
            color:$blue;
            text-align: center;            
            font-size: 1.25rem;
            font-weight: 600;
        }
        a{
            color:$blue;
            text-align: center;
            font-weight: 600;
            font-size: 1.25rem;
            margin-top:20px;
            font-family: "Barlow-bold";
        }
    }
    &.blue-content{
        background-color:$celeste;
        a,p{
            color:$blue;            
            font-weight: 600;
        }
        h3{
            color:$blue;            
            font-size: 2.3rem;
            font-weight: 600;
            font-family: "Barlow";
            @media screen and (max-width:600px){
                font-size:1.7rem;
            }
        }
        ul{
            list-style-type: disc;
            padding-left:20px;
            li{
                color:$blue;
                line-height: 40px;
                font-weight: 600;
                font-family: "Barlow";
            }
        }
    }
       
    &.tiny{
        border-radius:  50px 10px 50px 10px;
        padding:5% 7%;
        h3{
            font-size:1.6rem;
            font-weight: 600;
            font-family: "Barlow";
            padding-bottom: 15%;
        }
    }
}

.swiper-description-box{
    img{
        width: 160px;
        max-height: 220px;
        margin:0 auto;
    }
    &--text{
        text-align: center;
        h5{
            color:$blue;
            padding: 20px 0px;
            max-height:70px;
        }
        span{
            color:$blue;
            font-weight: 600;
            
        }
    }
}

.bg-gray{
    background-color:$gris-light;
    border-radius: 150px 0px 0px 0px;
    padding:8% 0 5%;
    @media screen and (max-width:600px){
        border-radius: 50px 0px 0px 0px;
    }
    &.form-inscripcion{
        border-radius: 0px 0px 150px 0px;
        padding:3% 0 5%;
        .form-control,.custom-select{
            border:0;
            color:$blue;
            font-family: 'Barlow';
            font-weight: 600;         
            &::placeholder{
                color:$blue;
                font-family: 'Barlow';
                font-weight: 600;
            }
        }
    }
}

.dropdown-zone{
    @media screen and (max-width:600px){
        margin:0px 0px 50px;
    }
}

.dropdown-radius{
    border-radius: 10px 0px 10px 10px;
    overflow: hidden;
}
.dropdown-theme{
    right:50px;
}
.dropdown-theme-2{
    right:90px;
}
.btn-secondary:not(:disabled):not(.disabled):active{
    background-color: transparent;
    border-color: transparent;
}
.title-section{
    position:relative;
   
    .filter{
        width:200px;    
        
        @media screen and (min-width:1024px){
            position: absolute;
            right: 5%;
            z-index: 10;
            top: 10px;
        }
        @media screen and (min-width:601px) and (max-width:768px){
                position: absolute;
                top:7px;
                z-index: 10;
                border-radius:10px;
                right:0;
        }
        @media screen and (max-width:600px){
            border-radius:10px;
            position:absolute;
            top:-20px;
            z-index: 10;
        }
        .collapse{
            position: relative;
            @media screen and (max-width:600px){
                top:-10px;
            }
            &#mesE-1{
                position: absolute;
                top:35px;
            }
            &.eventcollapse{
                top:40px;
                left:-100px;
                .card-body{
                    .btn{
                        &:after{
                            background-image: none!important;
                        }
                    }
                }                
            }
        }
        button{
            color:$blue;
            font-size:1.5rem;
            font-weight: 600;
            font-family: "Barlow-bold";
            border-bottom:1px solid $white;
            text-decoration: none!important;            
            &:focus,&:active{
                box-shadow: inherit;
                text-decoration: none;
            }
            svg{
                width:20px;
                padding-top:10px;
                margin-left:5px;
            }          
        }
        .card{
            border:0;    
            border-top:1px solid white;        
            &:hover{
                cursor: pointer;
                background-color:#4fc5e96e;
            }
            &.subthemecard{
                .card-body{
                    // background-color: #72d8f7;
                    margin-left: -5px;
                    padding-left: 14px;
                    height: 35px;
                    margin-top:-8px;
                    @media screen and (max-width:600px){
                        margin-top:1px;
                        padding-top:5px;
                        font-size:.9rem;
                    }
                    &:hover{
                        background-color: #82dffb;
                    }
                }
            }
        }
        .card-body{
            background-color:$celeste;
            color:$white;
            padding:0;
            padding-left:5px;
            text-align: left;            
            button{
                background-color:transparent;
                border:0;
                position:relative;
                padding-right:25px;
                font-family: 'Barlow';
                font-weight: 600;
                font-size:.95rem;
                color:$white;
                width:100%;
                text-align: left;
                // border-bottom: 1px solid $white;
                &:focus,&:active{
                    box-shadow: inherit;
                }
                &:after{
                    content:"";
                    background-image:url('../../static/images/arrow-down-white.svg');
                    width:13px;
                    height:8px;
                    background-size: cover;
                    display:block;
                    position: absolute;
                    right: 7px;
                    top:12px;
                    transition: .3s all;
                }
                &.not-collapsed{
                    &:after{
                        transform: rotate(180deg);
                    }
                }
                &.hide-chevron{
                    padding-right:14px;
                    &::after{
                        background-image: inherit;
                    }
                }
            }
        }
    }
    &.two-filters{
        top: -70px;
        right: -50px;
        .filter{
            display: flex;
            flex-direction: row;
            button{
                display: flex;
            }
        }
    }
}

.full-width-card{
    max-width: 100%!important;
    cursor: pointer;
    &.hover-card{
        cursor: pointer;
    }
    .hardcode-img-card{
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 115%;
        position: relative;
        top: -20px;
        left: -20px;
        background-position: center top;   
        &.prensa-cards{
            margin-bottom:30px;
            border: 0;
        }
        &.little-img-card{
            height:220px;
        }
        &.big-img-card{
            height: 590px;
        }
        @media screen and (max-width:600px){
            height:220px!important;
            width:125%;
        }
        .date{
            bottom:0px;
            right:120px;
            font-family: 'Barlow';
            font-weight: 600;
        }
    }
    @media screen and (max-width:600px){
        margin-bottom:40px;
    }
}

.principal-banner{    
    .carousel-item{
        position:relative;
        overflow: hidden;
        min-height:360px;
        background-repeat:no-repeat!important;
        background-position: center!important;
        background-size: cover!important;
        border-radius: 0px 0px 100px 100px;
        @media screen and (max-width:768px){
            border-radius: 0px 0px 50px 50px;
        }
        .carousel-caption{
            position:initial;
            .overlay-banner{
                position: absolute;             
                width: 100%; 
                height: 100%; 
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;            
                z-index: 2; 
                cursor: pointer;                                             
            }
            .text-banner{
                position:absolute;
                top: 50%;
                transform: translateY(-50%);
                left:10%;
                z-index: 10;
                h1{
                    color:white;
                    max-width: 350px;
                    text-align: left;
                }
            }
        }
    }
}

.filter-year{
    position: relative;
    .btn{
        color:$blue;
        font-size:1.3rem;
        font-family: "Barlow-bold";
        font-weight: 600;
        background-color:transparent;
        border:0;
        svg{
            font-size:20px!important;
        }
        &:focus,&:active{
            box-shadow: 0;
            outline:hidden;
        }
    }
    .collapse{        
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        top: 60px;
        width: 90px;
        z-index: 100;
        .card{
            background-color:$celeste;
            color:$white;
            border:0;
            .card-body{
                background-color:$celeste;
                padding:3px 0px;
                .btnsecondary{
                    color:white;
                }
            }
        }
    }

}

.custom-checkbox{
    .custom-control-label{
        color:$blue;
        font-family: "Barlow";
        font-weight: 600;
        &:before{
            border:2px solid $blue;            
            border-radius: 0.1rem;
        }
        a{
            color:$blue;
            text-decoration: underline;
        }
    }
}

.contact-container{
    padding-top:250px;
    &.webinar-contact{
        padding-top:30px;
        border-radius: 0px;
        margin-bottom: -50px;
    }
    .form-control{
        border:0;
        color:$blue;
        font-family: 'Barlow';
        font-weight: 600;
        &::placeholder{
            color:$blue;
            font-family: 'Barlow';
            font-weight: 600;
        }
    }
    textarea{
        min-height: 95px;
    }
    .checkbox-contact{
        font-family: "Barlow";
        font-weight: 600;
        color:$blue;
        line-height: 30px;
        a{
            color:$blue;
            text-decoration: underline;
        }
        @media screen and (max-width:600px){
            margin-left:20px;
        }
    }
    &.service-bg-gray{
        border-radius: 0px 0px 150px 0px;
        position: relative;
        bottom: -200px;
        z-index: 4;
        margin-top: -20px;
        padding-top: 40px;
    }
}

.bg-white-rounded{
    background-color:white;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -195px;
    z-index: 4;
    margin-top: -170px !important;
    border-radius: 0px 0px 150px 0px;
    padding:60px;
    @media screen and (max-width:600px){
        border-radius: 0px 0px 50px 0px;
        padding:0px;
        .incoming{
            padding:0;
        }
    }
}


.bg-yellow-webinar{
    background-color:$yellow;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -195px;
    z-index: 4;
    margin-top: -170px !important;
    border-radius: 0px 0px 150px 0px;
    .information{
        text-align: center; 
        display: flex;
        justify-content: center;       
        flex-direction: column;
        line-height: 35px;
        b{
            color:$blue;            
            font-family: "Barlow-bold"; 
            font-size: 20px;           
        }
        p{
            color:$blue;  
            font-size: 24px;
            font-family: "Barlow";                
            margin-bottom: 0;
        }
        a{                
            color:$blue;
            font-family: "Barlow-bold";
        }
    }
    @media screen and (max-width:600px){
        border-radius: 0px 0px 50px 0px;
    }
    h4{
        font-family: "Barlow";
        font-weight: 600;
        line-height: 35px;
        b{
            font-family: "Barlow-bold";
        }
        a{
            color:$blue;
            font-family: "Barlow-bold";
        }
    }
}

.franja-yellow{
    background-color: $yellow;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding:15px 0px 5px;
    margin:50px 0px;
    p{
        font-size: 1.4rem;
        b{
            font-size: 1.9rem;
        }
    }
}

.horizontal-card{
    border-radius: 50px 10px 50px 10px;
    box-shadow: 0px 0px 17px -3px #eeeeee;
    border:0;    
    .bgImg{
        background-size: cover;
        background-position: center;
        min-height: 250px;
        @media screen and (max-width:600px){
            min-height: 250px;
        }
    }
    
    h3{
        color:$blue;
        padding-left:15px;        
    }
    ul{
        padding:20px 30px;
        color:$blue;        
        li{
            line-height: 30px;
        }
    }
}

.accordion-card{
    background-color: transparent;
    border:0;
    .card-header{
        background-color: transparent;
        border:0;
    }
    .accordion-btn{
        background-color: transparent;
        text-align: left;   
        color:$blue;
        border:0;
        border-bottom: 1px solid $gris;
        border-radius: 0;
        padding-bottom:10px;
        position: relative;        
        font-family: "Barlow";
        font-weight: 600;
        &.simulador-btn{
            padding-left:10%;
            border-bottom:1px solid $gris!important;
            
        }
        &:hover,&:focus,&:active{
            outline: inherit;
            box-shadow: inherit;
            border:0;
            background-color: transparent!important;
            border-bottom: 1px solid $blue;
            color:$blue!important;
            box-shadow: inherit!important;

        }
        &::before{
            content:'';            
            color:white;
            background-color: $celeste;
            font-weight: 600;
            line-height: 18px;
            border-radius: 100%;
            width:20px;
            height:20px;
            display: block;
            position: absolute;
            right:15px;
            top:5px;
            text-align: center;
        }
        &.collapsed{
            &::before{
                content:'+';
            }
        }
        &.not-collapsed{
            &::before{
                content:'-';
            }
        }
    }
}

$degrade: #5ec5e5 #4fc5e9d9 #4fc5e9b3 #4fc5e994 #4fc5e973 #4fc5e95e #4fc5e94a #4fc5e936 #4fc5e91c #4fc5e912 #4fc5e905 #4fc5e900 #4fc5e900 #4fc5e900 #4fc5e900 #4fc5e900 #4fc5e900 #4fc5e900 #4fc5e900; 

.voceros{
    border-radius: 50px 10px 40px 10px;
    overflow: hidden;
    .accordion-btn{
        height:70px;
        display: flex;
        align-items: center;  
        border:0;
        .hide-text-m{
            @media screen and (max-width:600px) {
                display: none;
            }
        }
        &:active,&:focus{
            background-color: $celeste!important;
        }
        span,a{
            color:$blue;
            font-size: 1.2rem;
            font-family: "Barlow";
            @media screen and (max-width:600px) {
                font-size: .9rem;
                text-align: left;
            }
        } 
        a{
            position: absolute;
            right:20%;
        }
        &.accordion-0{
            background-color: #4FC5E9;
        }
        @for $i from 1 through 19 {
            &.accordion-#{$i} {
                background-color: nth($degrade, $i);
            }
        }  
    }    
    .card{
        border:0;
        .card-header{
            border-bottom: 1px solid white;
            padding: 0;
        }
        .card-body{
            @media screen and (max-width:600px) {
                max-width: 290px;
            }
        }
    }
}

.dirigido{
    text-align: center;
    .right-line{
        padding:0px 10px;      
        display:inline-flex; 
        align-content: center;
        align-items: center;
        height:70px;
        justify-content: center;
        span{
            width:150px;
        }
        &::after{
            content:'';
            width:30px;
            min-width: 30px;
            height: 8px;
            border-radius: 12px 0px 12px 0px;
            background-color: #001D85;
            position:relative;
            right:-15px;
            @media screen and (max-width:600px){
                background-color: transparent;
                display: none;
            }
        }        
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}


.box-row-container {	
	display: flex;
	flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box-row-container > .box-row-item {
	flex-grow: 1;
    flex: 1 1 30%;
	height: 250px;
    max-width: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    position: relative;
    border-radius: 15px;
    .download-btn{
        position: absolute;
        bottom:10px;
        right:10px;
        transition: .3s all;
        &:hover{
            color:white;
            transform: scale(1.1);
        }
    }
    @media screen and (max-width:768px) {
        flex: 1 50%;
    }
    @media screen and (max-width:600px){
        flex: 100%;
        margin-bottom: 15px;
        border-radius: 8px;
    }
}

.box-row-item {
  background-color: $celeste;  
  border:1px solid white;
  /* text-align: center; */
}

.videoCard{
    width: 115%;
    max-height: 197px;
    height: 225px;
    overflow: hidden;
    position: relative;
    top: -32px;
    left: -21px;
    margin-bottom:-20px;
    @media screen and (max-width: 768px){
      top:-40px;
      margin-bottom:-30px;
    }
    .video-js{
        width:100%;
        height:220px;
        .vjs-tech{
            border-radius: 75px 0px 0px 0px;
        }
        .vjs-big-play-button{
            background-color:$white;
            z-index: 2;                       
        }
        &.vjs-fullscreen{
            .vjs-tech{
                border-radius: inherit;
            }   
        }
        .vjs-big-play-button{
            border-radius:100%;
            width:50px;
            height:50px;
            left:0px;
            right:0;
            margin:0 auto;            
            top:40%;            
            .vjs-icon-placeholder{
                color:$pink;
            }
            &::before{
                content:'';
                background-color:$white;
                opacity: .5;
                width:60px;
                height: 60px;
                border-radius: 100%;
                position: absolute;
                left: -7px;
                right: 0;
                top: -7px;
                animation: pulse 3s infinite;
                z-index: 0;
            }
        }
    }
}

.breadcrump-base{
    background-color:$celeste;
    border-radius: 0px 0px 0px 100px;
    padding-top: 10px;
    margin-top: -5px;
    @media screen and (max-width:600px){
        margin-top:0px;
        background-color:white;
    }
    .breadcrumb{
        background-color:transparent;
        @media screen and (max-width:600px){
            padding-top:0px;
            padding-left:30px;
        }
        .breadcrumb-item{
            a{
                color:$blue;
                font-family: "Barlow";
                font-weight: 600;
            }
            &.active{
                color:$blue;    
                font-family: "Barlow";
                font-weight: 600            
            }
            &+ .breadcrumb-item::before{
                content:'';
                background-image:url('../../static/images/arrow-right.svg');
                width: 5px;
                background-size: contain;
                background-position: center;
                margin-left: 5px;
                margin-right: 10px;
                height: auto;
                background-repeat: no-repeat;
                
            }
        }
    }
}

.text-template{
    h2{
        color:$blue;
        font-family: "Barlow";
        font-weight: 600;
        text-align: center;  
        padding-bottom:20px;
        font-size:2.3rem;
        padding-top:30px;   
        @media screen and (max-width:600px) {
            padding-top:10px;
        }   
    }
    p{
        color:$blue;
        font-family: "Barlow";
        font-weight: 600;
        word-break: break-word;
        @media screen and (max-width:600px) {
            padding: 0px 10px;
        }
    }
    img{
        border-radius: 6px 15px;
    }
}

.template-info{
    position: relative;
    bottom: -200px;
    z-index: 4;
    margin-top: -200px;    
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 0px 0px 150px 0px;
    padding-bottom: 60px;
    @media screen and (max-width:600px){
        margin-top:-205px;
        border-radius: 0px 0px 50px 0px;
        padding-bottom: 30px;
    }
}
.category-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s all;
    border:6px solid white;
    border-radius: 50px 0px 50px 0px;
    min-height: 250px;
    padding:15px;
    position: relative;
    .overlay-category{
        opacity: 0;
        transition: .3s all;
        padding:25px 20px 10px;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,0.5);
        border-radius: 50px 0px 50px 0px;
        b,p,a{
            color:white;
            font-family: "Barlow";
        }       
        b{
            text-align: center;
            padding: 5px 2px 7px;
            display: flex;
            justify-content: center;
        }     
        a{
            text-align: center;
            display: block;
        }
    }
    &:hover{
        .overlay-category{
            opacity: 1;
            
        }   
    }
}
.events-section{
    background-color: white;
    min-height: 150px;    
    position: relative;
    top:50px;
    bottom: -195px;
    margin-bottom: -115px;
    z-index: 4;    
    border-radius: 0px 0px 150px 0px;
    padding: 15px;
}
.simuladores-body{    
    @media screen and (min-width:600px){
        margin-left: 8%;        
    }

    .simulador{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        cursor: pointer;
        @media screen and (min-width:600px){
            padding-left:40px;
        }
        span{
            background-color: #DADADA;
            color: #DADADA;
            border-radius: 10px 0px 10px 0px;
            width: 27px;
            height: 27px;
            position: relative;
            top: 0px;
            left: -5px;
            margin-right: 5px !important;
            position:relative;        
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            small{
                width:13px;
                height:13px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                border-radius: 100%;
                background-color: #DADADA;
                z-index: 1;
                &:hover{
                    background-color: $blue;
                }
            }        
        }
        p{
            color:#dadada;
            font-family: "Barlow";       
            font-weight: 600; 
        }
        &:hover{
            text-decoration: none;
            span{        
                background-color: $celeste;        
                small{
                    background-color: $blue;
                }
            }
            p{
                color:$blue;
            }
        }
    }
}

.custom-control-input:checked ~ .custom-control-label::before{
    background-color:$celeste;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
    background-image:inherit;
    background-color:$blue;
}
.custom-select{
    background-image:url('/images/chevron-blue.png')!important;
    background-size:14px;
}
.custom-radio{
    .custom-control-label{        
        margin-left: 5px;
        padding-left: 10px;
        color:$blue;
        font-weight: 600;
        &:before{
            background-color: #dadada;
            border:0;
            border-radius: 7px 0px;
            width:24px;
            height:21px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        &:after{
            width:10px;
            height:10px;
            background-color: white;
            color:transparent;
            border-radius: 100%;
            left:-17px;
            top:9px;
        }
    }
}

.reclamacion{
    
    h3{
        color:$blue;
        font-size: 1.3rem;
        margin: 25px 75px;
        @media screen and (max-width:600px){
            margin: 25px 30px;
        }

    }
    .form-content{
        background-color: #F5F6F8;
        border-radius: 25px 8px;
        padding: 40px 50px;
        @media screen and (max-width:600px){
            padding:30px 5px;
        }
        .label-radio{
            padding-left:25px;
        }
        .custom-select,.form-control{
            border:0;
            color:$blue;
            font-weight: 600;
            &::placeholder{
                color:$blue;
                font-weight: 600;
            }
            &:hover,&:focus,&:active{
                outline: none;
                box-shadow: inherit;
            }
        }        
        
    }
}

.label_file_btn{
    display: inline-block;
    background-color: $blue;
    color: white;
    padding: 0.9rem;
    width: 300px;
    height: 55px;
    font-family: "Barlow";    
    border-radius: 0.3rem;
    cursor: pointer;    
    margin-bottom: -20px;
}