<template>
  <div class="pt-5">
      <div class="template-info">
            <div class="breadcrump-base">
            <b-breadcrumb class="mt-sm-4 container">
                <b-breadcrumb-item to="/">
                <b-icon icon="house-door" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>            
                </b-breadcrumb-item>
                <b-breadcrumb-item to="/">Home</b-breadcrumb-item>            
                <b-breadcrumb-item to="/educacion-financiera" >Educación Financiera</b-breadcrumb-item>
                <b-breadcrumb-item v-for="bank in banked" :key="bank.id" active>{{ bank.title}}</b-breadcrumb-item>
            </b-breadcrumb>
        </div>
        <socialfloat class="mt-5"></socialfloat>
      <information-templates class="container" :information="banked"></information-templates>       
      </div>
  </div>
</template>

<script>
import socialfloat from '@/components/Globals/social-float'
import videoPlayer from '@/components/Globals/VideoPlayer'
import informationTemplates from '@/components/Globals/informationTemplates'
export default {
    components:{
        socialfloat,
        videoPlayer,
        informationTemplates
    },
        head() {
        if(this.banked){
            return {
            title: this.banked.seo_title,
            meta: [
                { charset: 'utf-8' },
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
                {
                hid: 'description',
                name: 'description',
                content: this.banked.seo_description
                },        
                { hid: 'og:type', 
                name: 'og:type', 
                content: 'Evento'
                },
                { hid: 'og:url', 
                name: 'og:url', 
                content: this.baseUrl+'/webinar/'+this.banked.seo_url
                },
                { hid: 'og:title', 
                name: 'og:title', 
                content: this.banked.seo_title 
                },
                { hid: 'og:description', 
                name: 'og:description', 
                content: this.banked.seo_description 
                },        
                { prefix:"og: http://ogp.me/ns#",
                hid: 'og:image', 
                name: 'og:image', 
                property:'og:image',
                content: this.banked.main_image 
                },
                { prefix:"og: http://ogp.me/ns#",
                hid: 'og:image', 
                name: 'og:image', 
                content: this.banked.main_image
                },    
                { hid: 'og:image', 
                name: 'og:image', 
                content: this.banked.main_image
                },    
                { hid: 'og:image', 
                prefix: 'og:http://ogp.me/ns#', 
                property:'og:image',
                content: '/images/seo_image.jpg'
                },   
                { hid: 'og:image', 
                name: 'og:image', 
                content: '/images/seo_image.jpg'
                },                     
                {
                hid: 'og:image:secure_url',
                property: 'og:image:secure_url',
                content: this.banked.main_image
                },
                {
                hid: 'og:image:alt',
                property: 'og:image:alt',
                content: 'Asbanc'
                },
                {
                hid: 'twitter:title',
                name: 'twitter:title',
                content: this.banked.seo_title
                },
                {
                hid: 'twitter:description',
                name: 'twitter:description',
                content: this.banked.seo_description
                },
                {
                hid: 'twitter:image',
                name: 'twitter:image',
                content: this.banked.main_image
                },
                {
                hid: 'twitter:image:alt',
                name: 'twitter:image:alt',
                content: 'Asbanc'
                } 
            ], 
            }
        }
    },
    data(){
        return{
            banked:[]
        }
    },
    async asyncData({ $axios, route }) {
        const banked = await $axios.$get(`/no-banked/tips/?seo_url=${route.params.slug}`)                             
        return { banked }
    },
}
</script>

<style>

</style>