<template>
  <div class="pt-5">        
      <loading-template v-if="loading" template="news" class="mt-5 pt-5"></loading-template>
      <div v-else class="template-info">
            <div class="breadcrump-base">
            <b-breadcrumb class="mt-sm-4 container">
                <b-breadcrumb-item to="/">
                <b-icon icon="house-door" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>            
                </b-breadcrumb-item>
                <b-breadcrumb-item to="/">Home</b-breadcrumb-item>            
                <b-breadcrumb-item to="/prensa" >Noticias</b-breadcrumb-item>
                <b-breadcrumb-item v-for="noticia in news" :key="noticia.id" v-if="noticia.seo_url == $route.params.slug" active>{{ noticia.title}}</b-breadcrumb-item>
            </b-breadcrumb>
        </div>        
        <div v-for="noticia in news" :key="noticia.id" v-if="noticia.seo_url == $route.params.slug">        
            <socialfloat :url="baseUrl+'/noticia/'+noticia.seo_url" :description="noticia.resume" :hashtags="noticia.seo_keyword" :titulo="noticia.title" class="mt-5 news-socialmedia"></socialfloat>
        </div>
        <div class="container container-fluid-news pl-sm-5 date-new">
            <span class="t-pink" v-for="noticia in news" :key="noticia.id" v-if="noticia.seo_url == $route.params.slug">{{ $moment(noticia.register_date).format('DD MMMM YYYY') }}</span>    
        </div>
        <div class="container-fluid container-fluid-news row">             
            <news-templates class="container col-12 col-sm-8 content-news" :news="news"></news-templates>   
            <div class="col-12 col-sm-5 bg-gray-side-new d-flex justify-content-center flex-column">
                <h4 class="t-blue font-weight-bold barlow text-center">Artículos de interés</h4>                
                <b-card-group  v-if="screenWidth > 768" class="d-flex flex-column mx-auto">
                    <b-card v-for="data in interestNews.slice(0,3)" :key="data.id" class="card-styling one-line">      
                        <div class="hardcode-img-card" >                        
                        <div class="img-card" :style="`background-image:url(${data.horizontal_image})`"></div>                        
                        </div>
                        <h3>{{data.title | truncate(100)}}</h3>                        
                        <b-card-text>
                        {{data.resume | truncate(100)}}
                        </b-card-text>                        
                        <NuxtLink :to="`/blog/${data.seo_url}`" class="btn btn-global btn-blank-pink" >Leer más</NuxtLink>                        
                    </b-card>     
                </b-card-group>   
                <VueSlickCarousel v-else class="pt-4 mb-4" v-bind="slickOptions">                            
                     <b-card v-for="data in interestNews.slice(0,3)" :key="data.id" class="card-styling one-line">      
                        <div class="hardcode-img-card" >                        
                        <div class="img-card" :style="`background-image:url(${data.horizontal_image})`"></div>                        
                        </div>
                        <h3>{{data.title | truncate(100)}}</h3>                        
                        <b-card-text>
                        {{data.resume | truncate(100)}}
                        </b-card-text>                        
                        <NuxtLink :to="`/blog/${data.seo_url}`" class="btn btn-global btn-blank-pink" >Leer más</NuxtLink>                        
                    </b-card>                            
                </VueSlickCarousel>             
            </div>           
        </div>
       
      </div>
  </div>
</template>

<script>
import socialfloat from '@/components/Globals/social-float'
import videoPlayer from '@/components/Globals/VideoPlayer'
import newsTemplates from '@/components/Globals/newsTemplates'
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
import loadingTemplate from '@/components/Loading'
export default {
    mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
    components:{
        socialfloat,
        videoPlayer,
        newsTemplates,
        NuxtSSRScreenSize,
        loadingTemplate
    },
    data(){
        return{
            loading:false,
            baseUrl:process.env.baseUrl,
            screenWidth:'',
            news:[],
            interestNews:[],
            slickOptions: {
                dots: true,
                focusOnSelect: true,
                infinite: true,        
                adaptiveHeight:true,        
                speed: 500,        
                slidesToShow: 1,
                slidesToScroll: 1,           
                responsive: [
                    {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true,                    
                    }
            },          
            {
            breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,  
                    centerPadding:'0px',
                    centerMode: true,
                    arrows:false
                }
            }]
      },
        }
    },
    async asyncData({ $axios, route }) {
        const news = await $axios.$get(`/news/?seo-url=${route.params.slug}`)    
        const interestNews = await $axios.$get(`/news/`)    
        return { news, interestNews }
    },
    filters:{
        truncate(value,length){
            length = length || 15;
            if (!value || typeof value !== "string") return "";
            if (value.length <= length) return value;
            return value.substring(0, length) + "...";
        }
    },
    methods:{
        start() {
            this.loading = true
        },
        finish() {
            this.loading = false
        }
    },
    watch:{
      '$vssWidth': function(newVal,oldVal){
        this.screenWidth = newVal
      }
    },
    created(){
        this.screenWidth = this.$vssWidth
        this.start()
    },
    mounted() {
        this.$nextTick(() => {
            this.$nuxt.$loading.start()            
            setTimeout(() => this.$nuxt.$loading.finish(), 2500)
            this.finish()
        })
    }
}
</script>

<style lang="scss">
.bg-gray-side-new{
    background-color:#F5F6F8;
    width:100%;
    padding: 30px 20px 100px 100px;
    margin-top: 100px;
    margin-bottom: -60px;
    z-index: 1;
    margin-right: -15px;
    border-radius: 0px 0px 140px;
    @media screen and (max-width:600px){
        border-radius: 0px 0px 40px;
        padding: 30px 30px;
        margin-bottom: -30px;
        margin-right:0;
    }
}
.one-line{
    max-width: 300px!important;
    margin-top:30px;
}
.text-template{
    max-width: 100%!important;
}
.container-fluid-news{
    max-width:1400px;
    margin:0 auto;
    @media screen and (max-width:600px){
        padding:0;
    }
}
.content-news{
    border-radius: 0px 0px 140px;
    position: relative;
    bottom: -60px;
    right:-5px;
    background-color:white;
    z-index: 2;
    margin-right:-100px;
    @media screen and (max-width:600px){
        margin-right:0;
    }
    .text-template{
        h2{
            text-align: left;
        }
    }
}
.date-new{
    margin-top:50px;
    margin-bottom: -80px;
    position: relative;
    z-index: 10;
    @media screen and (max-width:600px){
        display:none;
        padding-left:35px!important;
    }
}
</style>