<template>
  <div class="loading-page">
    <div class="container" v-if="template == 'news'">
      <div class="row">
        <div class="col-12 col-sm-9">
           <b-skeleton animation="wave" type="button"></b-skeleton>
            <b-skeleton class="mt-3" height="200px" animation="wave" width="100%"></b-skeleton>
            <b-skeleton class="mt-3" height="50px" animation="wave" width="85%"></b-skeleton>
            <b-skeleton class="mt-3" height="50px" animation="wave" width="55%"></b-skeleton>
            <b-skeleton class="mt-3" height="50px" animation="wave" width="70%"></b-skeleton>
            <b-skeleton class="mt-3" height="250px" animation="wave" width="70%"></b-skeleton>
        </div>
        <div class="col-12 col-sm-3">           
            <b-skeleton class="mt-3" height="40px" animation="wave" width="100%"></b-skeleton>
            <b-card class="mt-3" no-body img-top>
              <b-skeleton-img card-img="top" aspect="3:1"></b-skeleton-img>
              <b-card-body>
                <b-skeleton class="mt-3" height="30px" animation="wave" width="70%"></b-skeleton>
                <b-skeleton class="mt-3" height="30px" animation="wave" width="30%"></b-skeleton>
              </b-card-body>
            </b-card>
            <b-card class="mt-3" no-body img-top>
              <b-skeleton-img card-img="top" aspect="3:1"></b-skeleton-img>
              <b-card-body>
                <b-skeleton class="mt-3" height="30px" animation="wave" width="70%"></b-skeleton>
                <b-skeleton class="mt-3" height="30px" animation="wave" width="30%"></b-skeleton>
              </b-card-body>
            </b-card>
        </div>
      </div>
    </div>
    <div v-else-if="template == 'templatesInformation'">
      <div class="container">
          <b-skeleton class="mt-3 mx-auto" height="50px" animation="wave" width="50%"></b-skeleton>
          <b-skeleton class="mt-3 mx-auto" height="50px" animation="wave" width="55%"></b-skeleton>
          <b-skeleton class="mt-3" height="200px" animation="wave" width="100%"></b-skeleton>
          <b-skeleton class="mt-3" height="50px" animation="wave" width="100%"></b-skeleton>
          <b-skeleton class="mt-3" height="50px" animation="wave" width="100%"></b-skeleton>
          <b-skeleton class="mt-3" height="200px" animation="wave" width="100%"></b-skeleton>
          <b-skeleton class="mt-3" height="50px" animation="wave" width="100%"></b-skeleton>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data: () => ({
      loading: false,
    }),
    props:{
      template:String,
    },
    methods: {
      start() {
        this.loading = true
      },
      finish() {
        this.loading = false
      },
    },
  }
</script>
<style scoped>
 
</style>
