.bg-yellow-bancarizados{
    background-color:$yellow;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -200px;
    z-index: 4;
    margin-top: -200px !important;
    border-radius: 0px 0px 150px 0px;
    @media screen and (max-width:600px){
        border-radius: 0px 0px 50px 0px;
    }

    &.blue-b{
        background-color: $celeste;
    }
    .container{        
        padding: 10% 0;
        h5{
            font-size: 2.4rem;
            color:$blue;
            font-family: "barlow";
            font-weight: 600;            
            text-align: center;
        }
        ul{
            list-style: disc;
            padding-left:20px;
            li{
                color:$blue;
                font-family: "barlow";
                font-weight: 600;            
                text-align: justify;
                line-height: 35px;
            }
        }
    }
}
.banked-clients{
    @media screen and (max-width:600px){
        padding-top:50px;
    }
 .card-styling{
    @media screen and (min-width:601px) and (max-width:768px){
        max-width: 70%;
    }
     h3{
         color:$blue;
         font-size:1.4rem;
     }
     p{
         color:$blue;
     }
 }   
}