.banner_home{
    position: relative;
    top:0px;
    z-index: 1;    
    .carousel-caption{
        .text-banner{
            text-align: left;
            left:10%;
            @media screen and (min-width:998px){
                width:30%;
            }
            h3{
                padding-bottom: 3.5%;
                font-size:2.4rem;
                font-family: "Barlow-bold";
            }
            
            p{
                padding-bottom: 3.5%;
                font-family: "Barlow";
            }
        }
    
    }
    .carousel-indicators{
        justify-content: start;
        margin-left:10%;
        li{
            height:8px;
            width:24px;
            border-radius:6px 0px;
            border-top:0;
            border-bottom: 0;
            background-color: $blue;
        }
    }
    @media screen and (max-width:600px){
        top:-5px;
        .carousel-caption{
            .text-banner{
                width:70%;
            }
        }
    }
}

.bank-informations{
    background-color:$gris-light;
    border-radius:100px 0px 0px 0px;    
    .card{        
        border-radius:40px 10px 40px 10px;
        @media screen and (max-width:600px){
            border-radius:15px 15px 15px 15px;
        }
        .card-title{
            color:$blue;
        }
        .card-text{
            color:$blue;
            font-weight: 600;
        }
        @media screen and (max-width:600px){
            .row{
                .col-sm-6:first-child{
                    order:2;
                }
            }
        }
        .box-play{
            position:absolute;
            left:0;
            right: 0;
            background-color:$white;
            width:70px;
            height: 70px;
            border-radius: 100%;
            margin:0 auto;
            margin-top:18%;
            z-index: 3;
            .icon-play{
                display: flex;
                justify-content: center;
                align-self: center;
                padding-top:15%;
                padding-left:8px;
                margin:0 auto;
                width: 60px;
                height: 60px;
                color:$pink;
                z-index: 4;
                position: absolute;
                left: 0;
                right: 0;
            }
            &::before{
                content:'';
                background-color:$white;
                opacity: .5;
                width:100px;
                height: 100px;
                border-radius: 100%;
                position: absolute;
                left: -15px;
                right: 0;
                top: -15px;
                animation: pulse 3s infinite;
                z-index: 1;
            }
        }
    }
}

.events-webinars{
    background-size: cover;
    width: 100%;
    height: auto;
    background-color:$yellow;
    border-radius: 0px 0px 150px 0px;
    position:relative;
    bottom:-200px;
    z-index: 4;
    margin-top:-200px;
    @media screen and (max-width:600px){
        border-radius: 0px 0px 50px 0px;
    }
    .container{
        @media screen and (max-width:600px){
            .subtitle,.title{
                font-size:1.8rem;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    .event{
        border:0;
        .card-body{
            h3{
                color:$celeste;
                font-size: 1.2rem;
                text-transform: capitalize;
            }
            .card-text{
                color:$blue;
            }
        }
    }
    .webinar{
        border:0;
        .card-body{
            h3{
                color:$pink;
                font-size: 1.2rem;
                text-transform: capitalize;
            }
            .card-text{
                color:$blue;
            }
        }
    }
}