
.principal-content{
    margin-top:-80px;
    position: relative;
    right:-15px;
    .know-asbanc-img-content{
        display: flex;
        align-self: flex-end;
        background-size: cover;
        height: 450px;
        border-radius: 100px 0px 0px 0px;
        background-repeat: no-repeat;
        .conoce-asbanc-img{
            @media screen and (min-width:1919px){
                position: relative;
                right: -9.9vw;
            }
            @media screen and (max-width:1367px){
                position: relative;
                bottom: 0px;
                right: -15px;
                width:100%;
                max-height:340px;
            }
            @media screen and (max-width:600px){
                width:100%;
                bottom: 0;
            }
            .img-border{        
                @media screen and (min-width:1600px){
                    float:right;
                }
            }
            
        }
    }
    
}

.pink-tooltip{
    .tooltip-inner{
        background-color: $pink;
        color:white;
    }
    .arrow{
        &::before{
            border-top-color:$pink;
        }
    }
}

.nav-tabs{
    @media screen and (max-width:600px){
        display: none!important;
    }
}

.prensa-section{
    .nav-tabs{
        @media screen and (max-width:600px){
            display: flex!important;
        }
    }
}

#dropdown-asosiacion{
    &__BV_toggle_{
        display:block;
        margin:0 auto;
        background-color:transparent;
        box-shadow: inherit;
        border:0;
        border-bottom:1px solid $blue;
        border-radius: 0px;
        color:$blue;
        width:fit-content;
        font-weight: 600;
        font-family: 'Barlow';
        @media screen and (min-width:600px){
            display:none;
        }
       
    }
    .dropdown-menu.show{
        background-color:$celeste;
        transform: inherit!important;
        border-radius: 15px;
        width: 90%!important;
        margin: auto;        
        text-align: center;
        left: 0px!important;
        top: 30px!important;
        right:0px!important;
        transform: inherit!important;
        li{
            &:first-child{
                border-bottom: 1px solid $white;
            }
            a{
                color:$white;
            }
        }
    }
}

.tab-pane{
    padding-top:20px;
}

.timeline-section{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 400px;    
    background-blend-mode: soft-light;
    background-color: #021987b0;
    .timeline-next,.timeline-prev{
        color:$yellow;
    }
    .swiper-slide-active:last-child{
        .timeline-box{
            .box{
                &::after{
                    content:'';
                    width: 0px;
                    display: none;
                }  
            }
        }
    }
    .timeline-box{
        height:400px;
        transition:.3s all;
        @media screen and (max-width:600px){
            height:auto;
            min-height: 500px;
        }
        h5{
            color:$white;
            text-align: center;
            transition:.3s all;
        }
        .box{
            background-color:$yellow;
            width:30px;
            height:30px;
            border-radius:10px;
            transform: rotate(45deg);
            text-align: center;
            margin: 0 auto;  
            margin-top:50px;  
            transition:.3s all;
            cursor: pointer;        
            &::after{
                content: "";
                width:295px;
                height:3px;
                background-color: $yellow;
                display:block;
                transform: rotate(-45deg);
                position:relative;
                bottom: 93px;
                left: -24px;     
                     
            } 
            &:last-child{
                &::after{
                    content:'';
                    width: 0px;
                    display: none;
                }
            }           
        }
        .timeline-information{           
            display: none;
        }     
    }
    .swiper-slide-active{
        .timeline-box{
            h5{
                font-size:2rem;
                margin-bottom:-14px;
            }
            .box{
                width:35px;
                height:35px;
            }
            .timeline-information{
                display: block;
                color:$white;
                background-color:$pink;
                padding:20px 35px 15px;
                border-radius: 20px 50px 20px 50px;
                text-align: center;
                width:600px;
                margin:0 auto;
                margin-top:50px;
                font-size:1.2rem;
                @media screen and (max-width:600px){
                    width: 250px;
                    padding:10px 25px 5px;
                    font-size: 1rem;
                }
            }

        }    
    }
}

.asociados{
    &-text{
        width:50%;
        @media screen and (max-width:600px){
            width: 90%;
        }
    }
    .tabs{
        .nav{
            max-width: 500px;
            .nav-link{
                padding-bottom:20px;
                &.active{
                 &:before{
                    border-color:$pink;
                    width:255px;
                 }   
                 &:after{
                    background-color:$pink;
                 }   
                }
            }
        }
        @media screen and (max-width:600px){
            width:90%;
            margin: auto;
        }
    }
    .slick-dots li button:before{
        background-color: $pink!important;
    }
}

.text-principal{
    max-width:600px;
}

.memories-section{
    background-color: $celeste;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 500px;
    border-radius: 0px 0px 150px 0px;
    position: relative;
    bottom: -200px;
    z-index: 4;
    margin-top:-200px;    
    @media screen and (max-width:600px){
        border-radius: 0px 0px 50px 0px;
    }
    .slick-slider{
        @media screen and (max-width:600px){
            width:90%;
            margin: 0 auto;
        }
    }   
}

.gerentes{
    .swiper-slide{
        height: 350px;
    }
    .swiper-description-box{
        img{
            @media screen and (max-width:600px){
                width:120px;
            }
        }
    }
    .slick-slider{
        @media screen and (max-width:600px){
            width: 90%;
            margin:auto;
        }

    }
}

.convenios{
    background-color:$gris-light;
    width:100%;
    min-height: 550px;
    &.white{
        background-color:$white;
        position: relative;
        bottom: -200px;
        z-index: 4;
        margin-top: -150px!important;
        border-radius: 0px 0px 150px 0px;
        @media screen and (max-width:600px){
            border-radius: 0px 0px 50px 0px;
        }
    }
    @media screen and (max-width:600px){
        min-height: 370px;
        height:auto;
    }
    .swiper-description-box{
        padding:0px 60px;
        @media screen and (min-width:600px) and (max-width:768px){
            padding:0px 10px;
        }
        .image-content{
            height:120px;
            display: flex;
            justify-content: center;
            align-content: center;
            img{
                width: auto;
                max-height: 120px;
                height: auto;
                align-self: center;
            }
        }
    }
    .swiper-slide{
        height: 350px;
    }
}


.tips-one-slide{
    .card{
        border:0;
        .card-img{
            width: 150px;
            height: auto;
            margin: 0 auto;
            position: absolute;
            top: 30px;
            right: 0;
            @media screen and (min-width:600px) and (max-width:768px){
                left:0;
                width:190px;
                top:80px;
            }
        }
        .card-body{
            .card-title{
                font-size: 2.1rem;
                font-family: "Barlow";
                font-weight: 600;
                color:$blue;
            }
            .card-text{
                padding-top:20px;
                color:$blue;
                font-family: "Barlow";
                font-weight: 600;
            }
        }
    }
    @media screen and (max-width:600px){
        width:90%;
        margin:auto;
        .card{
            .card-img{
                position:relative;
                top:0;
                width:200px;
            }
            .card-body{
                .card-title{
                    font-size:1.6rem;
                }
            }
        }
    }  
}

.bg-yellow{
    background-color:$yellow;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -200px;
    z-index: 4;
    margin-top: -150px !important;
    border-radius: 0px 0px 150px 0px;
    @media screen and (max-width:600px){
        border-radius: 0px 0px 50px 0px;
    }
    .two-houndred{
        margin-top: -200px !important;        
    }
    .container{
        max-width: 650px;
        padding: 6% 0;
        @media screen and (max-width:600px){
            padding:10% 15px;
        }
        h5{
            font-size: 2.4rem;
            color:$blue;
            font-family: "barlow";
            font-weight: 600;            
            text-align: center;
            @media screen and (max-width:600px){
                font-size:1.8rem;
            }
        }
        ul{
            list-style: disc;
            padding-left:20px;
            li{
                color:$blue;
                font-family: "barlow";
                font-weight: 600;            
                text-align: justify;
                line-height: 35px;
            }
        }
    }
}