<template>
  <div>
    <navb></navb>
    <template v-if="$vssWidth >= 768" >
      <Nuxt class="nuxt-body" v-if="!$store.state.isOpenSearch" />
      <searchbox v-else />
    </template>
    <template v-else>
      <Nuxt class="nuxt-body"  />
      <searchbox v-if="$store.state.isOpenSearch" />
    </template>
    <client-only>
      <cookie-law class="cookie-asbanc" :buttonDecline="true" buttonDeclineText="X" transitionName="slideFromBottom" buttonText="Aceptar Cookies">
        <div slot="message">
          <b>Cookies en este sitio</b>
          <p>En este sitio utilizamos cookies propias y de terceros con la finalidad de mejorar tu experiencia, nuestros servicios y mostrarte información de tu preferencia. Te invitamos a conocer nuestro aviso de privacidad, conoce cómo cambiar la configuración y obtén más información <router-link to="/politicas-de-privacidad">aquí</router-link></p>
        </div>
      </cookie-law>
    </client-only>
    <foot></foot>
  </div>
</template>
<script>
import navb from '@/components/Globals/Navbar'
import searchbox from '@/components/Globals/searchBox'
import Foot from '~/components/Globals/FooterPage.vue'
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size' 
export default {
  loading: false,
  mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  components:{
    navb,
    Foot,
    searchbox    
  },
  render: {
    csp: {
      hashAlgorithm: 'sha256',
      policies: {
        'default-src': ["'self'"],      
        'report-uri': ['https://report.example.com/report-csp-violations'],
        'script-src': [
          "'self'",
          "'unsafe-inline'"
        ],
      },
      addMeta: true
    }
  },
  head() {    
      return {
        title: 'Asbanc',
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
          {
            hid: 'description',
            name: 'description',
            content: 'Asbanc'
          },
          { hid: 'og:image', name: 'og:image', content: '/images/seo_image.jpg' }
        ],       
    }
  },
  methods:{
    showSearch(){
        if(this.$vssWidth >= 768){
          return this.$store.state.isOpenSearch
        }
    }
  },
  mounted(){    
    this.$store.dispatch('getGeneralSeo')    
  }
}
</script>
<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
