<template>
  <div class="container pt-5 pb-5 text-center">
    <h1 class="mt-5" v-if="error.statusCode === 404">Error 404</h1>
    <h1 class="mt-5" v-else-if="error.statusCode === 403">Error 403</h1>  
    <h1 class="mt-5" v-else-if="error.statusCode === 500">Error 500</h1>    
    <div v-else class="mt-5">
        <h2>Ha ocurrido un error </h2><br>        
    </div>    
    <p class="t-pink">{{error.message}}</p>
    <p>Compruebe que la dirección URL esté bien escrita, o</p><nuxt-link to="/"> vaya a la página principal del sitio</nuxt-link>
  </div>
</template>

<script>
  export default {
    props: ['error'],    
  }
</script>