<template>
  <div class="pt-5">
      <div class="template-info">
            <div class="breadcrump-base">
            <b-breadcrumb class="mt-sm-4 container">
                <b-breadcrumb-item to="/">
                <b-icon icon="house-door" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>            
                </b-breadcrumb-item>
                <b-breadcrumb-item to="/servicios">Servicios</b-breadcrumb-item>                            
                <b-breadcrumb-item active>{{ $route.params.slug}}</b-breadcrumb-item>
            </b-breadcrumb>
        </div>
        <socialfloat class="horizontal-icons"></socialfloat>
      <div class="container-fluid pt-4">
          <div class="row text-template pt-3">
                <div class="container">
                  <h2 class="text-center mx-auto title-services">{{service.title}}</h2>       
                </div>                                       
                <template v-if="service.template == '1'">                      
                        <div class="container">
                            <p v-for="text in service.text_content_first" :key="text.id" v-html="text.text"></p>       
                        </div>
                        <div v-for="image in service.text_image_first" :key="image.id">                                                
                            <div class="row mt-4 mb-4 two-columns-services">
                                
                                <div class="col-12 col-sm-6">
                                    <div class="container pl-lg-5 ml-lg-5 pr-lg-5">
                                        <p v-html="image.text"></p> 
                                    </div>                             
                                </div>
                                <div class="col-12 col-sm-6 col-with-img">
                                    <div v-if="image.type == 'IMAGE'">
                                        <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                        <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                    </div>
                                    <div v-else>
                                        <iframe class="iframe-video"
                                            :src="image.url">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                </template>
                <template v-else-if="service.template == '2'">          
                        <div class="container">
                            <p v-for="text in service.text_content_first" :key="text.id" v-html="text.text"></p>    
                            
                            <div  v-for="image in service.gallery_content_first" :key="image.id">
                                <div v-if="image.type == 'IMAGE'">
                                    <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                    <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                </div>
                                <div v-else>
                                    <iframe class="iframe-video"
                                    :src="image.url">
                                    </iframe>
                                </div> 
                            </div>
                            <p v-for="text in service.text_content_second" class="two-column-p" :key="text.id" v-html="text.text"></p>                         
                        </div>                            
                       
                  
                </template>
              <div class="container mx-auto text-center mt-3">
                  <a @click.prevent="downloadWithAxios(service.file,service.seo_url+'.pdf')" :href="service.file" class="mx-auto btn btn-global btn-pink" >Descargar Brochure <b-icon icon="download" aria-hidden="true"></b-icon></a>
              </div>
          </div>
      </div>        
      </div>
      <div class="bg-gray contact-container service-bg-gray">
          <div class="container">
                <h2 class="title">¿Deseas recibir más información?</h2>
                <div>
                    <b-form   class="col-12 row">
                        <div class="col-12 col-sm-6">                                                   

                            <b-form-group>
                                <ValidationProvider name="Nombre completo"  rules="alpha_spaces|min:2" v-slot="{ errors,invalid }">
                                    <b-form-input
                                    id="Fullname"
                                    :class="invalid ? 'invalid-input':''"
                                    v-model="form.fullname"
                                    placeholder="Nombre completo"    
                                    required                                                                                            
                                    ></b-form-input>
                                    <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>
                              <b-form-group>
                                <ValidationProvider name="teléfono" :rules="{ numeric: true,min: 9,max: 9, regex: /^([9]{1})([0-9]{1})/ }" v-slot="{ errors,invalid }">
                                    <b-form-input                                                
                                    id="phone"
                                    type="tel"    
                                    :class="invalid ? 'invalid-input':''"                                            
                                    v-model="form.phone"
                                    placeholder="Teléfono"  
                                    maxlength="9"  
                                    required                                           
                                    ></b-form-input>                                            
                                    <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>

                            <b-form-group>
                                <ValidationProvider name="correo" rules="email" v-slot="{ errors,invalid }">
                                <b-form-input
                                id="email"
                                v-model="form.email"
                                :class="invalid ? 'invalid-input':''"
                                type="email"
                                placeholder="Correo"     
                                required                                       
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>                                                        
                        </div>
                        <div class="col-12 col-sm-6">
                                              
                            <b-form-group>
                                <ValidationProvider name="Motivo"  rules="alpha_spaces|min:2" v-slot="{ errors,invalid }">
                                    <b-form-input
                                    id="input-2"
                                    v-model="form.reason"
                                    :class="invalid ? 'invalid-input':''"
                                    placeholder="Motivo"
                                    required
                                    ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>
                              <b-form-group id="input-group-2">
                                <b-form-textarea
                                    v-model="form.comment"
                                    id="textarea-input"
                                    placeholder="Mensaje"
                                    rows="3"
                                    required
                                ></b-form-textarea>
                            </b-form-group>                            
                        </div>
                        <b-form-group class="mx-auto ">
                            <b-form-checkbox
                                id="checkbox-1"
                                v-model="terms"
                                name="checkbox-1"
                                value="accepted"
                                unchecked-value="not_accepted"
                            >
                            He leído y acepto los <nuxt-link to="/terminos-y-condiciones">términos y condiciones</nuxt-link>
                            </b-form-checkbox>
                            <b-form-checkbox
                                id="checkbox-2"
                                v-model="politics"
                                name="checkbox-2"
                                value="accepted"
                                unchecked-value="not_accepted"
                            >
                            He leído y acepto las <nuxt-link to="/politicas-de-privacidad">políticas de privacidad</nuxt-link>
                            </b-form-checkbox>
                            <b-button @click.prevent="contactSend('CONTACT')" class="btn-global btn-pink mx-auto d-flex justify-content-center mt-4" type="button" variant="primary">{{sendtext}}</b-button>
                        </b-form-group>
                    </b-form>
                    
                </div>
          </div>
      </div>
      <div>        
        <b-button id="toggle-btn" @click="hideModal">Cerrar</b-button>

        <b-modal modal-class="modal-thanks" hide-header ref="my-modal" centered hide-footer>
        <div class="d-block text-center">
            <img src="/images/check-like.png" alt="">
            <h3>                
                <span>¡Gracias!</span><br>
                Pronto recibirás más información.
            </h3>
        </div>
        <b-button class="mt-3 bottom-btn-close" block @click="hideModal">Cerrar</b-button>        
        </b-modal>
    </div>
  </div>
</template>

<script>
import socialfloat from '@/components/Globals/social-float'
import informationTemplates from '@/components/Globals/informationTemplates'
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
    components:{
        socialfloat,
        informationTemplates,
        ValidationObserver,
        ValidationProvider
    },
    async asyncData({ $axios, route }) {
        const services = await $axios.$get(`/service/?seo_url=${route.params.slug}`)        
        const service = services[0]                     
        return { service }
    },
    methods:{
        hideModal() {
            this.$refs['my-modal'].hide()
        },
        showModal() {
            this.$refs['my-modal'].show()
        },
        forceFileDownload(response, title) {
            console.log(title)
            const url = window.URL.createObjectURL(new Blob([response.data]))
            const link = document.createElement('a')
            link.href = url
            link.setAttribute('download', title)
            document.body.appendChild(link)
            link.click()
        },
        downloadWithAxios(url, title) {
            this.$axios({
                method: 'get',
                url,
                responseType: 'arraybuffer',
            })
                .then((response) => {
                this.forceFileDownload(response, title)
                })
                .catch((e) => console.log('error occured ' + e))
        },  
          contactSend(origin){
            var vm = this;
            var fullname = this.form.fullname.split(' ');
            var name = fullname[0];
            var lastname = fullname[1];
            var data = {
                "array_to_create": [
                    {
                        "register_date": this.$moment().format('YYYY-MM-DD'),
                            "origin": origin,
                            "title": this.form.reason,
                            "motive": this.form.reason,
                            "comment": this.form.comment,
                            "state": 'REGISTERED',
                            "name": name,
                            "last_name": lastname,
                            "mobile": this.form.phone,
                            "email": this.form.email,
                    }
                ]
            }

            vm.$axios.$post('contact/',data).then(function(response){                                       
                    if(response){          
                        vm.showModal()                                                                        
                        vm.sendtext = 'Enviar'
                        vm.form.fullname = ''
                        vm.form.reason = ''
                        vm.form.phone = ''
                        vm.form.comment = ''
                        vm.form.email = ''                        
                    }else{
                        console.log('Algo ha sucedido..');
                    }           
            });  
        }, 
    },
    data(){
        return{
            form:{
                fullname:'',
                email:'',
                phone:'',
                reason:'',
                comment:''
            },
            politics:'',
            terms:'',
            sendtext:'Enviar'
        }
    }
}
</script>

<style lang="scss" scoped>
.big-image{
    height: 325px;
    position: relative;
    left: 65px;
    @media screen and (max-width:1024px){
        width:100%;
        height:auto;
    }
    
}
.title-services{
    @media screen and (min-width:1024px){
        max-width:910px;        
    }
}
.title-services{
    .text-template{
        img{
            border-radius: 25px 0px 0px;
        }
    }
}
.two-columns-services{
    img{
        padding-right:0;
        border-radius: 25px 0px 0px;
    }
    @media screen and (min-width:1024px) and (max-width:1367px){
        max-width: 1364px;
        img{
            padding-right:0;
            border-radius: 25px 0px 0px;
        }
        .col-with-img{
            padding-right:0;
            margin-right: 0;
        }
    }
    
}
.two-column-p{
    margin-top:15px;
    @media screen and (min-width:768px){
         column-count: 2;
    }
}
.iframe-video{
    width:100%;
    height: 550px;
     @media screen and (max-width:600px){
         height:250px;
         overflow: hidden;
         border-radius: 10px;         
     }
}
</style>