<template>
  <div class="container">
      <div class="d-flex flex-column justify-content-center mt-5 mb-5">
        <h3>No se encontró la página</h3>
        <p>La página que busca no existe</p>
        <p>Compruebe que la dirección URL esté bien escrita, o</p><nuxt-link to="/">vaya a la página principal del sitio</nuxt-link>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>