<template>
  <div>
        <div class="mapa mt-3" >
                <iframe class="iframe" src="https://maps.google.com/?ll=-12.0937899,-77.0060724&z=14&t=m&output=embed" height="600" frameborder="0" style="border:0" allowfullscreen>
                        
                </iframe>
                <div class="bg-pink">
                    <h2 class="pb-4">Mesa de partes</h2>                    
                    <p class="pb-2"><img class="pr-2" src="/images/mail.png" alt=""> {{contactoInfo[0].contact_email}}</p>
                    <p class="pb-2"><img class="pr-2" src="/images/map-select.png" alt="">  <span>{{contactoInfo[0].contact_address}}</span></p>
                    <p class="pb-0 mb-0"><img class="pr-2" src="/images/phone-ring.png" alt=""> {{contactoInfo[0].contact_mobile}}</p>
                </div>
        </div>
        <div class="bg-gray contact-container contact-gray">
            <div class="container">
                <h2 class="title">Formulario de contacto</h2>
                    <div>
                        <b-form   class="col-12 row">
                            <div class="col-12 col-sm-6">                                                   

                                        <b-form-group>
                                            <b-form-input
                                            id="Fullname"
                                            v-model="form.fullname"
                                            placeholder="Nombre completo"
                                            @change="allFulled"
                                            required
                                            ></b-form-input>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-form-input
                                            id="phone"
                                            type="tel"
                                            v-model="form.phone"
                                            maxlength="9"
                                            @change="allFulled"
                                            placeholder="Teléfono"
                                            required
                                            ></b-form-input>
                                        </b-form-group>

                                        <b-form-group>
                                            <b-form-input
                                            id="email"
                                            v-model="form.email"
                                            type="email"
                                            @change="allFulled"
                                            placeholder="Correo"
                                            required
                                            ></b-form-input>
                                        </b-form-group>                                                        
                                    </div>
                                    <div class="col-12 col-sm-6">
                                                        
                                        <b-form-group>
                                            <b-form-input
                                            id="input-2"
                                            v-model="form.reason"
                                            placeholder="Motivo"
                                            required
                                            ></b-form-input>
                                        </b-form-group>
                                        <b-form-group id="input-group-2">
                                            <b-form-textarea
                                                id="textarea-input"
                                                placeholder="Mensaje"
                                                rows="3"
                                            ></b-form-textarea>
                                        </b-form-group>                            
                                    </div>
                                    <b-form-group class="mx-auto ">
                                        <b-form-checkbox
                                            id="checkbox-1"
                                            v-model="terms"
                                            name="checkbox-1"
                                            value="accepted"
                                            @change="allFulled"
                                            class="checkbox-contact"
                                        >
                                        He leído y acepto los <nuxt-link to="/terminos-y-condiciones">términos y condiciones</nuxt-link>
                                        </b-form-checkbox>
                                        <b-form-checkbox
                                            id="checkbox-2"
                                            v-model="politics"
                                            name="checkbox-2"
                                            value="accepted"
                                            @change="allFulled"
                                            class="checkbox-contact"
                                        >
                                        He leído y acepto las <nuxt-link to="/politicas-de-privacidad">políticas de privacidad</nuxt-link>
                                        </b-form-checkbox>                                        
                                        <b-button @click.prevent="contactSend('CONTACT')" class="btn-global btn-pink mx-auto d-flex justify-content-center mt-4" :disabled="notOk" type="button" variant="primary">{{sendtext}}</b-button>                                                                    
                                    </b-form-group>
                                    
                        </b-form>
                                
                    </div>
                </div>
        </div>
  </div>
</template>

<script>
export default {
    async asyncData({ $axios }) {     
        const seos = await $axios.$get(`/seo/`)
        const seo  = seos.filter((seo) => seo.origin == 'CONTACT')                     
        const contactoInfo = await $axios.$get(`/other-pages/`)   
        return { contactoInfo,seo }
    },
    head() {    
          return {
              title: this.seo[0].seo_title,
              meta: [
              { charset: 'utf-8' },
              { name: 'viewport', content: 'width=device-width, initial-scale=1' },
              {
                  hid: 'description',
                  name: 'description',
                  content: this.seo[0].seo_description
              },
              {
                  hid: 'keywords',
                  name: 'keywords',
                  content: this.seo[0].seo_keyword
              },
              { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
              ],       
          }
    },
    data(){
        return{
            form:{
                fullname:'',
                email:'',
                phone:'',
                reason:'',
                comment:''
            },
            sendtext:'Enviar',
            politics:false,
            terms:false,
            notOk: true
        }
    }, 
    methods:{
         allFulled(){
             console.log(this.form.fullname.length)
            if(this.terms && this.politics && this.form.fullname.length > 0 && this.form.email.length > 0 && this.form.phone.length > 0 && this.form.reason.length > 0){                
                this.notOk = false
            }else{                
                this.notOk = true
            }
        },
         contactSend(origin){
            var vm = this;
            var fullname = this.form.fullname.split(' ');
            var name = fullname[0];
            var lastname = fullname[1];
            var data = {
                "array_to_create": [
                    {
                        "register_date": this.$moment(),
                            "origin": origin,
                            "title": this.form.reason,
                            "motive": this.form.reason,
                            "comment": this.form.comment,
                            "state": 'REGISTERED',
                            "name": name,
                            "last_name": lastname,
                            "mobile": this.form.phone,
                            "email": this.form.email,
                    }
                ]
            }

            vm.$axios.$post('contact/',data).then(function(response){                        
                    if(response){                                                                                  
                        vm.sendtext = 'Enviado'
                    }else{
                        console.log('Algo ha sucedido..');
                    }           
            });  
        },
    }
}
</script>

<style lang="scss">
    .contact-gray{
            border-radius: 0px 0px 150px 0px;
            position: relative;
            bottom: -200px;
            z-index: 4;
            margin-top: -20px;
            padding-top: 40px;
            top: 0;
            margin-bottom: -180px;
            @media screen and (max-width:600px) {
                margin-top:-35px;
                border-radius: 0px 0px 50px 0px;
            }
    }
    .mapa{
        position: relative;
        @media screen and (max-width:600px) {
            top:-30px;
        }
        .iframe{
            width:100%;
        }
        .bg-pink{
            position:absolute;
            left:0;
            right:0;
            top:25%;
            margin:0 auto;
            width:410px;
            height:281px;
            background: #F142AF;
            border-radius: 50px 0px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            @media screen and (max-width:600px) {
                border-radius: 0;
                top:0%;
                width:100%;
            }
            h2{
                color:white;
                text-align: center;
            }
            p{
                color:white;
                text-align: left;
                width:75%;
                @media screen and (max-width:600px) {
                    width:80%;
                }
            }
        }
    }
</style>