<template>
    <div>      
        <h1 class="title pt-5">
            Educación Financiera
        </h1>  
        <div class="bg-gray">
                <div class="container">
                                      
                    <div class="d-flex justify-content-center title-section">                        
                        <h1 class="title w-100 d-block">
                            Lo más relevante
                    </h1>         
                    <div class="filter align-self-end">
                          <b-button v-b-toggle.temas-1 variant="link">Temas <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>

                        <b-collapse id="temas-1" class="mt-2 dropdown-radius dropdown-theme-2" v-if="themes.length">
                            <b-card v-for="theme in themes" :key="theme.id">                            
                                <b-button v-b-toggle="`collapse-${theme.id}-inner`" size="sm">{{ theme.title }}</b-button>
                                <b-collapse :id="`collapse-${theme.id}-inner`" class="mt-2">
                                    <b-card class="subthemecard" @click.prevent="selectSub(sub.id)" v-for="sub in theme.sub_theme" :key="sub.id">{{ sub.title }}</b-card>
                                </b-collapse>
                            </b-card>                         
                        </b-collapse>                        
                    </div>
                    </div>
                    <b-card-group class="banked-clients" v-if="bankedRelevant.length" deck>
                        <b-card class="card-styling" v-for="(bank,index) in bankedRelevant" v-show="index <= 1" :key="bank.id">
                            <div class="hardcode-img-card">                                                        
                                <div  v-if="bank.type == 'IMAGE'" class="img-card" :style="`background-image:url(${bank.file})`"></div>
                                <video-player class="videoCard" v-else-if="bank.type == 'VIDEO'" :srcVideo="bank.file"></video-player>
                                <iframe controls="0" v-else-if="bank.type == 'URL' && bank.url != ''" class="videoCard" width="420" height="250"
                                :src="bank.url+'?controls=0&showinfo=1&rel=0&modestbranding=0'">
                                </iframe>
                                <img v-else src="/images/img_card.jpg" alt="img">
                            </div>
                            <h3>{{bank.title | truncate(100)}}</h3>
                            <b-card-text>
                            {{ bank.text | truncate(100) }}
                            </b-card-text>
                            <a :href="'/educacion_financiera/'+bank.seo_url" class="btn btn-global btn-blank-pink">Leer noticia</a>
                        </b-card>                        
                          
                    </b-card-group>
                    <div class="container" v-else>
                        <p class="text-center t-blue">No hay información relevada sobre educación financiera..</p>
                    </div>
                </div>
        </div>
        <div class="bg-yellow-bancarizados blue-b pt-5" style="background-image:url('/images/abstract-logo-bg.svg')">
                <div class="container pt-5" >
                    <h1 class="title">
                        Más temas de interés
                    </h1>
                    <CardsBox v-if="banked.length" urlIntern="educacion_financiera" :limitCard="maxShow" :datas="banked" :subtheme="filtersubtheme.toString()" class="mb-5 pl-4 pr-4" btnStyle="blank-pink" btnText="Leer noticia" @showMore="showMoreCard"  globalBtnStyle="pink" :globalBtnText="BtnCardText" />
                    <!-- <div class="container" v-else>
                        <h3 class="text-center t-blue">No hay información sobre educación financiera..</h3>
                    </div> -->
                </div>
                
        </div>
    </div>
</template>

<script>
import CardsBox from '@/components/Globals/CardsBox'
export default {
    components:{
        CardsBox        
    },
    data(){
        return{
            relevant:false,
            filtertheme:'',
            filtersubtheme:'',
            themes:[],
            banked:[],
            bankedRelevant:[],
            maxShow:3,
            totalShow:0,
            BtnCardText:'Ver más información'
        }
    },
    head() {    
        return {
            title: this.seo[0].seo_title,
            meta: [
            { charset: 'utf-8' },
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                hid: 'description',
                name: 'description',
                content: this.seo[0].seo_description
            },
            {
                hid: 'keywords',
                name: 'keywords',
                content: this.seo[0].seo_keyword
            },
            { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
            ],       
        }
    },
    async asyncData({ $axios }) {
        const seos = await $axios.$get(`/seo/`)
        const seo  = seos.filter((seo) => seo.origin == 'FINANCIAL')
        const themes = await $axios.$get(`/no-banked/theme/`)     
        const banked = await $axios.$get(`/no-banked/tips/`)
        const bankedRelevant = await $axios.$get(`/no-banked/tips/?relevant=false`)   
    return { themes, banked, bankedRelevant,seo }
    },
    mounted(){
        this.totalShow = this.banked.length
        console.log(this.banked.length)    
    },
    filters:{
        truncate(value,length){
            length = length || 15;
            if (!value || typeof value !== "string") return "";
            if (value.length <= length) return value;
            return value.substring(0, length) + "...";
        }
    },
    methods:{
        async selectSub(id){
             const subtheme = await this.$axios.$get(`/no-banked/tips/?subtheme=${id}`)
             const subtheme_relevant = await this.$axios.$get(`/no-banked/tips/?relevant=false&subtheme=${id}`)
            this.filtersubtheme = id
            this.banked = subtheme
            this.bankedRelevant = subtheme_relevant
            this.$root.$emit('bv::toggle::collapse', 'temas-1')
        },
        showMoreCard(){            
            var currentLength = this.banked.length
            var compare = currentLength - 3
            if(Math.sign(compare) == -1){
                console.log('es negativo')
            }else{
                if(compare.length >= 3){                    
                    this.maxShow = this.maxShow + 3
                }else{
                    this.maxShow = this.maxShow + compare   
                    this.BtnCardText = ''                 
                }
            }
        }   
    }
}
</script>

<style>

</style>