<template>
  <div class="pt-5 ">          
    <div class="bg-white-rounded">
          <div class="container">
            <h1 class="title">
                Estadística del sector
            </h1>  
        
        <div class="dropdown-zone" v-if="reportBank && trimesterReport && tamborList">
            <b-dropdown id="dropdown-asosiacion" :text="tabIndex == 0 ? reportBank.seo_title: tabIndex == 1 ? trimesterReport.seo_title:'Tasa limabor'" class="d-block d-sm-none mx-auto">
                <b-dropdown-item v-show="tabIndex != 0" @click="tabIndex = 0">{{reportBank.seo_title}}</b-dropdown-item>
                <b-dropdown-item v-show="tabIndex != 1" @click="tabIndex = 1">{{trimesterReport.seo_title}} </b-dropdown-item>
                <b-dropdown-item v-show="tabIndex != 2" @click="tabIndex = 2">Tasa limabor</b-dropdown-item>            
            </b-dropdown>
        </div>

        <b-tabs content-class="mt-sm-4 mb-5 pt-sm-4 tab-global" v-model="tabIndex" justified>            
            <b-tab class="tabs-asociacion" v-for="tab in tabInfo" :key="tab.id" :title="tab.title">
                    <div class="container">           
                        <p class="text-left t-blue pl-sm-4 pr-sm-4 pb-3" v-if="tab.id == 2 && trimesterReport != null" v-html="trimesterReport.text"></p>             
                    </div>                                                                        

                    <div class="container">
                        <div class="w-100 d-flex justify-content-center justify-content-sm-end" v-if="tab.id == 2">
                            <div class="filter-year align-self-center align-self-sm-end text-center p-sm-4 pr-sm-5" >
                                <b-button v-b-toggle.year-1 variant="link">{{yearTri}} <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>
                                <b-collapse id="year-1" class="mt-2">
                                    <b-card v-for="(year,index) in yearList" :key="index">                            
                                        <b-button @click.prevent="selectYear(year)" size="sm">{{ year }}</b-button>                                      
                                    </b-card>                                                                               
                                </b-collapse>
                            </div>
                        </div>                                             
                        <p class="text-left t-blue pl-sm-4 pr-sm-4 mb-0" v-if="tab.id == 1 && reportBank != null" v-html="reportBank.text"></p>    
                         <div class="w-100 d-flex justify-content-center justify-content-sm-end" v-if="tab.id == 1">
                            <div class="filter-year align-self-center align-self-sm-end text-center p-sm-2 pr-sm-2" v-if="tab.id == 1">
                                <b-button v-b-toggle.year-2 variant="link">{{yearBank}} <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>
                                <b-collapse id="year-2" class="p-0 m-0">
                                    <b-card v-for="(year,index) in yearListBank" :key="index">                            
                                        <b-button @click.prevent="selectYearBank(year)" size="sm">{{ year }}</b-button>                                      
                                    </b-card>                                                                               
                                </b-collapse>
                            </div>
                            <div class="filter-year align-self-center align-self-sm-end text-center p-sm-2 pr-sm-5" v-if="tab.id == 1">
                                <b-button v-b-toggle.month-1 variant="link">{{MonthBank}} <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>
                                <b-collapse id="month-1" class="p-0 m-0">
                                    <b-card v-for="(month,index) in monthListBank" :key="index">                            
                                        <b-button @click.prevent="selectMonthBank(month)" size="sm">{{ month }}</b-button>                                      
                                    </b-card>                                                                               
                                </b-collapse>
                            </div>
                        </div>                  
                        <CardBox :monthSelected="MonthBankSelected" :yearSelected="yearBankSelected" urlIntern="estadistica-del-sector" v-if="tab.id == 1" :loadMoreData="true" :limitCard="maxShow" :datas="reportBank.list_banking_reports" :bankreport="true" :subtheme="filtersubtheme.toString()" class="mb-5 pl-4 pr-4" btnStyle="blank-pink" btnText="Leer noticia" @showMore="showMoreCard"  globalBtnStyle="pink" :globalBtnText="BtnCardText" />
                                                   
                        <div v-else-if="tab.id == 2" class="row mx-auto d-flex justify-content-center">                            
                            <template v-if="trimesterReport.list_reports != undefined">
                                
                                <div class="notify-box mt-4 col-sm-5 col-12 yellow-content tiny ml-sm-3 mr-sm-3" v-for="report in trimesterListReport" :key="report.id"  style="background-image:url('/images/abstract-logo-bg.svg')">
                                    <div class="container text-center">                                    
                                        <h3> {{report.title}}</h3>
                                        <p>Trimestre: {{report.trimester}} - {{ report.year }}</p>
                                        <a :href="report.file_evolution" class="text-center p-3 pt-4" @click.prevent="downloadWithAxios(report.file_evolution,report.title+'.pdf')">Descargar <b-icon icon="download" aria-hidden="true"></b-icon></a>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <p>No hay reportes trimestrales cargados.</p>
                            </template>
                        </div>

                        <div v-else>
                            <div class="row mx-auto d-flex justify-content-center" v-if="tamborList">
                                <p class="text-left t-blue pl-sm-4 pr-sm-4 pb-3" v-if="tamborList[0].text" v-html="tamborList[0].text"></p>
                                <div class="notify-box col-sm-5 col-12 blue-content tiny ml-sm-3 mr-sm-3" v-for="tambor in tamborList" :key="tambor.id"  style="background-image:url('/images/abstract-logo-bg.svg')">                                    
                                    <div class="container text-center">                                                                            
                                        <h3>{{tambor.title_limabor}}</h3>                                        
                                        <a :href="tambor.file_limabor" class="text-center p-3 pt-4" @click.prevent="downloadWithAxios(tambor.file_limabor,tambor.title_limabor+'.pdf')">Descargar <b-icon icon="download" aria-hidden="true"></b-icon></a>
                                    </div>
                                </div>
                                <div class="w-100 text-center mt-5">
                                    <p class="t-blue font-weight-bold">Actualizado al {{trimesterReport.updated_date}}</p>
                                </div>
                            </div>
                            <div v-else>
                                <p>No hay Tasa limabor cargados.</p>
                            </div>
                        </div>                      
                    </div>                          
            </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>


</template>

<script>
import CardBox from '~/components/Globals/CardBox.vue';
  export default {    
    components:{        
        CardBox
    },
    head() {    
        return {
            title: this.seo[0].seo_title,
            meta: [
            { charset: 'utf-8' },
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                hid: 'description',
                name: 'description',
                content: this.seo[0].seo_description
            },
            {
                hid: 'keywords',
                name: 'keywords',
                content: this.seo[0].seo_keyword
            },
            { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
            ],       
        }
    },
    data(){
        return{
            tabIndex:0,
            maxShow:3,
            tabSelected:0,
            totalShow:0,
            filtersubtheme:'',
            yearBank:'Año',
            yearBankSelected:0,
            MonthBank:'Mes',
            MonthBankSelected:0,
            yearTri:'Año',
            BtnCardText:'Ver más información',
            tabInfo:[
                {   
                    id:1,
                    title:'Informe bancario'                   
                },
                {   
                    id:2,
                    title:'Informe trimestral'                 
                },
                {   
                    id:3,
                    title:'Tasa limabor'               
                }                        
            ],           
            reportBank:[],
            trimesterReport:[],
            tamborList:[],
            yearList:[],            
            yearListBank:[],    
            monthListBank:[],    
        }
    },
    async asyncData({ $axios }) {
        const seos = await $axios.$get(`/seo/`)
        const seo  = seos.filter((seo) => seo.origin == 'STADISTIC')     
        const report = await $axios.$get(`/banking-reports/`) 
        const trimester = await $axios.$get(`/trimester-reports/`)    
        const trimesterListReport = await $axios.$get(`/trimester-list-reports/`)            
        const tambor = await $axios.$get(`/rate/`) 
                  
        const reportBank = report[0],
            trimesterReport = trimester[0],
            tamborList = tambor;                
                
        return { reportBank,trimesterReport, trimesterListReport ,tamborList,seo }
    },    
    methods:{
        forceFileDownload(response, title) {
            console.log(title)
            const url = window.URL.createObjectURL(new Blob([response.data]))
            const link = document.createElement('a')
            link.href = url
            link.setAttribute('download', title)
            document.body.appendChild(link)
            link.click()
        },
        downloadWithAxios(url, title) {
            this.$axios({
                method: 'get',
                url,
                responseType: 'arraybuffer',
            })
                .then((response) => {
                this.forceFileDownload(response, title)
                })
                .catch(() => console.log('error occured'))
        },   
        linkTab(idx) {
            if (this.tabIndex === idx) {
            return ['bg-primary', 'text-light']
            } else {
            return ['bg-light', 'text-info']
            }
        },
        preSelectSection(hash){
            if(hash.includes('informe-bancario')){
                this.tabIndex = 0
            }else if(hash.includes('informe-trimestral')){
                this.tabIndex = 1
            }else if(hash.includes('tasa-limabor')){
                this.tabIndex = 2
            }
        },
        filterYear(){            
            for(var year in this.trimesterReport.list_reports){
                if(this.yearList.indexOf(this.trimesterListReport[year].year) === -1){
                    this.yearList.push(this.trimesterListReport[year].year)
                }
            }
            for(var year in this.reportBank.list_banking_reports){                
                if(this.yearListBank.indexOf(this.reportBank.list_banking_reports[year].register_date.split('-')[0])){
                    this.yearListBank.push(this.reportBank.list_banking_reports[year].register_date.split('-')[0])    
                }            
            }
            for(var month in this.reportBank.list_banking_reports){                
                if(this.monthListBank.indexOf(this.reportBank.list_banking_reports[month].register_date.split('-')[1])){
                    this.monthListBank.push(this.reportBank.list_banking_reports[month].register_date.split('-')[1])    
                }            
            }
            
        },               
        async selectYear(year){
            const yearSelect = await this.$axios.$get(`/trimester-list-reports/?year=${year}`)             
            this.trimesterListReport = yearSelect    
            this.yearTri = year        
            this.$root.$emit('bv::toggle::collapse', 'year-1')
        },
        async selectYearBank(year){
            const yearSelect = await this.$axios.$get(`/list-banking-reports/?year=${year}`)             
            // this.reportBank = yearSelect     
            this.yearBankSelected = parseInt(year)
            this.$root.$emit('bv::toggle::collapse', 'year-2')
        },
        async selectMonthBank(month){
            const monthSelect = await this.$axios.$get(`/list-banking-reports/?month=${month}`)             
            this.MonthBankSelected = parseInt(month)
            this.$root.$emit('bv::toggle::collapse', 'month-1')
        },
        async selectMonthAndYearBank(month,year){            
            const monthYearSelect = await this.$axios.$get(`/list-banking-reports/?year=${year}?month=${month}`)             
            this.reportBank = monthYearSelect            
            this.$root.$emit('bv::toggle::collapse', 'year-2')
            this.$root.$emit('bv::toggle::collapse', 'month-1')
        },
        showMoreCard(){            
            var currentLength = this.tabInfo.length
            var compare = currentLength - 3
            if(Math.sign(compare) == -1){                
            }else{
                if(compare.length >= 3){                    
                    this.maxShow = this.maxShow + 3
                }else{
                    this.maxShow = this.maxShow + compare   
                    this.BtnCardText = ''                 
                }
            }
        } 
    },
    created(){        
        this.preSelectSection(this.$route.hash)        
    },
    mounted(){
        this.filterYear()
    }    

}
</script>

<style>

</style>