<template>
  <div class="events-section">
    <h3 class="title mt-5">Eventos 2021</h3>       
        <div class="dropdown-zone">
            <b-dropdown id="dropdown-asosiacion" :text="tabSelected == 0 ? 'Eventos': 'Webinars'" class="d-block d-sm-none mx-auto">
                <b-dropdown-item v-show="tabSelected != 0" @click="tabSelected = 0">Eventos</b-dropdown-item>
                <b-dropdown-item v-show="tabSelected != 1" @click="tabSelected = 1">Webinars</b-dropdown-item>                        
            </b-dropdown>
        </div>
         <b-tabs content-class="mt-sm-4 mb-5 pt-sm-4 tab-global" v-model="tabIndex" justified>            
            <b-tab class="tabs-asociacion" v-for="tab in tabInfo" :key="tab.id" :title="tab.title">
                <div class="container" v-if="tab.id == 0">
                    <div class="title-section two-filters">
                        <div class="filter align-self-center align-self-sm-end text-center">
                            <b-button v-b-toggle.mesE-1 variant="link">{{mesT}}  <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>
                            <b-button v-b-toggle.temasE-1 variant="link">{{ThemeT}}  <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>

                            <b-collapse id="mesE-1" class="mt-2 ml-3">
                                <b-card v-for="(mes,index) in eventMonthList" :key="index">                            
                                    <b-button class="hide-chevron" @click.prevent="selectMonth('event',mes)" size="sm">{{ mes }}</b-button>                                
                                </b-card>                         
                            </b-collapse>
                            <b-collapse id="temasE-1" class="mt-2 eventcollapse" v-if="eventsTheme != ''">
                                <b-card v-for="theme in eventsTheme" :key="theme.id">                            
                                    <b-button @click.prevent="selectThemeEvent('event',theme.name)" size="sm">{{ theme.name }}</b-button>                                
                                </b-card>                         
                            </b-collapse>
                        </div>
                    </div>
                    <div class="incoming">
                        <b-card @click.prevent="goTo(`/evento/${data.seo_url}`)" v-for="(data,index) in events.slice(0,1)" :key="index" class="card-styling full-width-card hover-card">      
                            <div class="hardcode-img-card" :style="`background-image:url('${data.main_image}')`"></div>
                            <h3>{{data.title | truncate(100)}}</h3>
                            <b-card-text>
                                <span v-for="info in data.information" :key="info.id" v-html="$options.filters.truncate(info.text,100)"></span>
                            </b-card-text>                                                        
                                                                                 
                        </b-card>  
                    </div>
                    <b-card-group class="row justify-content-sm-around mt-5">
                        <b-card  v-for="(data,index) in paginatedEvents" v-if="index > 0" :key="data.id" class="card-styling two-columns">      
                            <div class="hardcode-img-card">
                            <img :src="data.main_image" alt="img">                                
                            <small class="date">{{ data.register_date }}</small>
                            </div>
                            <h3>{{data.title | truncate(100)}}</h3>
                            <b-card-text>
                            <span v-for="info in data.information" :key="info.id" v-html="$options.filters.truncate(info.text,100)"></span>
                            </b-card-text>                                                        
                            <NuxtLink :to="`/evento/${data.seo_url}`" class="btn btn-global btn-blank-pink">Leer noticia</NuxtLink>
                        </b-card>  
                    </b-card-group>
                    <button class="btn btn-global btn-pink" @click="loadMoreE" v-if="currentPageE * maxPerPage < events.length">
                        Ver mas eventos
                    </button>
                </div>
                <!-- webinars -->
                <div class="container" v-if="tab.id == 1">
                    <div class="title-section two-filters">
                        <div class="filter align-self-center align-self-sm-end text-center">
                            <b-button v-b-toggle.mesW-1 variant="link">{{mesWT}}  <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>
                            <b-button v-b-toggle.temasW-1 variant="link">{{ThemeWT}}  <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>

                            <b-collapse id="mesW-1" class="mt-2 ml-3">
                                <b-card v-for="(mes,index) in webinarMonthList" :key="index">                            
                                    <b-button class="hide-chevron" @click.prevent="selectMonth('webinar',mes)" size="sm">{{ mes }}</b-button>                                
                                </b-card>                         
                            </b-collapse>
                            <b-collapse id="temasW-1" class="mt-2 eventcollapse" v-if="webinarsTheme != ''">
                                <b-card v-for="theme in webinarsTheme" :key="theme.id">                            
                                    <b-button @click.prevent="selectThemeEvent('webinar',theme.name)" size="sm">{{ theme.name }}</b-button>                                
                                </b-card>                         
                            </b-collapse>
                        </div>
                    </div>
                    <div class="incoming">
                        <b-card @click.prevent="goTo(`/webinar/${data.seo_url}`)" v-for="(data,index) in webinars.slice(0,1)" :key="index" class="card-styling full-width-card hover-card">      
                            <div class="hardcode-img-card" :style="`background-image:url('${data.main_image}')`">
                            <!-- <img v-if="data.type == 'IMAGE'" :src="data.file" alt="img"> -->
                            <!-- <video-player class="videoCard" v-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player> -->

                            <small v-show="data.type != 'VIDEO'" class="date">{{ data.register_date }}</small>
                            </div>
                            <h3>{{data.title | truncate(100)}}</h3>
                            <b-card-text>
                                <span v-for="detail in data.webinar_detail" :key="detail.id"  v-html="$options.filters.truncate(detail.description,100)"></span>
                            </b-card-text>                                                        
                                                                                 
                        </b-card>  
                    </div>
                    <b-card-group class="row justify-content-sm-around mt-5">
                        <b-card v-for="(data,index) in paginatedWebinars" v-show="index > 0" :key="data.id" class="card-styling two-columns">      
                                <div class="hardcode-img-card">
                                <img :src="data.main_image" alt="img">
                                
                                <small class="date">{{ data.register_date }}</small>
                                </div>
                                <h3>{{data.title | truncate(100)}}</h3>
                                <b-card-text>
                                    <span v-for="detail in data.webinar_detail" :key="detail.id"  v-html="$options.filters.truncate(detail.description,100)"></span>
                                </b-card-text>                                                        
                                <NuxtLink :to="`/webinar/${data.seo_url}`" class="btn btn-global btn-blank-pink">Leer noticia</NuxtLink>                                                                                    
                        </b-card>  
                    </b-card-group>                    
                    <button class="btn btn-global btn-pink" @click="loadMoreW" v-if="currentPageW * maxPerPage < webinars.length">
                        Ver mas webinars
                    </button>
                </div>                                    
            </b-tab>
        </b-tabs>
        
        <whatsapp url="https://web.whatsapp.com/"></whatsapp>
  </div>
</template>

<script>
import videoPlayer from '@/components/Globals/VideoPlayer'
import CardsBox from '@/components/Globals/CardsBox'
import Whatsapp from '~/components/Globals/whatsapp.vue'
export default {
    head() {    
          return {
              title: this.seo[0].seo_title,
              meta: [
              { charset: 'utf-8' },
              { name: 'viewport', content: 'width=device-width, initial-scale=1' },
              {
                  hid: 'description',
                  name: 'description',
                  content: this.seo[0].seo_description
              },
              {
                  hid: 'keywords',
                  name: 'keywords',
                  content: this.seo[0].seo_keyword
              },
              { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
              ],       
          }
    },
    data(){
        return{
            tabSelected:0,
            tabIndex:0,            
            BtnCardText:'',
            mesT:'Mes',
            mesWT:'Mes',
            ThemeT:'Temas',
            ThemeWT:'Temas',
            mesE:[],
            themesE:[],
            mesW:[],
            themesW:[],
            tabInfo:[
                {   
                    id:0,
                    title:'Eventos'                   
                },
                {   
                    id:1,
                    title:'Webinars'                 
                }                       
            ],
            news:[],
            webinars:[],
            events:[],
            eventMonthList:[],
            eventTheme:[],
            webinarMonthList:[],
            webinarTheme:[],
            currentPageE: 1,
            currentPageW: 1,
            maxPerPage: 5,
            showReadMore: true
        }
    },
    filters:{
        truncate(value,length){
            length = length || 15;
            if (!value || typeof value !== "string") return "";
            if (value.length <= length) return value;
            return value.substring(0, length) + "...";
        }
    },
    async asyncData({ $axios }) {        
        const seos = await $axios.$get(`/seo/`)
        const seo  = seos.filter((seo) => seo.origin == 'EVENT')
        const webinars = await $axios.$get(`/webinars/`)
        const events = await $axios.$get(`/events/`)
        const webinarsTheme = await $axios.$get(`/webinars-events/theme/?webinar=false`)
        const eventsTheme = await $axios.$get(`/webinars-events/theme/?event=false`)
    return { webinars,webinarsTheme, events,eventsTheme, seo }    
    },
    components:{
        videoPlayer,
        CardsBox,
        Whatsapp
    },
    methods:{        
        preSelectSection(hash){
            if(hash.includes('eventos')){
                this.tabIndex = 0
                this.tabSelected = 0
            }else if(hash.includes('webinars')){                
                this.tabIndex = 1
                this.tabSelected = 1
            }
        },
        filterMonth(type){            
            if(type == 'events'){
                for(var month in this.events){
                    if(this.eventMonthList.indexOf(this.events[month].month) === -1){
                        this.eventMonthList.push(this.events[month].month)
                    }
                }
            }else if(type == 'webinars'){
                for(var monthW in this.webinars){
                    if(this.webinarMonthList.indexOf(this.webinars[monthW].month) === -1){
                        this.webinarMonthList.push(this.webinars[monthW].month)
                    }
                }
            }
            
        },         
        async selectMonth(type,month){
            if(type == 'event'){
                const eventSelect = await this.$axios.$get(`/events/?month=${month}`)             
                this.events = eventSelect     
                this.mesT = month;              
                this.$root.$emit('bv::toggle::collapse', 'mesE-1')
            }else if(type == 'webinar'){
                const webinarSelect = await this.$axios.$get(`/webinars/?month=${month}`)             
                this.webinars = webinarSelect            
                this.mesWT = month;
                this.$root.$emit('bv::toggle::collapse', 'mesW-1')
            }
            
        },
        async selectThemeEvent(type,theme){
            if(type == 'event'){
                const themeSelect = await this.$axios.$get(`/events/?theme=${theme}`)             
                this.events = themeSelect   
                this.ThemeT = theme;         
                this.$root.$emit('bv::toggle::collapse', 'temasE-1')
            }else if(type == 'webinar'){
                const themeSelect = await this.$axios.$get(`/events/?theme=${theme}`)             
                this.webinars = themeSelect            
                this.ThemeWT = theme;
                this.$root.$emit('bv::toggle::collapse', 'temasW-1')
            }
            
        },
        goTo(url){
            this.$router.push(url)
        },   
        loadMoreE(){
            this.currentPageE += 1;
        },
        loadMoreW(){
            this.currentPageW += 1;
        }
    },
    created(){
        this.preSelectSection(this.$route.hash)
    },
    computed:{
        paginatedWebinars() {
            return this.webinars.slice(0, this.currentPageW * this.maxPerPage);
        },
        paginatedEvents() {
            return this.events.slice(0, this.currentPageE * this.maxPerPage);
        }
    },
    mounted(){
        this.filterMonth('webinars')
        this.filterMonth('events')
    }
}
</script>

<style lang="scss">
.events-section{
    .nav-tabs{
        max-width: 400px;
    }
}
</style>