<template>
  <div class="bg-white-border">
      <div class="container pb-4 mt-5">
        <h1 class="title">Glosario</h1>
        <div class="search">
         <input type="text" @change="searching(searchGlossary)" v-model="searchGlossary" class="search-input">
         <b-form-select @change="selectedCategoria(selectedCategory)" class="select-categories" v-model="selectedCategory" >
             <template #first>
                <b-form-select-option :value="null" disabled>Categoria</b-form-select-option>
            </template>
            
            <b-form-select-option v-for="(category,index) in Categories" :key="index" :value="category">{{category}}</b-form-select-option>
         </b-form-select>
        </div>
        <div>
            <client-only>
                <b-card class="glosario" no-body>
                <b-tabs pills card>
                <b-tab @click="selectedLetter(letter.letter)" v-for="(letter,index) in letters" :key="index"  :title="letter.letter">
                    <b-card-text>
                        <div class="accordion voceros" role="tablist" v-if="!loading">
                            <b-card no-body  v-for="(glossary,idx) in glossaries" :key="glossary.id" class="mb-1" :active="idx == 0">
                                <b-card-header header-tag="header" role="tab">
                                    <b-button class="accordion-btn d-flex justify-content-between accordion-1"  block v-b-toggle="'event-1'">
                                        <span class="pl-sm-5 pl-3"><b>{{ glossary.term }}</b></span>                                  
                                        <span>
                                            <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                        </span>
                                    </b-button>
                                </b-card-header>
                                <b-collapse id="event-1"  accordion="my-accordion" role="tabpanel">
                                    <b-card-body>                             
                                        <p v-html="glossary.meaning"></p>
                                    </b-card-body>
                                </b-collapse>
                            </b-card>                           
                        </div>
                        <div v-else>
                            <b-skeleton height="70px" type="input"></b-skeleton>
                            <b-skeleton height="70px" type="input" class="mt-2"></b-skeleton>
                        </div>
                    </b-card-text>
                    <h4 v-if="isEmpty" class="t-blue font-weight-bold text-center"> No hay informacion..</h4>
                </b-tab>                
                </b-tabs>
            </b-card>
            </client-only>
        </div>
        
      </div>
  </div>
</template>

<script>
export default {
    async asyncData({ $axios }) {        
        const glossaries = await $axios.$get(`/glossary/`)             
        const otherPages = await $axios.$get(`/other-pages/`)   
        return { glossaries,otherPages }
    },
    data(){        
        return{
            searchGlossary:'',
            glossaries:[],
            letters:[
                {                    
                    letter:'A',                    
                },
                {                    
                    letter:'B',                    
                },
                {                    
                    letter:'C',                    
                },
                {                    
                    letter:'D',                    
                },
                {                    
                    letter:'E',                    
                },
                {                    
                    letter:'F',                    
                },
                {                    
                    letter:'G',                    
                },
                {                    
                    letter:'H',                    
                },
                {                    
                    letter:'I',                    
                },
                {                    
                    letter:'J',                    
                },
                {                    
                    letter:'K',                    
                },
                {                    
                    letter:'L',                    
                },
                {                    
                    letter:'M',                    
                },
                {                    
                    letter:'N',                    
                },
                {                    
                    letter:'Ñ',                    
                },
                {                    
                    letter:'O',                    
                },
                {                    
                    letter:'P',                    
                },
                {                    
                    letter:'Q',                    
                },
                {                    
                    letter:'R',                    
                },
                {                    
                    letter:'S',                    
                },
                {                    
                    letter:'T',                    
                },
                {                    
                    letter:'U',                    
                },
                {                    
                    letter:'V',                    
                },
                {                    
                    letter:'W',                    
                },
                {                    
                    letter:'X',                    
                },
                {                    
                    letter:'Y',                    
                },
                {                    
                    letter:'Z',                    
                },
            ],
            selectedCategory: null,
            filterLetter:null,
            loading:false,
            isEmpty:false,
            options: [
                { value: null, text: 'Categoría' },
                { value: 'a', text: 'test' },
                { value: 'b', text: 'prueba'},            
            ]
        }
    },
    methods:{
        async selectedLetter(letter){  
            this.searchGlossary = ''
            this.filterLetter = letter               
            this.loading = true      
            this.isEmpty = false 
            if(letter){                
                if(this.selectedCategory){                    
                    var selected = await this.$axios.$get(`/glossary/?category=${this.selectedCategory}&start_with=${letter}`)
                }else{
                    var selected = await this.$axios.$get(`/glossary/?start_with=${letter}`)
                }           
                this.loading = false
                this.glossaries = selected
                this.isEmpty = (this.glossaries.length == 0) ? true : false
            }
        },
        async selectedCategoria(category){   
            this.searchGlossary = ''  
            this.loading = true      
            this.isEmpty = false 
            if(category){
                var selected = await this.$axios.$get(`/glossary/?start_with=${this.filterLetter}&category=${category}`)
                this.loading = false                                                                                                    
                this.glossaries = selected                
                this.isEmpty = (this.glossaries.length == 0) ? true : false
            }
        },
        async searching(text){     
            this.loading = true      
            this.isEmpty = false 
            if(text){
                var selected = await this.$axios.$get(`/glossary/?term=${text}`)
                this.loading = false                                                                                                    
                this.glossaries = selected                
                this.isEmpty = (this.glossaries.length == 0) ? true : false
            }
        }
    },
     computed:{
        Categories(){
            var categories = this.otherPages[0].tagging_first.split(',')
            return categories;
        }
    },
    mounted(){
        this.selectedLetter('a');
    }
}

</script>

<style lang="scss">
    .glosario{
        background-color: transparent;
        border:0;
        .tabs{
            border:0;
            .card-header{
                background-color: transparent;
                border:0;
                .nav{
                    border-bottom:inherit;
                    max-width:100%;
                    display:flex;
                    justify-content: center;
                    .nav-item{
                        .nav-link{
                            color:white;
                            background-color:#DADADA;
                            border-radius: 15px 0px;
                            margin-right:3px;
                            text-transform: uppercase;
                            font-weight: 600;
                            width: 36px;
                            height: 36px;
                            padding: 0 10px;
                            font-size: 1rem;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            &:after,&:before{
                                background-color: transparent;
                                border-bottom:inherit;
                            }                            
                            &.active{
                                color:#001D85;
                                background-color:#5ec5e5;
                            }
                        }
                    }
                }
            }
        }
    }
    .search{
        display: flex;
        flex-direction: row;
        padding-left:20px;
        margin-bottom:30px;        
        .search-input{
            background-color: transparent;
            border:0;
            border-bottom: 1px solid #001D85;
            width:100%;
            color:#001D85;
            background-image:url('/images/search.png');
            background-size:30px;
            background-position-x: 0%;
            background-position-y: 50%;
            background-repeat: no-repeat;
            padding-left:40px;
            &:focus,&:active{                
                outline: inherit;
            }
            &::placeholder{
                color:#001D85;
            }
        }
        .select-categories{
            width:250px;
            border:0;
            color:#001D85;
            font-weight: 600;
            font-family: "Barlow";
            font-size: 1.2rem;
            -webkit-appearance: none;
            background-image:url('/images/chevron-blue.png');
            background-size:15px;
            background-position-x: 80%;
            background-repeat: no-repeat;
            text-align: center;
            padding-left:35px;            
            &::-ms-expand{
                display: none;
            }
        }
    }
    

</style>