<template>
  <div >
<<<<<<< HEAD
    <div class="container pb-5">      
      <Banners v-if="home.banners.length" :slides="home.banners" class="banner_home"></Banners>      
      <h1 v-show="!stillLoad" class="title mt-sm-4">
        Novedades
      </h1>
      
      <CardsBox v-if="screenWidth > 768" :limitCard="3" urlIntern="noticia" colorDots="pink" :datas="news" :date="true" :subtheme="''" class="mb-5 pl-4 pr-4"  btnStyle="blank-pink" btnText="Leer noticia"  globalBtnStyle="pink"></CardsBox>
      <client-only v-if="screenWidth <= 768">        
=======
    <div class="container pb-5">
      <Banners v-if="home.banners.length" :slides="home.banners" class="banner_home" />
      <h1 class="title mt-sm-4">
        Novedades
      </h1>
      
      <CardsBox v-if="screenWidth > 768" :limitCard="3" urlIntern="noticia" colorDots="pink" :datas="news" :date="true" :subtheme="''" class="mb-5 pl-4 pr-4"  btnStyle="blank-pink" btnText="Leer noticia"  globalBtnStyle="pink"  />        
      <client-only v-else>        
>>>>>>> fixing_build
        <VueSlickCarousel v-show="!stillLoad" class="pt-4 mb-5 pink"  v-bind="slickOptions">
          <b-card v-for="data in news" :key="data.id" class="card-styling slick-cards">      
            <div class="hardcode-img-card" >          
              <div  v-if="data.type == 'IMAGE'" class="img-card" :style="`background-image:url(${data.file})`"></div>
              <video-player class="videoCard" v-else-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player>
              <iframe controls="0" v-else-if="data.type == 'URL'  && data.url != ''"  class="videoCard" width="420" height="250"
              :src="data.url+'?controls=0&showinfo=1&rel=0&modestbranding=0'">
              </iframe>
              <img v-else :src="data.horizontal_image" alt="img">

              <small v-show="data.type != 'VIDEO'" class="date">{{ data.register_date }}</small>
            </div>
            <h3>{{data.title | truncate(100)}}</h3>            
            <b-card-text>              
                {{data.resume | truncate(100)}}              
            </b-card-text>            
              <NuxtLink :to="`/noticia/${data.id}`" class="btn btn-global btn-blank-pink">Leer noticia</NuxtLink>                                    
          </b-card>                          
        </VueSlickCarousel> 
      </client-only>
      <div class="mx-auto text-center">
        <nuxt-link class="btn btn-global btn-pink" to="/prensa">Ver más</nuxt-link>
      </div>
    </div>
    <!-- reciente informe bancario -->
    <section v-show="!stillLoad" class="bank-informations mt-5">
      <div class="container pt-4 pl-3 pr-3 pl-sm-5 pr-sm-5">
          <h1 class="title pl-3 pr-3">
            Reciente informe bancario
          </h1>
          <b-card  no-body class="overflow-hidden ml-sm-5 mr-sm-5">
            <b-row no-gutters>
              <b-col sm="6" md="12" lg="6">
                <b-card-img v-if="home.banking_report.type == 'IMAGE'" :src="home.banking_report.file" alt="Image" class="rounded-0"></b-card-img>                   
                <video-player class="videoCard" v-else-if="home.banking_report.type == 'VIDEO'" :srcVideo="home.banking_report.file"></video-player>
                  
                <b-card-img v-else src="/images/img_card.jpg" alt="img"></b-card-img> 
              </b-col>
              <b-col sm="6" md="12" lg="6">
                <b-card-body class="pt-5 pl-sm-5" title="Integer diam tortor, gravida vitae lectus r, gravida vitae">
                  <b-card-text v-html="$options.filters.truncate(home.banking_report.text_content_first[0].text,150)">                    
                  </b-card-text>
                  <nuxt-link :to="home.banking_report.url" class="btn btn-global btn-blank-celeste">Leer informe</nuxt-link>
                </b-card-body>
              </b-col>
            </b-row>
          </b-card>
          <div class="mx-auto text-center">
            <nuxt-link class="btn btn-global btn-blue mt-5 mb-4 mx-auto" to="/estadisticas-del-sector">Ver más</nuxt-link>
          </div>
      </div>
    </section>
    <section v-show="!stillLoad" class="events-webinars" style="background-image:url('/images/abstract-logo-bg.svg')">
      <div class="container p-3 p-sm-5 pb-5 pb-sm-1">
        <h5 class="subtitle text-center">Próximos</h5>
        <h1 class="title t-barlow-bold">Eventos y Webinar</h1>
        <b-card-group deck>        
              <b-card class="card-styling event-webinar-card mr-sm-4" :class="home.type_one == 'WEBINAR' ? 'webinar':'event'" v-if="home.event_document_one_event">
                <div class="hardcode-img-card" >
                  <img :src="home.event_document_one_event.main_image" alt="img">
                  <small class="date">{{$moment(home.event_document_one_event.register_date).format('YYYY/MM/DD')}}</small>
                </div>
                <!-- <h3>{{home.event_document_one_event.title}}</h3> -->
                <h3 v-if="home.type_one == 'WEBINAR'">Webinar</h3>
                <h3 v-else>Evento</h3>
                <b-card-text v-html="$options.filters.truncate(home.event_document_one_event.text,150)"></b-card-text>
                <a :href="home.type_one == 'WEBINAR' ? `/webinar/${home.event_document_one_event.seo_url}`:`/evento/${home.event_document_one_event.seo_url}`" class="btn btn-global " :class="home.type_one == 'WEBINAR' ? 'btn-pink':'btn-celeste'" v-html="home.type_one == 'WEBINAR' ? 'Regístrate':'Más información'"></a>
              </b-card>

              <b-card class="card-styling event-webinar-card" :class="home.type_two == 'WEBINAR' ? 'webinar':'event'" v-if="home.event_document_two_event">
                <div class="hardcode-img-card" >
                  <img :src="home.event_document_two_event.main_image" alt="img">
                  <small class="date">{{$moment(home.event_document_two_event.register_date).format('YYYY/MM/DD')}}</small>
                </div>
                <!-- <h3>{{home.event_document_two_event.title}}</h3> -->
                <h3 v-if="home.type_two == 'WEBINAR'">Webinar</h3>
                <h3 v-else>Evento</h3>
                
                <b-card-text v-html="$options.filters.truncate(home.event_document_one_event.text,150)"></b-card-text>
                <a :href="home.type_two == 'WEBINAR' ? `/webinar/${home.event_document_two_event.seo_url}`:`/evento/${home.event_document_two_event.seo_url}`" class="btn btn-global" :class="home.type_two == 'WEBINAR' ? 'btn-pink':'btn-celeste'" v-html="home.type_two == 'WEBINAR' ? 'Regístrate':'Más información'"></a>
              </b-card>   
        </b-card-group>
      </div>
    </section>
  </div>
</template>

<script>
import Banners from "@/components/Globals/Banners"
import CardsBox from "@/components/Globals/CardsBoxWithoutCarrousel"
import videoPlayer from '@/components/Globals/VideoPlayer'
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
export default {
  mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  components:{
    Banners,
    CardsBox,
    videoPlayer
  },
  head() {    
      return {
        title: this.seo[0].seo_title,
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
          {
            hid: 'description',
            name: 'description',
            content: this.seo[0].seo_description
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: this.seo[0].seo_keyword
          },
          { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
        ],       
    }
  },
  filters:{
    truncate(value,length){
        length = length || 15;
        if (!value || typeof value !== "string") return "";
        if (value.length <= length) return value;
        return value.substring(0, length) + "...";
    }
  },
  created(){
    this.screenWidth = this.$vssWidth
  },
  mounted(){    
    this.$nextTick(function () { 
      setTimeout(() => {
        this.stillLoad = false
      }, 1000);
    })
  },
  data(){
    return{
      stillLoad:true,
      screenWidth:'',  
      slickOptions: {
        dots: true,        
        infinite: true,        
        adaptiveHeight:true,        
        speed: 500,        
        slidesToShow: 1,
        slidesToScroll: 1,   
        arrows:false,                            
        responsive: [
            {
            breakpoint: 769,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true,                    
                }
            },          
            {
            breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,  
                    centerPadding:'50px'
                }
            }]
      },
    }
  },
  async asyncData({ $axios }) {    
    const seos = await $axios.$get(`/seo/`)
    const seo  = seos.filter((seo) => seo.origin == 'HOME')
    const data = await $axios.$get(`/home/`)    
    const ne = await $axios.$get(`/news/`)
    const news = ne.slice(0,3) 
    const home = data[0]         
  return { home, news, seo }
  }, 
}
</script>
