<template>
  <div class="bg-white-border">
      <div class="container reclamacion">
          <div class="title">Libro de reclamaciones</div>
           <section> <!-- personal data -->
              <h3>1. Datos personales</h3>
              <div class="form-content">
                    <div class="col-12 row">
                        <p class="t-blue mr-5 font-weight-bold label-radio">¿Eres mayor de edad?</p>
                        <b-form-group  v-slot="{ ariaDescribedby }">                        
                            <b-form-radio-group
                                id="radio-group-1"
                                v-model="selectedAge"
                                :options="optionsAge"
                                :aria-describedby="ariaDescribedby"
                                name="radio-options"
                                class="pl-4 pl-sm-1"
                            ></b-form-radio-group>
                        </b-form-group>
                    </div>
                    <div class="col-12">
                        <b-row class="my-1">
                            <b-col xs="12" sm="6">
                                <b-form-select v-model="selectedDoc" :options="optionsDoc"></b-form-select>
                            </b-col>
                            <b-col xs="12" class="pt-3 pt-sm-0" sm="6">
                                <b-form-input maxlength="9" v-model="document_number" placeholder="Número de documento" type="tel"></b-form-input>
                            </b-col>
                        </b-row>
                    </div>  
                    <div class="col-12">
                        <b-row class="my-3">                            
                            <b-col xs="12" sm="4">
                                <b-form-input v-model="names" placeholder="Nombres" type="text"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="4" class="pt-3 pt-sm-0">
                                <b-form-input v-model="first_last_name" placeholder="Primer apellido" type="text"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="4" class="pt-3 pt-sm-0">
                                <b-form-input v-model="second_last_name" placeholder="Segundo apellido" type="text"></b-form-input>
                            </b-col>
                        </b-row>
                    </div> 
                     <div class="col-12">
                         <p class="pt-3 t-blue font-weight-bold">Datos del Apoderado</p>
                        <b-row class="my-1">
                            <b-col xs="12" sm="6">
                                <b-form-select v-model="selectedDoc_agent" :options="optionsDoc"></b-form-select>
                            </b-col>
                            <b-col xs="12" sm="6" class="pt-3 pt-sm-0">
                                <b-form-input maxlength="9" v-model="document_number_agent" placeholder="Número de documento" type="tel"></b-form-input>
                            </b-col>
                        </b-row>
                    </div>  
                    <div class="col-12">
                        <b-row class="my-3">                            
                            <b-col xs="12" sm="4">
                                <b-form-input v-model="names_agent" placeholder="Nombres" type="text"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="4" class="pt-3 pt-sm-0">
                                <b-form-input v-model="first_last_name_agent"  placeholder="Primer apellido" type="text"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="4" class="pt-3 pt-sm-0">
                                <b-form-input v-model="second_last_name_agent" placeholder="Segundo apellido" type="text"></b-form-input>
                            </b-col>
                        </b-row>
                    </div>
                    <div class="col-12 row">
                        <p class="t-blue mr-5 font-weight-bold label-radio">¿Representa a una empresa?</p>
                        <b-form-group  v-slot="{ ariaDescribed }">                        
                            <b-form-radio-group
                                id="radio-group-2"
                                v-model="is_a_business"
                                :options="optionsRepresent"
                                :aria-describedby="ariaDescribed"
                                name="radio-options2"
                                class="pl-4 pl-sm-1"
                            ></b-form-radio-group>
                        </b-form-group>                       
                    </div>
                    <div class="col-12">
                          <b-row v-if="is_a_business" class="my-3">                            
                            <b-col xs="12" sm="4">
                                <b-form-input v-model="ruc_business" :required="is_a_business" placeholder="RUC" type="tel"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="8" class="pt-3 pt-sm-0">
                                <b-form-input v-model="business_name" :required="is_a_business" placeholder="Razón social" type="text"></b-form-input>
                            </b-col>                            
                        </b-row>
                    </div>
              </div>
          </section>
          <section> <!-- contact data -->
              <h3>2. Datos del contacto</h3>
              <div class="form-content">                   
                    <div class="col-12">
                        <b-row class="my-1">                            
                            <b-col xs="12" sm="3">
                                <b-form-input placeholder="E-mail" v-model="email" type="email"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="3" class="pt-3 pt-sm-0">
                                <b-form-input placeholder="Teléfono fijo" v-model="telephone" type="tel"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="3" class="pt-3 pt-sm-0">
                                <b-form-input placeholder="Celular" v-model="mobile" type="tel"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="3" class="pt-3 pt-sm-0">
                                <b-form-input placeholder="Operador" v-model="mobile_operator" type="text"></b-form-input>
                            </b-col>                            
                        </b-row>
                    </div>  
                    <div class="col-12">
                        <b-row class="my-3">                            
                            <b-col xs="12" sm="6">
                                <b-form-input v-model="current_address" placeholder="Dirección actual"  type="text"></b-form-input>
                            </b-col>
                            <b-col xs="12" sm="6" class="pt-3 pt-sm-0">
                                <b-form-input v-model="reference" placeholder="Referencias" type="text"></b-form-input>
                            </b-col>                           
                        </b-row>
                    </div> 
                    <div class="col-12 row pt-3">
                        <p class="t-blue mr-5 font-weight-bold label-radio">¿Dónde le enviamos la carta de respuesta?</p>
                        <b-form-group >                        
                            <b-form-radio-group
                            @change="whereSend"
                                id="radio-group-3"
                                v-model="whereSendMail"
                                :options="optionsSendMail"                                
                                name="radio-options3"
                            ></b-form-radio-group>
                        </b-form-group>
                    </div>
              </div>
          </section>
           <section> <!-- contact data -->
              <h3>3. Detalles del reclamo</h3>
              <div class="form-content">                   
                      <div class="col-12 row pl-sm-4">
                          <b-col xs="12" sm="6" class="pb-4 pb-sm-0">                            
                            <div class="service-dropdown">
                                <b-button v-b-toggle.temas-1 variant="link">{{textServices}} <b-icon icon="chevron-down" aria-hidden="true"></b-icon></b-button>
                                <b-collapse id="temas-1" class="mt-2 dropdown-radius" v-if="otherPages[0].reclamations[0].services.length">
                                    <b-card v-for="service in otherPages[0].reclamations[0].services" :key="service.id">                            
                                        <b-button v-b-toggle="`collapse-${service.id}-inner`" size="sm">{{ service.name }}</b-button>
                                        <b-collapse :id="`collapse-${service.id}-inner`" class="mt-2">
                                            <b-card class="subservice" @click.prevent="selectSub(sub.id,sub.name)" v-for="sub in service.groups" :key="sub.id">{{ sub.name }}</b-card>
                                        </b-collapse>
                                    </b-card>                         
                                </b-collapse>                        
                            </div>
                          </b-col>
                            <b-col xs="12" sm="6">
                                <b-form-group  v-slot="{ ariaDes }">                        
                                    <b-form-radio-group
                                        id="radio-group-age"
                                        v-model="selectedreClaim"
                                        :options="optionsreClaim"
                                        :aria-describedby="ariaDes"
                                        name="radio-optionsAge"
                                    ></b-form-radio-group>
                                </b-form-group>
                            </b-col>
                    </div>             
                    <div class="col-12 row pt-3 pl-sm-5 pr-sm-5">
                       <h4 class="t-blue font-weight-bold pl-4 pl-sm-1">Descripción</h4>
                       <p class="t-blue font-weight-bold pl-4 pl-sm-1" v-html="otherPages[0].reclamations[0].description"></p>
                       <h4 class="t-blue font-weight-bold pb-4 pt-4 pl-4 pl-sm-1">Detalle</h4>
                       <textarea v-model="detail" name="mensaje-detalle" id="mensaje-detalle" class="form-control barlow ml-4 ml-sm-1" placeholder="Escriba su mensaje aquí" cols="30" rows="10"></textarea>
                       <h4 class="t-blue font-weight-bold mt-4 pt-3 pl-4 pl-sm-1">Documentos adjuntos</h4>
                       <b-row class="my-3">                            
                            <b-col xs="12" sm="8" class="pr-sm-4">                                
                                <p class="t-blue font-weight-bold pr-sm-5 pl-4 pl-sm-1">Puede adjuntar vouchers, estados de cuenta, imágenes, u otros documentos para sustentar su reclamo</p>
                            </b-col>
                            <b-col xs="12" sm="4" class="pl-sm-4 pr-sm-4 pl-4 pl-sm-1">                                
                                <div>
                                    <input type="file" id="upload" ref="file" @change="handleFileUpload()" hidden/>
                                    <label class="label_file_btn btn btn-global btn-blue" for="upload">Subir archivo</label>
                                </div>
                                <br>
                                <small class="t-pink">*Los formatos permitidos son: PNG, JPEG, GIF, DOCX, DOC, XLS, XLSX, PDF.</small>
                            </b-col>                           
                        </b-row>
                        <p class="t-blue font-weight-bold pl-4 pl-sm-1" v-html="otherPages[0].reclamations[0].indications"></p>                        
                    </div>
              </div>
          </section>
          <div class="d-flex justify-content-center mt-4">
               <recaptcha
                        @error="onError"
                        @success="onSuccess"
                        @expired="onExpired"
                    />
          </div>
          <div class="mx-auto d-flex justify-content-center m-5">
                   
              <button @click.prevent="contactSend()" class="btn btn-global btn-blue" :disabled="!canSendit">{{sendtext}}</button>
          </div>
          <p class="t-blue font-weight-bold pl-sm-5 pr-sm-5 pl-2 pl-sm-1" v-html="otherPages[0].reclamations[0].footer_page"></p>
      </div>
  </div>
</template>

<script>
export default {
    async asyncData({ $axios }) {                          
        const otherPages = await $axios.$get(`/other-pages/`)   
        return { otherPages }
    },    
    methods:{
        selectSub(id,name){
            console.log(id)
            this.textServices = name
            this.selectedClaim = name
            this.$root.$emit('bv::toggle::collapse', 'temas-1')
        },
        whereSend(){            
            if(this.whereSendMail == 'email'){
                this.send_to_email = true
                this.send_to_card = false
            }else if(this.whereSendMail == 'direction-card'){
                this.send_to_email = false
                this.send_to_card = true
            }
        },        
        typeComplaint(){            
            if(this.selectedreClaim == 'claim'){
                this.is_claim = true
                this.is_complaint = false
            }else if(this.selectedreClaim == 'complaint'){
                this.is_claim = false
                this.is_complaint = true
            }
        },
        async contactSend(){
            var vm = this;   
            const token = await this.$recaptcha.getResponse()   
            console.log('ReCaptcha token:', token)             
            await this.$recaptcha.reset()
            var data = {
                'is_adult':vm.selectedAge,
                'document_type':vm.selectedDoc,
                'document_number':this.document_number,
                'name':this.names,
                'first_last_name':this.first_last_name,
                'second_last_name':this.second_last_name,
                'representative_document_type':this.selectedDoc_agent,
                'representative_document_number':this.document_number_agent,
                'representative_name':this.names_agent,            
                'representative_first_last_name':this.first_last_name_agent,
                'representative_second_last_name':this.second_last_name_agent,
                'is_a_business':this.is_a_business,
                'ruc':this.ruc_business,            
                'business_name':this.business_name,
                'email':this.email,
                'phone':this.telephone,
                'mobile':this.mobile,
                'mobile_type':this.mobile_operator,
                'address':this.current_address,
                'reference':this.reference,
                'send_to_email':this.send_to_email,
                'send_to_card':this.send_to_card,
                'service':this.selectedClaim,
                'is_claim':this.is_claim,
                'is_complaint':this.is_complaint,            
                'detail':this.detail,
                'file':this.file
            }

            this.$axios.$post('complain-book/',data).then(function(response){                        
                    if(response){                                                                                  
                        this.sendtext = 'Enviado'
                    }else{
                        console.log('Algo ha sucedido..');
                    }           
            });  
        },
        onSuccess (token) {
            console.log('Succeeded:', token)
            this.canSendit = true
        },
        onExpired () {
            console.log('Expired token')
            this.canSendit = false
        },
        onError (error) {
            console.log('Error:', error)
            this.canSendit = false
        },
          handleFileUpload() {
            let data = new FormData(); // creates a new FormData object
            data.append('file', this.$refs.file.files[0]); // add your file to form data
            this.file = data            
        },
    },
    data(){
        return{
            textServices:'Servicio',
            sendtext:'Enviar',
            canSendit:false,
            selectedAge:false,
            selectedreClaim:'claim',
            is_a_business:false,
            selectedDoc:null,
            selectedDoc_agent:null,
            whereSendMail:null,
            selectedClaim:null,
            names:'',
            first_last_name:'',
            second_last_name:'',
            document_number:'',
            names_agent:'',
            first_last_name_agent:'',
            second_last_name_agent:'',
            document_number_agent:'',
            email:'',
            telephone:'',
            mobile:'',
            mobile_operator:'',
            current_address:'',
            reference:'',
            send_to_email:'',
            send_to_card:'',
            service:'',
            is_claim:false,
            is_complaint:false,
            detail:'',
            file:'',
            optionsClaim: [
                { text: 'Servicio', value: null },                
                { text: 'Email', value: 'email' },
                { text: 'Carta', value: 'card' },
            ],
            optionsAge: [
                { text: 'Si', value: true },
                { text: 'No', value: false },                
            ],
            optionsreClaim: [
                { text: 'Reclamo', value: 'claim' },
                { text: 'Queja', value: 'complaint' },                
            ],
            optionsRepresent: [
                { text: 'Si', value: true },
                { text: 'No', value: false },                
            ],
            optionsDoc:[
                { value: null, text: 'Tipo de documento' },
                { value: 'dni', text: 'DNI' },
                { value: 'ce', text: 'CE' },                
                { value: 'passport', text: 'Pasaporte' },   
            ],
            optionsSendMail:[
                { value: 'email', text: 'E-mail' },
                { value: 'direction-card', text: 'Carta en su dirección' },
            ]
        }
    }
}
</script>

<style lang="scss">
.service-dropdown{
    background-color: white;
    color:#001D85;
    text-align: left;
    width:100%;
    position: relative;    
    .btn{
        color:#001D85;
        font-family: "Barlow";
        font-weight: 600;
        width:100%;
        display: flex;
        justify-content: space-between;
        &:hover,&:active,&:focus{
            outline: hidden;
            box-shadow: inherit;
            text-decoration: none;
        }       
    }
    .dropdown-radius{
        background-color: #4FC5E9;
        color:#fff;
        border-radius: 0px 0px 8px 8px;
        .card{
            background-color: #4FC5E9;
            color:#fff;
            .card-body{
                padding:0rem;
                .btn{
                    background-color: transparent;
                    border:0;
                    color:#fff;
                    border-top:1.5px solid #fff;
                    border-bottom:1.5px solid #fff;
                    padding:.5rem 1rem;
                    border-radius: 0;
                }
                .subservice{
                    padding:.6rem 1rem;
                    border:0;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
</style>