<template>
  <div class="pt-5 container-fluid p-0">
      <client-only>
        <h3 class="title mt-5">Nuestra asociación</h3>        
        <div class="dropdown-zone" v-if="about && union && regulation">
            <b-dropdown id="dropdown-asosiacion" :text="tabSelected == 0 ? about.seo_title: tabSelected == 1 ? union.seo_title:regulation.seo_title" class="d-block d-sm-none mx-auto">
                <b-dropdown-item v-show="tabSelected != 0" @click="tabSelected = 0">{{about.seo_title}}</b-dropdown-item>
                <b-dropdown-item v-show="tabSelected != 1" @click="tabSelected = 1">{{union.seo_title}} </b-dropdown-item>
                <b-dropdown-item v-show="tabSelected != 2" @click="tabSelected = 2">{{regulation.seo_title}}</b-dropdown-item>            
            </b-dropdown>
        </div>
        
        <b-tabs content-class="mt-sm-4 mb-5 pt-sm-3 tab-global" v-model="tabSelected" justified>
            
            <b-tab v-if="about" class="tabs-asociacion" :title="about.seo_title" active>
                <div class="row w-100 principal-content pt-sm-5">
                    <div class="col-12 col-sm-6 p-sm-5 d-flex justify-content-end">                        
                        <p class="text-principal text-left p-3 p-sm-5 mt-4 t-blue" v-html="about.text"></p>
                    </div>
                    <div class="col-12 col-sm-6 pr-0 know-asbanc-img-content" :style="`background-image:url(${about.image})`">
                        <!-- <img  class="img-border conoce-asbanc-img" alt="" srcset=""> -->
                    </div>
                </div>
                <div class="yellow-info">
                    <div class="row">
                        <div class="card-resume col-sm-4 col-12" v-for="(begin,index) in about.beginning" :key="begin.id">
                            <img :src="begin.image" alt="" srcset="">
                            <h5>{{begin.title}}</h5>
                            <p v-html="begin.text"></p>
                            <a :href="begin.url" v-if="index > 1" @click.prevent="downloadWithAxios(begin.url,begin.title+'.pdf')">Descargar <b-icon icon="download" aria-hidden="true"></b-icon></a>
                        </div>                        
                    </div>
                </div>
                <div class="celeste-info">
                    <div class="row">
                        <div class="card-resume col-sm-7 col-12" v-if="about.ourassociationsextra[0]">
                            <img :src="about.ourassociationsextra[0].image" alt="" srcset="">
                            <h5>{{about.ourassociationsextra[0].title}}</h5>
                            <p v-html="about.ourassociationsextra[0].text"></p>
                            <a :href="about.ourassociationsextra[0].url" @click.prevent="downloadWithAxios(about.ourassociationsextra[0].url,about.ourassociationsextra[0].title+'.pdf')">Descargar acuerdos <b-icon icon="download" aria-hidden="true"></b-icon></a>
                        </div>
                    </div>
                </div>
                <section class="asociados pt-5">
                    <h3 class="title">Asociados</h3>
                    <p class="t-blue asociados-text text-center mx-auto pb-4">Asbanc es una institución gremial que agrupa a los bancos e instituciones financieras privadas de nuestro país y cuyo principal objetivo es promover el fortalecimiento del sistema financiero privado.</p>
                    <b-tabs v-if="about.listassociations.length" content-class="mt-4 mb-5 container" justified>
                        <b-tab title="Activos" active>    
                            <VueSlickCarousel :centerMode="ActiveListAssociations.length < 4 ? true:false" class="pt-4" v-bind="slickOptions" >
                                <div v-for="activo in ActiveListAssociations" :key="activo.id"><a :href="activo.url" target="blank"><img :src="activo.logo" alt=""></a></div>                        
                            </VueSlickCarousel>                   
                        </b-tab>
                        <b-tab title="Adherentes">
                            <VueSlickCarousel :centerMode="AdherentListAssociations.length < 4 ? true:false" class="pt-4" v-bind="slickOptions">
                                    <div v-for="activo in AdherentListAssociations" :key="activo.id" v-show="activo.group != 'ACTIVE'"><a :href="activo.url" target="blank"><img :src="activo.logo" alt=""></a></div>                        
                            </VueSlickCarousel>   
                        </b-tab>

                    </b-tabs>
                </section>
                <section class="timeline-section" :style="`background-image:url('${historyBackground}')`">
                    <div class="container">
                        <h3 class="title text-white pt-5 mb-5">Nuestra historia</h3>
                        <swiper @slideChange="onSlideChange" v-if="about.ourhistories.length" ref="myHistory" class="swiper mt-3" :options="timelineSwiper">
                                <swiper-slide v-for="timeline in about.ourhistories" :key="timeline.id">
                                    <div class="timeline-box">
                                        <h5>{{timeline.year}}</h5>
                                        <div class="box"></div>   
                                        <div class="timeline-information">
                                            <p v-html="timeline.text"></p>
                                        </div>

                                    </div>
                                </swiper-slide>
                                 
                                <div class="swiper-button-prev timeline-prev" slot="button-prev"></div>
                                <div class="swiper-button-next timeline-next" slot="button-next"></div>               
                        </swiper>
                    </div>
                </section>
                <section v-if="about.ourmemories.length" class="memories-section" style="background-image:url('/images/abstract-logo-bg.svg')">
                    <div class="container">
                        <h3 class="title t-white pt-5 pb-5">Memorias anuales</h3>
                        <VueSlickCarousel :centerMode="about.ourmemories.length < 4 ? true:false" class="pt-4" v-bind="slickOptions">                                                        
                            <div  v-for="memory in about.ourmemories" :key="memory.id" class="swiper-description-box" >
                                <a :href="memory.file" target="blank" @click.prevent="downloadWithAxios(memory.file,memory.title+'.pdf')">
                                    <img v-b-tooltip.hover="{ customClass: 'pink-tooltip' }" :title="memory.title"  :src="memory.image">
                                </a>
                            </div>                        
                        </VueSlickCarousel>  
                    </div>
                </section>
            </b-tab>

                <!-- actividad gremial -->
            <b-tab v-if="union" :title="union.seo_title">
                <h3 class="title title-tab">Comités estratégicos</h3>
                <div class="container">
                    <cards-toggle  :comites="union.list_committee_strategy"></cards-toggle>

                    <section class="notify-box yellow-content" style="background-image:url('/images/abstract-logo-bg.svg')">
                        <div class="container text-center">
                            <h3> {{union.title_good_practices}}</h3>
                            <p v-html="union.text_good_practices"></p>
                            <a :href="union.file_good_practices" class="text-center p-3 pt-4" @click.prevent="downloadWithAxios(union.file_good_practices,union.title_good_practices+'.pdf')">Descargar <img src="/images/world.svg" alt=""></a>
                        </div>
                    </section>

                    <section class="gerentes pt-4">
                        <h3 class="title">{{union.title_manager}}</h3>
                        <VueSlickCarousel :centerMode="union.list_manager.length < 4 ? true:false" class="pt-4" v-bind="slickGerente">                            
                            <div class="swiper-description-box" v-for="manager in union.list_manager" :key="manager.id"  >
                                <img :src="manager.image" alt="">
                                <div class="swiper-description-box--text">
                                    <h5>{{manager.name}}</h5>
                                    <span>{{manager.ubication}}</span>
                                </div>    
                            </div>                        
                        </VueSlickCarousel>                          
                    </section>                 
                </div>
                <section class="convenios mt-5 pt-5">
                    <div class="container">
                        <h3 class="title">{{union.title_covenants_peru}}</h3>
                        <VueSlickCarousel :centerMode="union.list_covenants_peru.length < 4 ? true:false" v-if="union.list_covenants_peru.length" class="pt-4 show-hide-item" v-bind="slickOptions">                            
                            <div class="swiper-description-box" v-for="covenant in union.list_covenants_peru" :key="covenant.id"  >
                                <div class="image-content">
                                    <img :src="covenant.image" alt="">
                                </div>
                                <div class="swiper-description-box--text">
                                    <h5>{{covenant.entity}}</h5>
                                    <span>{{covenant.text}}</span>
                                </div>    
                            </div>                        
                        </VueSlickCarousel>  
                    </div>                        
                </section>
                <section class="convenios white mt-5">
                    <div class="container">
                        <h3 class="title">{{union.title_covenants_external}}</h3>
                        <VueSlickCarousel :centerMode="union.list_covenants_external.length < 4 ? true:false" v-if="union.list_covenants_external.length" class="pt-4 show-hide-item" v-bind="slickOptions">                            
                           <div class="swiper-description-box" v-for="covenant in union.list_covenants_external" :key="covenant.id"  >
                                <div class="image-content">
                                    <img :src="covenant.image" alt="">
                                </div>
                                <div class="swiper-description-box--text">
                                    <h5>{{covenant.entity}}</h5>
                                    <span>{{covenant.text}}</span>
                                </div>    
                            </div>                       
                        </VueSlickCarousel>  
                    </div>                        
                </section>
            </b-tab>

                <!-- regulacion -->
            <b-tab v-if="regulation" :title="regulation.seo_title">
                <div class="container">
                    <section class="notify-box blue-content" style="background-image:url('/images/abstract-logo-bg.svg')">
                        <div class="container text-justify">
                            <h3>{{regulation.new_title}}</h3>
                            <p class="pt-4" v-html="regulation.new_text">

                            </p>
                        </div>
                    </section>
                    <section class="tips-one-slide pink-pagination mt-5 mb-5">
                        <VueSlickCarousel class="pt-4" v-bind="slickOne">                                                                       
                            <div class="card mb-3" v-for="list in regulation.list_regulations" :key="list.id">
                                <div class="row">
                                    <div class="col-12 col-sm-3">
                                        <img :src="list.image" class="card-img" :alt="list.title">
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ list.title}}</h5>
                                            <p class="card-text" v-html="list.text"></p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </VueSlickCarousel>  
                    </section>
                </div>
                <section class="bg-yellow">
                    <div class="container">
                        <h5>{{regulation.old_title}}</h5>
                       <p class="pt-4" v-html="regulation.old_text"></p>
                    </div>
                </section>
            </b-tab>            
        </b-tabs>
      </client-only>
  </div>
</template>

<script>
import cardsToggle from '@/components/Globals/CardsBoxToggle';
import videoPlayer from '@/components/Globals/VideoPlayer';
  export default {    
        components:{
            cardsToggle,
            videoPlayer
        },
        head() {    
            return {
                title: this.seo[0].seo_title,
                meta: [
                { charset: 'utf-8' },
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
                {
                    hid: 'description',
                    name: 'description',
                    content: this.seo[0].seo_description
                },
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: this.seo[0].seo_keyword
                },
                { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
                ],       
            }
        },
        async asyncData({ $axios }) {
            const seos = await $axios.$get(`/seo/`)
            const abo = await $axios.$get(`/about/`) 
            const regu = await $axios.$get(`/regulation/`)        
            const uni = await $axios.$get(`/union-activitie/`)   
            const seo  = seos.filter((seo) => seo.origin == 'OURASSOCIATION')      
            const about = abo[0],
                regulation = regu[0],
                union = uni[0]              
        return { about,regulation,union, seo }
        },       
        mounted(){
            var hash = this.$route.hash
            this.historyBackground = this.about.ourhistories[0].image
        },
        computed:{
            ActiveListAssociations(){
                var actives = this.about.listassociations.filter(function(association) { 
                    return association.group.includes('ACTIVE')
                    })
                return actives;
            },
            AdherentListAssociations(){
                var actives = this.about.listassociations.filter(function(association) { 
                    return association.group.includes('ADHERENTS')
                    })
                return actives;
            }
        },
        methods:{
            forceFileDownload(response, title) {
                console.log(title)
                const url = window.URL.createObjectURL(new Blob([response.data]))
                const link = document.createElement('a')
                link.href = url
                link.setAttribute('download', title)
                document.body.appendChild(link)
                link.click()
            },
            onSlideChange() {
                let index = this.$refs.myHistory.$swiper.activeIndex;
                this.historyBackground = this.about.ourhistories[index].image                 
            },            
            downloadWithAxios(url, title) {
                this.$axios({
                    method: 'get',
                    url,
                    responseType: 'arraybuffer',
                })
                    .then((response) => {
                    this.forceFileDownload(response, title)
                    })
                    .catch(() => console.log('error occured'))
            } 
        },
        data() {
        return {
            about:[],
            union:[],
            regulation:[],
            tabSelected:0,
            historyIndex:0,
            historyBackground:'',
            swiperOption: {
                slidesPerView: 4,
                spaceBetween: 0,
                pagination: {
                    el: '.first-swiper',
                    clickable: true
                },
                navigation:{
                    nextEl: '.first-next',
                    prevEl: '.first-prev'
                },
                  breakpoints: {
                    640: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    },
                    768: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                    },
                    1024: {
                    slidesPerView: 4,
                    spaceBetween: 50,
                    },
                }
            },
            swiperOptionTwo: {
            slidesPerView: 4,
            spaceBetween: 0,
            pagination: {
                el: '.second-swiper',
                clickable: true
            },
            navigation:{
                nextEl: '.second-next',
                prevEl: '.second-prev'
            }
            },
            timelineSwiper:{
                slidesPerView: 4,
                spaceBetween: 30,
                centeredSlides: true,
                allowTouchMove:true,
                lazy: true,
                navigation:{
                nextEl: '.timeline-next',
                prevEl: '.timeline-prev'
            }      
            },
            slickOptions: {
                dots: true,
                focusOnSelect: false,
                infinite: false,
                speed: 500,
                slidesToShow: 4,
                slidesToScroll: 1,
                touchThreshold: 1,                
                arrows:true,                   
                responsive: [
                    {
                    breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },          
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false,
                            arrows:false
                        }
                    }]
            },
            slickGerente: {
                dots: true,
                focusOnSelect: true,
                infinite: true,
                speed: 500,
                slidesToShow: 4,
                slidesToScroll: 4,
                touchThreshold: 4,
                arrows:true,                   
                responsive: [
                    {
                    breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },          
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            centerMode: false,
                            arrows:false
                        }
                    }]
            },
            slickOne:{
                dots: true,
                arrows:true, 
                infinite: true,
            }

        }
        }
    }
</script>

<style lang="scss">
.yellow-info{    
    background-image: url('/images/yellow-rectangle.svg');
    background-size: 92%;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 4% 5% 4% 17%;
    @media screen and (max-width:768px){
        background-color:#F4D500;
        padding:10% 5% 4%;
    }
}
.celeste-info{    
    background-image: url('/images/celeste-rectangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4% 10%;
    @media screen and (min-width:1919px){
        padding:5% 10%;
    }
    @media screen and (max-width:1367px){
        background-size: contain;
        padding: 5% 17% 6%;
    }
    @media screen and (max-width:768px){
        background-color:#4FC5E9;
        padding:4% 5%;        
    }
    .card-resume {
        max-width: 400px;
        @media screen and (min-width:1919px){
            max-width: 400px;
        }
        p,a{
            width: 500px;
            margin:0 auto;
            padding-bottom:15px;
            padding-right:50px;
            @media screen and (max-width:768px){
                padding-right: 0px;
                width:100%;
                margin: auto;
            }
        }
        a{
            @media screen and (min-width:1919px){
                display:block;
                margin: auto;
            }
            @media screen and (max-width:768px){
                text-align: center;
                display: block;
                .bi{
                    margin-left:10px;
                }
            }
        }
        img{
            @media screen and (max-width:600px){
                height:auto;                
            }
        }
    }
}

.slick-prev:before {
    content: "";
    background-image: url('../static/images/arrow-left.svg');    
    font-size: 22px;
    color:#001D85;    
    width: 14px;
    height: 24px;
    display: block;
}
.slick-next:before {
  content: "";
    background-image: url('../static/images/arrow-right.svg');    
    font-size: 22px;
    color:#001D85;        
    width: 14px;
    height: 24px;
    display: block;
}
.show-hide-item .slick-list .slick-track .slick-slide div div{
    display: inline-flex!important;
    width:100%;
    flex-direction: column;
}

</style>