<template>
  <div class="bg-white-border">
      <div class="container mb-4">
          <h1 class="title mt-5">{{ politicas[0].name }}</h1>
        <div class="accordion container" role="tablist">
            <b-card v-for="politica in politicas[0].policy" :key="politica.id" no-body class="mb-1 accordion-card">
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-button block v-b-toggle="`accordion-${politica.id}`" class="accordion-btn ">{{politica.name}}</b-button>
                </b-card-header>
                <b-collapse :id="`accordion-${politica.id}`" accordion="my-accordion" role="tabpanel">
                    <b-card-body>                            
                        <b-card-text class="t-blue" v-html="politica.content"></b-card-text>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>                                                                                            
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            politicas: [],        
        }
    },
    async asyncData({ $axios }) {        
        const politicas = await $axios.$get(`/private-policy/`)             
        const otherPages = await $axios.$get(`/other-pages/`)   
        return { politicas,otherPages }
    },
}
</script>

<style lang="scss">
.no-border-btn{
    border-bottom:0!important;
}

</style>