<template>
  <div>
      <div class="container">
            <h1 class="title mt-5">{{ faqs[0].name}}</h1>
            <b-tabs content-class="mt-sm-4 mb-5 pt-sm-4 tab-global" v-model="tabIndex" justified>            
                <b-tab class="tabs-asociacion" v-for="(tab,index) in faqCategories" :key="index" :title="tab">                
                    <div class="accordion container" role="tablist">
                        <b-card v-for="faq in faqs[0].questions" :key="faq.id" no-body v-show="faq.group.name == tab" class="mb-1 border-0 accordion-card">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <b-button block v-b-toggle="`accordion-${faq.id}`" class="accordion-btn">{{faq.question}}</b-button>
                            </b-card-header>
                            <b-collapse :id="`accordion-${faq.id}`" accordion="my-accordion" role="tabpanel">
                                <b-card-body>                            
                                    <b-card-text>{{faq.answer}}</b-card-text>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </div>                                                                                            
                </b-tab>
            </b-tabs>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            tabIndex:0,
            faqs: [
                {
                    id: 1,
                  question: "Lorem ipsum dolor sit amet?",
                  answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla nec purus pharetra sollicitudin. Curabitur lacinia sagittis vulputate. Maecenas vehicula dolor in finibus congue. Sed ut augue non elit ultrices pulvinar at eget diam.",
                  my_order: 1,
                  webinar: 3
                },
                {
                  id: 2,
                  question: "te gusta esta prueba?",
                  answer: "Si",
                  my_order: 2,
                  webinar: 3
                },
                {
                id: 3,
                  question: "Lorem ipsum sit amet?",
                  answer: "Lorem  sit amet, consectetur adipiscing elit. Curabitur in nulla nec purus pharetra sollicitudin. Curabitur lacinia sagittis vulputate. Maecenas vehicula dolor in finibus congue. Sed ut augue non elit ultrices pulvinar at eget diam.",
                  my_order: 3,
                  webinar: 3
                },
            ],
        }
    },
   async asyncData({ $axios }) {
            const type = await $axios.$get(`/type/`)             
            const faqs = await $axios.$get(`/faq/`)             
            const otherPages = await $axios.$get(`/other-pages/`)   
        return { type,faqs,otherPages }
    },
    methods:{
        linkTab(idx) {
            if (this.tabIndex === idx) {
            return ['bg-primary', 'text-light']
            } else {
            return ['bg-light', 'text-info']
            }
        },
    },
    computed:{
        faqCategories(){
            var categories = this.otherPages[0].tagging.split(',')
            return categories;
        }
    }
}
</script>

<style>

</style>