<template>
  <div class="prensa-section pink-tabs">
    <h3 class="title mt-5">Sala de prensa</h3>            
         <b-tabs content-class="mt-sm-4 mb-5 pt-sm-4 tab-global bg-white-rounded" v-model="tabIndex" justified>            
            <b-tab class="tabs-asociacion" v-for="tab in tabInfo" :key="tab.id" :title="tab.title">
                <!-- TAB NOTICIAS -->
                <div class="container" v-if="tab.id == 0">
                    <div class="incoming row">
                        <div class="col-12 col-sm-6" >
                            <b-card v-for="item in news" :key="item.id" v-if="item.my_order == '1'" @click.prevent="goTo('/noticia/'+item.seo_url)" class="card-styling full-width-card prensa-cards">      
                                <div class="hardcode-img-card big-img-card" :style="`background-image:url('${item.vertical_image}')`">
                                <!-- <img v-if="data.type == 'IMAGE'" :src="data.file" alt="img"> -->
                                <!-- <video-player class="videoCard" v-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player> -->                                
                                </div>
                                <h3>{{item.title | truncate(100)}}</h3>
                                <b-card-text>
                                <span  v-html="$options.filters.truncate(item.resume,100)"></span>
                                </b-card-text>                                                                                                                                         
                            </b-card>  
                        </div>
                        <div class="col-12 col-sm-6">
                            <b-card v-for="item in news" :key="item.id" v-if="item.my_order == '2' || item.my_order == '3'" @click.prevent="goTo('/noticia/'+item.seo_url)" class="card-styling full-width-card prensa-cards mb-3">      
                                <div class="hardcode-img-card little-img-card" :style="`background-image:url('${item.horizontal_image}')`">
                                <!-- <img v-if="data.type == 'IMAGE'" :src="data.file" alt="img"> -->
                                <!-- <video-player class="videoCard" v-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player> -->                                
                                </div>
                                <h3>{{item.title | truncate(100)}}</h3>
                                <b-card-text>
                                <span  v-html="$options.filters.truncate(item.resume,100)"></span>
                                </b-card-text>                                                                                                                                         
                            </b-card>                             
                        </div>
                    </div>
                    <!-- seccion no relevantes -->
                    <b-card-group class="row justify-content-sm-around mt-5">
                        <b-card v-for="data in news" :key="data.id" v-if="data.my_order == null" class="card-styling two-columns-one-mobile">      
                                <div class="hardcode-img-card">
                                <img :src="data.horizontal_image" :alt="data.seo_title">
                                <video-player class="videoCard" v-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player>                                
                                </div>
                                <h3>{{data.title | truncate(100)}}</h3>
                                <b-card-text>
                                <span  v-html="$options.filters.truncate(data.resume,100)"></span>
                                </b-card-text>                                                                                                                                            
                                <NuxtLink :to="`/noticia/${data.seo_url}`" class="btn btn-global btn-blank-pink">Leer notícia</NuxtLink>
                        </b-card>  
                    </b-card-group>
                </div>
                <!-- TAB PERIODISTAS -->
                <div class="container" v-if="tab.id == 1">
                       <b-card no-body class="overflow-hidden horizontal-card ml-sm-5 mr-sm-5">
                        <b-row v-for="journal in journalists.journalist" :key="journal.id" no-gutters>
                            <b-col sm="6" md="12" lg="6" class="bgImg" :style="`background-image:url(${journal.image})`">                                
                            </b-col>
                            <b-col sm="6" md="12" lg="6">
                                <b-card-body class="pt-5">
                                    <b-card-text class="p-sm-4">
                                        <h3>{{journal.title}}</h3>
                                        <p v-html="journal.description"></p>
                                    </b-card-text>                                
                                </b-card-body>
                            </b-col>
                        </b-row>
                    </b-card>
                    
                    <!-- seccion Nuestros voceros -->
                    <h2 class="title mt-5 mb-4">Nuestros voceros</h2>
                     <div class="accordion voceros" role="tablist">
                        <b-card v-for="(spokesman,index) in journalists.journalist_spokesman" :key="index" no-body class="mb-1">
                            <b-card-header header-tag="header" role="tab">
                                <b-button class="accordion-btn d-flex justify-content-between" :class="`accordion-${index}`" block v-b-toggle="`accordion-${index}`">
                                    <span class="pl-sm-5 pl-3"><b>{{spokesman.name}}</b><br class="d-block d-sm-none"> {{spokesman.place}}</span>
                                    <a :href="spokesman.biography" @click.prevent="downloadWithAxios(spokesman.biography,spokesman.name+'.pdf')">
                                        <b class="pr-3 hide-text-m">Descargar biografía </b> <b-icon icon="download" aria-hidden="true"></b-icon>
                                    </a>
                                    <span>
                                        <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                    </span>
                                </b-button>
                            </b-card-header>
                            <b-collapse :id="`accordion-${index}`" visible accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                <VueSlickCarousel class="pt-4 ml-2 mr-2" v-bind="slickOptions">
                                    <div v-for="image in spokesman.images_spokesman" :key="image.id" class="img-square">                                        
                                        <img :src="image.image" class="img-fluid pl-2 pr-2" alt="">
                                    </div>
                                </VueSlickCarousel>  
                                
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </div>
                    
                    <!-- seccion fotos -->
                    <h2 class="title mt-5 mb-4">Fotos</h2>
                    <div class="photos-section text-center">
                        <div class="box-row-container">
                            <div class="box-row-item" v-for="images in paginatedPhotos" :key="images.id" :style="`background-image:url('${images.image}')`">

                                <a :href="images.image" class="t-white download-btn" @click.prevent="downloadWithAxios(images.image,'Photo-'+images.id+'.jpg')"><b-icon icon="download" aria-hidden="true"></b-icon></a>
                                
                            </div>
                        </div>
                        <button @click="loadMorePhoto" v-if="currentPagePhoto * maxPerPage < journalists.journalist_photo.length" class="btn btn-global btn-pink mt-4">Ver más</button>
                    </div>
                    <!-- seccion videos -->
                     <h2 class="title mt-5 mb-4">Videos</h2>
                    <div class="videos-section text-center">
                        <div class="box-row-container">   
                            <div class="box-row-item videoCard" v-for="video in paginatedVideos" :key="video.id">
                                <video-player  :srcVideo="video.video">
                                </video-player>
                                <a @click.prevent="downloadWithAxios(video.video,'Video'+video.id+'.mp4')" :href="video.video" class="t-white download-btn" download><b-icon icon="download" aria-hidden="true"></b-icon></a>
                            </div>                         
                            
                        </div>
                        <button @click="loadMoreVideo" v-if="currentPageVideo * maxPerPage < journalists.journalist_video.length"  class="btn btn-global btn-pink mt-4">Ver más</button>
                    </div>
                </div>                                    
            </b-tab>
        </b-tabs>
        <whatsapp url="https://web.whatsapp.com/"></whatsapp>        
  </div>
</template>

<script>
import videoPlayer from '@/components/Globals/VideoPlayer'
import CardsBox from '@/components/Globals/CardsBox'
import Whatsapp from '~/components/Globals/whatsapp.vue'
export default {
    head() {    
          return {
              title: this.seo[0].seo_title,
              meta: [
              { charset: 'utf-8' },
              { name: 'viewport', content: 'width=device-width, initial-scale=1' },
              {
                  hid: 'description',
                  name: 'description',
                  content: this.seo[0].seo_description
              },
              {
                  hid: 'keywords',
                  name: 'keywords',
                  content: this.seo[0].seo_keyword
              },
              { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
              ],       
          }
    },
    data(){
        return{
            tabSelected:0,
            tabIndex:0,
            maxShow:4,
            BtnCardText:'',
            maxPerPage:3,
            currentPagePhoto:1,
            currentPageVideo:1,
            showReadMorePhoto: true,
            showReadMoreVideo: true,
            slickOptions: {
                dots: true,
                focusOnSelect: true,
                infinite: true,
                speed: 1000,
                slidesToShow: 3,
                slidesToScroll: 2,
                touchThreshold: 3,
                arrows:true,                   
                responsive: [
                    {
                    breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },          
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false,
                            arrows:false
                        }
                    }]
            },
            tabInfo:[
                {   
                    id:0,
                    title:'Noticias'                   
                },
                {   
                    id:1,
                    title:'Periodistas'                 
                }                       
            ],           
            journalists:[],
            prensa:[]
        }
    },
    async asyncData({ $axios }) {
        const seos = await $axios.$get(`/seo/`)
        const seo  = seos.filter((seo) => seo.origin == 'MEDIA')
        const salaDePrensa = await $axios.$get(`/media-content/`) 
        const journals = await $axios.$get(`/media-content/?seo_url=sala-de-prensa`) 
        const news = await $axios.$get(`/news/`)                    
        const journalists = journals[0],            
              prensa = salaDePrensa[0]                
        return { prensa,journalists,news, seo }
    }, 
    filters:{
        truncate(value,length){
            length = length || 15;
            if (!value || typeof value !== "string") return "";
            if (value.length <= length) return value;
            return value.substring(0, length) + "...";
        }
    }, 
    components:{
        videoPlayer,
        CardsBox,
        Whatsapp
    },
    methods:{  
        forceFileDownload(response, title) {
            console.log(title)
            const url = window.URL.createObjectURL(new Blob([response.data]))
            const link = document.createElement('a')
            link.href = url
            link.setAttribute('download', title)
            document.body.appendChild(link)
            link.click()
        },
        downloadWithAxios(url, title) {
            this.$axios({
                method: 'get',
                url,
                responseType: 'arraybuffer',
            })
                .then((response) => {
                this.forceFileDownload(response, title)
                })
                .catch(() => console.log('error occured'))
        },   
        loadMorePhoto() {
            this.currentPagePhoto += 1;
        },
        loadMoreVideo() {
            this.currentPageVideo += 1;
        },
        preSelectSection(hash){
            if(hash.includes('eventos')){
                this.tabIndex = 0
                this.tabSelected = 0
            }else if(hash.includes('webinars')){                
                this.tabIndex = 1
                this.tabSelected = 1
            }
        },
        goTo(url){
            this.$router.push(url)
        },
        showMoreCard(){            
            var currentLength = this.news.length
            var compare = currentLength - 4
            if(Math.sign(compare) == -1){                
            }else{
                if(compare.length >= 4){                    
                    this.maxShow = this.maxShow + 4
                }else{
                    this.maxShow = this.maxShow + compare   
                    this.BtnCardText = ''                 
                }
            }
        } 
    },
    created(){
        this.preSelectSection(this.$route.hash)
    },
    computed: {
        totalResults(type) {
            if(type == 'photo'){
                return Object.keys(this.journalists.journalist_photo).length;        
            }else if(type == 'video'){
                return Object.keys(this.journalists.journalist_video).length;        
            }        
        },
        pageCount() {
        return Math.ceil(this.totalResults / this.maxPerPage);
        },
        paginatedPhotos() {                         
            return this.journalists.journalist_photo.slice(0, this.currentPagePhoto * this.maxPerPage);            
        },
        paginatedVideos() {            
            return this.journalists.journalist_video.slice(0, this.currentPageVideo * this.maxPerPage);        
        },
  },
}
</script>

<style lang="scss">
.prensa-section{
    .nav-tabs{
        max-width: 400px;
    }
}
</style>