<template>
  <div class="pt-5">          
      <div class="container pt-5 pb-5 mb-4">
            <h1 class="title">
                Servicios
            </h1>  
          <b-tabs content-class="mt-sm-4 mb-5 pt-sm-4 tab-global" v-model="tabIndex" justified>
            
            <b-tab class="tabs-asociacion" v-for="tab in type" :key="tab.id" :title="tab.name">                
              
                <b-card-group class="row">
                    <b-card  v-for="service in services.slice(0,maxShow)" :key="service.id" v-show="tab.id == service.type"  class="card-styling three-columns-service">                            
                        <div class="hardcode-img-card" >
                        <img v-if="service.image" :src="service.image" alt="img">
                        <video-player class="videoCard" v-else-if="service.video" :srcVideo="service.video.file"></video-player>
                        
                        <img v-else src="/images/img_card.jpg" alt="img">          
                        </div>                        
                        <h3> {{service.title | truncate(100)}}</h3>
                        <b-card-text>
                            {{service.text | truncate(100)}}
                        </b-card-text>  
                        <a :href="`/servicio/${service.seo_url}`" class="btn btn-global btn-blank-pink">Ver más</a>                      
                    </b-card>                                              
                </b-card-group>                                                           
                <!-- <a @click.prevent="showMoreCard" class="center-btn m-5 btn btn-global btn-pink"> Ver más </a>  -->
            </b-tab>
        </b-tabs>
      </div>      
  </div>


</template>

<script>
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
import videoPlayer from '@/components/Globals/VideoPlayer'
  export default {    
    mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin], 
    head() {    
          return {
              title: this.seo[0].seo_title,
              meta: [
              { charset: 'utf-8' },
              { name: 'viewport', content: 'width=device-width, initial-scale=1' },
              {
                  hid: 'description',
                  name: 'description',
                  content: this.seo[0].seo_description
              },
              {
                  hid: 'keywords',
                  name: 'keywords',
                  content: this.seo[0].seo_keyword
              },
              { hid: 'og:image', name: 'og:image', content: this.seo[0].seo_image }
              ],       
          }
    },
    components:{
    videoPlayer
    },  
    created(){
        this.screenWidth = this.$vssWidth
    },
    data(){
        return{
            tabIndex:0,
            maxShow:6,
            totalShow:0,
            filtersubtheme:'',
            BtnCardText:'Ver más información',
            tabInfo:[
                {   
                    id:1,
                    title:'Tecnología',
                    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam atque veritatis vel praesentium. Voluptas deleniti quia culpa maxime delectus non. Dignissimos ipsum ex maxime, consequuntur recusandae odio? Deserunt, repudiandae!'
                },
                {   
                    id:2,
                    title:'Seguridad',
                    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam atque veritatis vel praesentium. Voluptas deleniti quia culpa maxime delectus non. Dignissimos ipsum ex maxime, consequuntur recusandae odio? Deserunt, repudiandae!'
                },
                {   
                    id:3,
                    title:'Facturación',
                    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam atque veritatis vel praesentium. Voluptas deleniti quia culpa maxime delectus non. Dignissimos ipsum ex maxime, consequuntur recusandae odio? Deserunt, repudiandae!'
                },
                {   
                    id:4,
                    title:'Regulación',
                    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam atque veritatis vel praesentium. Voluptas deleniti quia culpa maxime delectus non. Dignissimos ipsum ex maxime, consequuntur recusandae odio? Deserunt, repudiandae!'
                },
                {   
                    id:5,
                    title:'Otros',
                    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam atque veritatis vel praesentium. Voluptas deleniti quia culpa maxime delectus non. Dignissimos ipsum ex maxime, consequuntur recusandae odio? Deserunt, repudiandae!'
                }                
            ],
            cardsInfo:[
                 {
                    "id": 1,
                    "only_text": [],
                    "gallery": [],
                    "image": [],
                    "video": [],
                    "text_image": [],
                    "text_video": [],
                    "image_text": [],
                    "video_text": [],
                    "title": "taerjita de prueba",
                    "relevant": null,
                    "register_date": "2021-01-20",
                    "type": "IMAGE",
                    "url": "",
                    "file": "http://localhost:8000/media/tips/file/img_card.jpg",
                    "text": "Integer diam tortor, gravida vitae lectus quis, vulputate auctor odio. Aenean sollicitudin est purus, at interdum nibh ...",
                    "is_active": "ACTIVE",
                    "theme": 2,
                    "sub_theme": 4
                },
                 {
                    "id": 2,
                    "only_text": [],
                    "gallery": [],
                    "image": [],
                    "video": [],
                    "text_image": [],
                    "text_video": [],
                    "image_text": [],
                    "video_text": [],
                    "title": "tarjeta de prueba",
                    "relevant": null,
                    "register_date": "2021-01-20",
                    "type": "IMAGE",
                    "url": "",
                    "file": "http://localhost:8000/media/tips/file/img_card.jpg",
                    "text": "Integer diam tortor, gravida vitae lectus quis, vulputate auctor odio. Aenean sollicitudin est purus, at interdum nibh ...",
                    "is_active": "ACTIVE",
                    "theme": 2,
                    "sub_theme": 4
                },
                 {
                    "id": 3,
                    "only_text": [],
                    "gallery": [],
                    "image": [],
                    "video": [],
                    "text_image": [],
                    "text_video": [],
                    "image_text": [],
                    "video_text": [],
                    "title": "card de prueba",
                    "relevant": null,
                    "register_date": "2021-01-20",
                    "type": "IMAGE",
                    "url": "",
                    "file": "http://localhost:8000/media/tips/file/img_card.jpg",
                    "text": "Integer diam tortor, gravida vitae lectus quis, vulputate auctor odio. Aenean sollicitudin est purus, at interdum nibh ...",
                    "is_active": "ACTIVE",
                    "theme": 2,
                    "sub_theme": 4
                },       
                {
                    "id": 4,
                    "only_text": [],
                    "gallery": [],
                    "image": [],
                    "video": [],
                    "text_image": [],
                    "text_video": [],
                    "image_text": [],
                    "video_text": [],
                    "title": "card de ",
                    "relevant": null,
                    "register_date": "2021-01-20",
                    "type": "IMAGE",
                    "url": "",
                    "file": "http://localhost:8000/media/tips/file/img_card.jpg",
                    "text": "Integer diam tortor, gravida vitae lectus quis, vulputate auctor odio. Aenean sollicitudin est purus, at interdum nibh ...",
                    "is_active": "ACTIVE",
                    "theme": 2,
                    "sub_theme": 4
                },                                                
            ],
            about:[],
            slickOptions: {
                dots: true,
                focusOnSelect: true,
                infinite: true,
                speed: 500,
                slidesToShow: 4,
                slidesToScroll: 2,
                touchThreshold: 5,
                arrows:true,                   
                responsive: [
                    {
                    breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },          
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false,
                            arrows:false
                        }
                    }]
            },
            type:[],
            services:[],
            screenWidth:'',
            slickOptions: {
                dots: true,
                focusOnSelect: true,
                infinite: true,        
                adaptiveHeight:true,        
                speed: 500,        
                slidesToShow: 1,
                slidesToScroll: 1,                               
                responsive: [
                    {
                    breakpoint: 769,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true,                    
                        }
                    },          
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,  
                            centerPadding:'50px'
                        }
                    }]
            },          
        }
    },    
    async asyncData({ $axios }) {
            const seos = await $axios.$get(`/seo/`)
            const seo  = seos.filter((seo) => seo.origin == 'SERVICE')
            const type = await $axios.$get(`/type/`) 
            const services = await $axios.$get(`/service/`)                    
                
        return { type,services,seo }
    },  
    methods:{
        linkTab(idx) {
            if (this.tabIndex === idx) {
            return ['bg-primary', 'text-light']
            } else {
            return ['bg-light', 'text-info']
            }
        },
        currentLengthCards(services,tab){
          var arr = []
          for(srv in services){
            if(srv.type == 5){
                arr.push()
            }
          }
        },
        showMoreCard(){            
            var currentLength = this.tabInfo.length
            var compare = currentLength - 3
            if(Math.sign(compare) == -1){
                // console.log('es negativo')
            }else{
                if(compare.length >= 3){                    
                    this.maxShow = this.maxShow + 3
                }else{
                    this.maxShow = this.maxShow + compare   
                    this.BtnCardText = ''                 
                }
            }
        }        
    },
    filters:{
        truncate(value,length){
            length = length || 15;
            if (!value || typeof value !== "string") return "";
            if (value.length <= length) return value;
            return value.substring(0, length) + "...";
        }
    },
    watch:{
        '$vssWidth': function(newVal,oldVal){
            this.screenWidth = newVal
        }
    }
 

}
</script>

<style lang="scss" scoped>
.card-deck{
  justify-content: center;
}

  .card{ 
    &.card-styling{
      -webkit-border-radius: 10px;
      -webkit-border-top-left-radius: 60px;
      -webkit-border-bottom-right-radius: 60px;
      border-radius: 10px!important;
      border-top-left-radius: 60px!important;
      border-bottom-right-radius: 60px!important;
      overflow: hidden;
      max-width: 35%;
      justify-content: center;
      @media screen and (min-width:601px) and (max-width:769px){
        max-width:60%;
      }
      @media screen and (max-width:600px){
        max-width:100%;
         border-top-left-radius: 40px!important;
        border-bottom-right-radius: 40px!important;
      }
      &.three-columns-service{
        flex: 1 1 auto;
        flex-direction: column;
        max-width: 30%;
        margin: 10px 13px;
        min-height: 480px;
        border:0;
        -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
        -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
        box-shadow: 0px 0px 17px -3px #eeeeee;
        transition: .3s all;
        &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
        @media screen and (max-width: 768px){
          max-width: 100%;
          min-height: auto;
        }
      }
      &.slick-cards{
        max-width: 100%;          
        margin: auto;
        min-height: 340px;
        border:0;
        -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
        -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
        box-shadow: 0px 0px 17px -3px #eeeeee;
        transition: .3s all;
        &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
      }
       h3{
          color: #001D85;
          font-size: 1.4rem;
          @media screen and (max-width:600px) {
            font-size: 1rem;;
          }
        }
        p{
          color:#001D85;
          @media screen and (max-width:600px) {
            font-size: .8rem;
          }
        }
      .hardcode-img-card{
        position: relative;
      
        img{
          position: relative;
          top: -20px;
          left: -20px;
          width: 115%;
          max-height: 210px; 
          height: 210px;         
          @media screen and (max-width:768px) {
            width:125%;
            max-height: 240px;
          }
        }      
        .date{
          position:absolute;
          bottom:15px;
          right:-20px;
          padding:5px 10px;
          color:#001D85;
          background-color: white;
          pointer-events: none;
        }     
      }
    }  
  }
  .loadMoreVersion{
    .card{
      max-width: 100%!important;
    }
  }
  .slick-slide{
    @media screen and (min-width:601px) and (max-width:769px){
      padding:10px;
    }
  }
</style>