<template>
  <div class="bg-white-border">
      <div class="container mb-4 pl-sm-5 pr-sm-5">
          <h1 class="title mt-5">{{otherPages[0].re_title}}</h1>
          <p class="t-blue text-center">{{otherPages[0].re_description}}</p>
        <div class="accordion container" role="tablist">
            <b-card v-for="simulador in simuladores" :key="simulador.id" no-body class="mb-1 border-0 accordion-card">
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-button block v-b-toggle="`accordion-${simulador.id}`" class="accordion-btn simulador-btn no-border-btn">{{simulador.name}}</b-button>
                </b-card-header>
                <b-collapse :id="`accordion-${simulador.id}`" accordion="my-accordion" role="tabpanel">
                    <b-card-body class="simuladores-body">                            
                        <b-card-text class="row">
                            <a v-for="lista in simulador.simulations" :key="lista.id" target="blank" :href="lista.link" class="col-12 col-sm-4 simulador row">
                                <span><small></small></span><p>{{lista.name}}</p>
                            </a>                            
                        </b-card-text>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>                                                                                            
      </div>
  </div>
</template>

<script>
export default {
    async asyncData({ $axios }) {                  
        const simuladores = await $axios.$get(`/rate-simulation/`)             
        const otherPages = await $axios.$get(`/other-pages/`)   
        return { simuladores,otherPages }
    },
    data(){
        return{
            simuladores: [
                {
                    id: 1,
                  section: "Azteca Perú",
                  content:[
                   {
                        id:1,       
                        url:'https://google.com',
                        title:'Crédito personal'
                   },
                    {
                        id:2,
                        url:'https://google.com',
                        title:'Tarjeta de credito clásica'
                   },
                    {
                        id:3,       
                        url:'https://google.com',
                        title:'Crédito hipotecario'
                   },
                    {
                        id:4,       
                        url:'https://google.com',
                        title:'Crédito vehicular'
                   },
                    {
                        id:5,       
                        url:'https://google.com',
                        title:'Ahorro clasico'
                   }
                  ],
                  my_order: 1,
                  webinar: 3
                },
                {
                  id: 2,
                  section: "Banco continental",
                   content:[
                   {
                        id:1,       
                        url:'https://google.com',
                        title:'Crédito personal'
                   },
                    {
                        id:2,
                        url:'https://google.com',
                        title:'Tarjeta de credito clásica'
                   },
                    {
                        id:3,       
                        url:'https://google.com',
                        title:'Crédito hipotecario'
                   },
                    {
                        id:4,       
                        url:'https://google.com',
                        title:'Crédito vehicular'
                   },
                    {
                        id:5,       
                        url:'https://google.com',
                        title:'Ahorro clasico'
                   }
                  ],
                  my_order: 2,
                  webinar: 3
                },
                {
                id: 3,
                  section: "Banco de Crédito",
                   content:[
                   {
                        id:1,       
                        url:'https://google.com',
                        title:'Crédito personal'
                   },
                    {
                        id:2,
                        url:'https://google.com',
                        title:'Tarjeta de credito clásica'
                   },
                    {
                        id:3,       
                        url:'https://google.com',
                        title:'Crédito hipotecario'
                   },
                    {
                        id:4,       
                        url:'https://google.com',
                        title:'Crédito vehicular'
                   },
                    {
                        id:5,       
                        url:'https://google.com',
                        title:'Ahorro clasico'
                   }
                  ],
                  my_order: 3,
                  webinar: 3
                },
            ],        
        }
    }
}
</script>

<style lang="scss">
.no-border-btn{
    border-bottom:0!important;
}

</style>