<template>
  <div class="bg-white-border">
      <div class="container" v-if="terms">
          <h1 class="title mt-5">{{ terms[0].name }}</h1>
        <div class="accordion container" role="tablist">
            <b-card v-for="termino in terms[0].term" :key="termino.id" no-body class="mb-1 border-0 accordion-card">
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-button block v-b-toggle="`accordion-${termino.id}`" class="accordion-btn no-border-btn"> {{termino.my_order}}. {{termino.name}}</b-button>
                </b-card-header>
                <b-collapse :id="`accordion-${termino.id}`" accordion="my-accordion" role="tabpanel">
                    <b-card-body>                            
                        <b-card-text v-html="termino.content"></b-card-text>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>                                                                                            
      </div>
      <div v-else>
          <p>No hay términos y condiciones..</p>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            terms: [],        
        }
    },
    async asyncData({ $axios }) {                  
        const terms = await $axios.$get(`/term-condition/`)             
        const otherPages = await $axios.$get(`/other-pages/`)   
        return { terms,otherPages }
    },
}
</script>

<style lang="scss">
.no-border-btn{
    border-bottom:0!important;
}

</style>