<template>
  <div class="banner-asbanc">
        <b-carousel
            id="carousel-fade"            
            fade
            indicators
            v-if="slides"
        >
            <b-carousel-slide            
            
            :style="`background-image:url('${banner.image}')`"
            v-for="banner in slides"
            :key="banner.id"
            >   
            <div class="overlay-banner desktop" :style="`background-image:url(/images/${overlayColor(banner.color,'desktop')})`"></div>
            <div class="overlay-banner mobile" :style="`background-image:url(/images/${overlayColor(banner.color,'mobile')})`"></div>
                <div class="text-banner">
                    <h3>{{banner.title}}</h3>
                    <p>{{banner.description}}</p>
                    <a :href="banner.url" target="blank" class="btn btn-global btn-white t-pink mb-4">Conoce más</a>
                </div>                
            </b-carousel-slide>          
        </b-carousel>
  </div>
</template>

<script>
export default {  
    props:{
        slides:Array
    },        
    methods:{
        overlayColor(color,size){
            if(color == 'BLUE'){
                if(size == 'desktop'){
                    return 'azul-overlay.png'
                }else{
                    return 'azul-overlay-mobile.png'
                }
            }else if(color == 'YELLOW'){
                if(size == 'desktop'){
                    return 'amarillo-overlay.png'
                }else{
                    return 'amarillo-overlay-mobile.png'
                }
            }else if(color == 'MAGENTA'){
                if(size == 'desktop'){
                    return 'rosa-overlay.png'
                }else{
                    return 'rosa-overlay-mobile.png'
                }
            }else{
                if(size == 'desktop'){
                    return 'celeste-overlay.png'
                }else{
                    return 'celeste-overlay-mobile.png'
                }
            }
        }
    },
    watch:{
      '$vssWidth': function(newVal,oldVal){
        this.screenWidth = newVal
      }
  },
}
</script>

<style lang="scss">
    .banner-asbanc{
        overflow: hidden;
        border-radius: 0px 0px 85px 85px;
        @media screen and (max-width:600px) {
            margin-bottom:0px;
            .carousel{
                height:480px;                
            }
        }        
        .carousel-inner{      
            @media screen and (max-width:600px) {
                border-radius: 0px 0px 15px 15px;                
            }      
            .carousel-item{
                height:580px;
                background-size:cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;
                @media screen and (max-width:500px) {
                    height:400px;
                }
                img{
                    @media screen and (max-width:993px) {
                       &.img-fluid.w-100.d-block{
                           display: none!important;
                       }
                    }
                }
                .carousel-caption{
                    position:initial;
                    .overlay-banner{
                        position: absolute;             
                        width: 100%; 
                        height: 100%; 
                        top: 0;
                        left: 0;                                 
                        z-index: 2; 
                        cursor: pointer; 
                        background-repeat: no-repeat;
                        background-position-x: 0%;               
                        @media screen and (min-width:500px) {
                            &.desktop{
                                display: flex;
                            }
                            &.mobile{
                                display: none;
                            }
                        }
                        @media screen and (max-width:500px) {
                            bottom:0;
                            background-size: contain;
                            left: -70px;
                            opacity: 0.9;
                            &.desktop{
                                display: none;
                            }
                            &.mobile{
                                display: flex;
                            }
                        }
                    }   
                    .text-banner{
                        position:absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left:10%;
                        z-index: 10;
                        h1{
                            color:white;
                            max-width: 350px;
                            text-align: left;
                        }
                    }
                }
                @media screen and (max-width:600px) {
                    .carousel-caption{
                        bottom:50px;
                        h3{
                            font-size:1.8rem;
                        }
                    }
                }
            }
        }
    }
    .banner_home{
        .carousel-indicators{
            @media screen and (max-width:600px) {
                justify-content: center;
                margin-left:15%;
            }
        }
    }
</style>