<template>
  <div>
    <b-card-group v-if="screenWidth > 768" class="row">
      <b-card v-for="data in paginatedData" :key="data.id"  v-show="checkData(data)" class="card-styling three-columns">      
        <div class="hardcode-img-card" >
          <!-- <img :src="data.file" alt="img"> -->
          <div  v-if="data.type == 'IMAGE'" class="img-card" :style="`background-image:url(${data.file})`"></div>
          <video-player class="videoCard" v-else-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player>
          <iframe controls="0" v-else-if="data.type == 'URL'  && data.url != ''"  class="videoCard" width="420" height="250"
          :src="data.url+'?controls=0&showinfo=1&rel=0&modestbranding=0'">
          </iframe>
          <img v-else src="/images/img_card.jpg" alt="img">

          <small v-show="data.type != 'VIDEO'" class="date">{{ data.register_date }}</small>
        </div>
        <h3>{{data.title | truncate(100)}}</h3>
        <b-card-text v-if="bankreport">
          <span v-for="textdata in data.text_content_first" :key="textdata.id" v-html="$options.filters.truncate(textdata.text,100)"></span>
        </b-card-text>
        <b-card-text v-else>
          {{data.text | truncate(100)}}
        </b-card-text>
        <template v-if="urlIntern">
          <NuxtLink :to="`/${urlIntern}/${data.seo_url}`" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</NuxtLink>
        </template>
        
        <template v-else>
          <a href="#" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</a>
        </template>
      </b-card>     
    </b-card-group>
    <b-card-group v-else-if="screenWidth < 768 && loadMoreData" class="row" :class="loadMoreData ? 'loadMoreVersion':''">
      <b-card v-for="data in paginatedData" :key="data.id"  v-show="checkData(data)" class="card-styling three-columns">      
        <div class="hardcode-img-card" >
          <!-- <img v-if="data.type == 'IMAGE'" :src="data.file" alt="img"> -->
          <div  v-if="data.type == 'IMAGE'" class="img-card" :style="`background-image:url(${data.file})`"></div>
          <video-player class="videoCard" v-else-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player>
          <iframe controls="0" v-else-if="data.type == 'URL'  && data.url != ''"  class="videoCard" width="420" height="250"
          :src="data.url+'?controls=0&showinfo=1&rel=0&modestbranding=0'">
          </iframe>
          <img v-else src="/images/img_card.jpg" alt="img">

          <small v-show="data.type != 'VIDEO'" class="date">{{ data.register_date }}</small>
        </div>
        <h3>{{data.title | truncate(100)}}</h3>
        <b-card-text v-if="bankreport">
          {{data.text_content_first.text | truncate(100)}}
        </b-card-text>
        <b-card-text v-else>
          {{data.text | truncate(100)}}
        </b-card-text>
        <template v-if="urlIntern">
          <NuxtLink :to="`/${urlIntern}/${data.seo_url}`" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</NuxtLink>
        </template>
        
        <template v-else>
          <a href="#" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</a>
        </template>
      </b-card>     
    </b-card-group>

    <no-ssr v-else>
      <div v-if="stillLoading" class="d-flex justify-content-center m-5">
        <b-spinner variant="primary" label="Spinning"></b-spinner>
      </div>
      <VueSlickCarousel v-else class="pt-4 mb-4" v-bind="slickOptions">                            
       <b-card v-for="data in paginatedData" :key="data.id"  v-show="checkData(data)" class="card-styling slick-cards">      
        <div class="hardcode-img-card" >
          <!-- <img v-if="data.type == 'IMAGE'" :src="data.file" alt="img"> -->
          <div  v-if="data.type == 'IMAGE'" class="img-card" :style="`background-image:url(${data.file})`"></div>
          <video-player class="videoCard" v-else-if="data.type == 'VIDEO'" :srcVideo="data.file"></video-player>
          <iframe controls="0" v-else-if="data.type == 'URL'  && data.url != ''"  class="videoCard" width="420" height="250"
          :src="data.url+'?controls=0&showinfo=1&rel=0&modestbranding=0'">
          </iframe>
          <img v-else src="/images/img_card.jpg" alt="img">

          <small v-show="data.type != 'VIDEO'" class="date">{{ data.register_date }}</small>
        </div>
        <h3>{{data.title | truncate(100)}}</h3>
        <b-card-text v-if="bankreport">
          {{data.text_content.text | truncate(100)}}
        </b-card-text>
        <b-card-text v-else>
          {{data.text | truncate(100)}}
        </b-card-text>
        <template v-if="urlIntern">
          <NuxtLink :to="`/${urlIntern}/${data.id}`" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</NuxtLink>
        </template>
        
        <template v-else>
          <a href="#" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</a>
        </template>
      </b-card>                          
    </VueSlickCarousel>  
    </no-ssr>     
    <a :href="globalBtnUrl" v-show="globalBtnText && currentPage * maxPerPage < datas.length" @click.prevent="showMoreData" class="center-btn m-5 btn btn-global" :class="btnStyle != null ? `btn-${globalBtnStyle}`:''">{{ globalBtnText }}</a>
  </div>
</template>

<script>
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
import videoPlayer from '@/components/Globals/VideoPlayer'
export default {
  mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  props:{
    btnStyle:String,
    btnText:String,
    date:Boolean,
    globalBtnUrl:String,
    globalBtnText:String,
    globalBtnStyle:String,
    datas:Array,
    subtheme:String,
    limitCard:Number,
    loadMoreData:Boolean,
    bankreport:Boolean,
    urlIntern:String,
    yearSelected:Number,
    monthSelected:Number,
    stillLoading:Boolean
  },
  data(){
    return{
      screenWidth:'',
      showReadMore: true,    
      currentPage: 1,
      maxPerPage: 6,
      slickOptions: {
        dots: true,
        focusOnSelect: true,
        infinite: true,        
        adaptiveHeight:true,        
        speed: 500,        
        slidesToShow: 1,
        slidesToScroll: 1,           
        responsive: [
            {
            breakpoint: 769,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true,                    
                }
            },          
            {
            breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,  
                    centerPadding:'50px'
                }
            }]
      },
    }
  },
  components:{
    videoPlayer
  },  
  created(){
    this.screenWidth = this.$vssWidth
  },
  methods:{
    checkData(data){
      if(this.subtheme != ''){
        return parseInt(this.subtheme) == data.sub_theme
      }else{
        return true
      }
    },
    showMoreData(){
        this.currentPage += 1;
        this.$emit('showMore')
    },    
  },
  filters:{
    truncate(value,length){
        length = length || 15;
        if (!value || typeof value !== "string") return "";
        if (value.length <= length) return value;
        return value.substring(0, length) + "...";
    }
  },
  watch:{
      '$vssWidth': function(newVal,oldVal){
        this.screenWidth = newVal
      }
  },
  computed: {    
    paginatedData() {
      var vm = this;
      var yearSelected = vm.yearSelected;
      var monthSelected = vm.monthSelected;
      if(yearSelected && !monthSelected){
        return vm.datas.filter(function() {					
            for(var y in vm.datas){                                            
                if(parseInt(vm.datas[y].register_date.split('-')[0]) == yearSelected){
                    return vm.datas.slice(0, vm.currentPage * vm.maxPerPage);
                }            
            }

				});
      }else if(!yearSelected && monthSelected){
        return vm.datas.filter(function() {
            for(var y in vm.datas){
              if(parseInt(vm.datas[y].register_date.split('-')[1]) == monthSelected){
                  return vm.datas.slice(0, vm.currentPage * vm.maxPerPage);
              }            
            }

				});
      }else if(yearSelected && monthSelected){
        return vm.datas.filter(function() {
            for(var y in vm.datas){
              if(parseInt(vm.datas[y].register_date.split('-')[0]) == yearSelected && parseInt(vm.datas[y].register_date.split('-')[1]) == monthSelected){
                  return vm.datas.slice(0, vm.currentPage * vm.maxPerPage);
              }            
            }
				});
      }else{
        return this.datas.slice(0, this.currentPage * this.maxPerPage);
      }
    }
  },
}
</script>

<style lang="scss">
.card-deck{
  justify-content: center;
}

  .card{ 
    &.card-styling{
      -webkit-border-radius: 10px;
      -webkit-border-top-left-radius: 60px;
      -webkit-border-bottom-right-radius: 60px;
      border-radius: 10px!important;
      border-top-left-radius: 60px!important;
      border-bottom-right-radius: 60px!important;
      overflow: hidden;
      max-width: 35%;
      justify-content: center;
      -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
      -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
      box-shadow: 0px 0px 17px -3px #eeeeee;
      border: 0;
      transition: .3s all;
      &.event-webinar-card{        
        @media screen and (min-width:600px){
          max-width:40%;
        }      
        .hardcode-img-card{
          img{
            @media screen and (min-width:600px){
              min-height:220px;
              max-height: 220px;
            }
          }
        }
      }
      &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
      @media screen and (min-width:601px) and (max-width:769px){
        max-width:60%;
      }
      @media screen and (max-width:600px){
        max-width:100%;
         border-top-left-radius: 40px!important;
        border-bottom-right-radius: 40px!important;
      }
      &.two-columns-one-mobile{
        flex: 1 1 auto;
        flex-direction: column;
        max-width: 45%;
        margin: 20px 13px;
        min-height: 430px;
        border:0;
        -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
        -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
        box-shadow: 0px 0px 17px -3px #eeeeee;
        transition: .3s all;
        .hardcode-img-card{
          img{
            min-height: 220px;
          }        
          .img-card{
            background-position: center;
            background-size: cover;
            display:block;
            width: 115%;
            position:relative;
            top: -20px;
            left: -20px;
            width: 115%;
            max-height: 210px;
            min-height: 185px;
          }  
        }
        &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
        @media screen and (max-width: 768px){
          max-width: 100%;
          min-height: auto;
          margin:20px 0px;
        }
      }
      &.two-columns{
        flex: 1 1 auto;
        flex-direction: column;
        max-width: 45%;
        margin: 20px 13px;
        min-height: 430px;
        border:0;
        -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
        -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
        box-shadow: 0px 0px 17px -3px #eeeeee;
        transition: .3s all;
        .hardcode-img-card{
          img{
            min-height: 250px;
          }
          .img-card{
            background-position: center;
            background-size: cover;
            display:block;
            width: 115%;
            position:relative;
            top: -20px;
            left: -20px;
            width: 115%;
            max-height: 210px;
            min-height: 185px;
          }  
        }
        &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
        @media screen and (max-width: 768px){
          max-width: 46%;
          min-height: auto;
        }
      }
      &.three-columns{
        flex: 1 1 auto;
        flex-direction: column;
        max-width: 30%;
        width:100%;
        margin: 10px 13px;
        min-height: 430px;
        border:0;
        -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
        -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
        box-shadow: 0px 0px 17px -3px #eeeeee;
        transition: .3s all;
        &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
        @media screen and (max-width: 768px){
          max-width: 46%;
          min-height: auto;
        }
      }
      &.slick-cards{
        max-width: 100%;          
        margin: auto;
        min-height: 340px;
        border:0;
        -webkit-box-shadow: 0px 0px 17px -3px #eeeeee;
        -moz-box-shadow: 0px 0px 17px -3px #eeeeee;
        box-shadow: 0px 0px 17px -3px #eeeeee;
        transition: .3s all;
        &:hover{
          -webkit-box-shadow: 0px 0px 17px 5px #eeeeee;
          -moz-box-shadow: 0px 0px 17px 5px #eeeeee;
          box-shadow: 0px 0px 17px 5px #eeeeee;
        }
      }
       h3{
          color: #001D85;
          font-size: 1.4rem;
          @media screen and (max-width:600px) {
            font-size: 1rem;;
          }
        }
        p{
          color:#001D85;
          @media screen and (max-width:600px) {
            font-size: .8rem;
          }
        }
      .hardcode-img-card{
        position: relative;
      
        img{
          position: relative;
          top: -20px;
          left: -20px;
          width: 115%;
          max-height: 210px;      
          min-height:185px;    
          @media screen and (max-width:768px) {
            width:125%;
            max-height: 240px;
          }
        }  
        .img-card{
            background-position: center;
            background-size: cover;
            display:block;
            width: 115%;
            position:relative;
            top: -20px;
            left: -20px;
            width: 115%;
            max-height: 210px;
            min-height: 185px;
          }      
        .date{
          position:absolute;
          bottom:15px;
          right:-20px;
          padding:5px 10px;
          color:#001D85;
          background-color: white;
          pointer-events: none;
          font-family: 'Barlow';
          font-weight: 600;
        }     
      }
    }  
  }
  .loadMoreVersion{
    .card{
      max-width: 100%!important;
    }
  }
  .slick-slide{
    @media screen and (min-width:601px) and (max-width:769px){
      padding:10px;
    }
  }
</style>