<template>
  <div>
    <b-card-group columns>
      <b-card class="card-styling card-toggles" v-for="comite in comites" :key="comite.id">
        <div :id="`hardcode${comite.id}`" class="hardcode-img-card">
          <img :src="comite.image" class="icon-image" alt="img">          
        </div>
        <h5>{{comite.title}}</h5>
        <b-card-text>
            <b-button @click.prevent="isOpened(comite.id)" class="btn btn-global btn-blank-pink" v-b-toggle="`my-collapse-${comite.id}`">
                <span class="when-open">Ver menos</span><span class="when-closed">Ver más</span>
            </b-button>
            <b-collapse :id="`my-collapse-${comite.id}`" class="mt-2">
                <b-card><p v-html="comite.text"></p>
                    <hr>
                     <p v-html="comite.group"></p>


                </b-card>
            </b-collapse>
        </b-card-text>        
      </b-card>
     
    </b-card-group>
    
  </div>
</template>

<script>
export default {
  props:{
    btnStyle:String,
    btnText:String,
    date:Boolean,
    globalBtnUrl:String,
    globalBtnText:String,
    globalBtnStyle:String,
    comites:Array
  },
  methods:{
    isOpened(id){                          
      setTimeout(() => {        
        var el = document.getElementById(`hardcode${id}`);        
          el.classList.toggle('active');        
      }, 1)
    }
  }
}
</script>

<style lang="scss">
  .card-columns{
    justify-content: center;
    .card{ 
      &.card-styling{
        -webkit-border-radius: 10px;
        -webkit-border-top-left-radius: 50px;
        -webkit-border-bottom-right-radius: 50px;
        border-radius: 10px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        overflow: hidden;        
        justify-content: center;
        min-height: 350px;
        @media screen and (max-width:600px){
          -webkit-border-top-left-radius: 40px;
          -webkit-border-bottom-right-radius: 40px;
          border-top-left-radius: 40px;
          border-bottom-right-radius: 40px;
        }
        .hardcode-img-card{
            position: relative;
            background-color: #4FC5E985;     
            width: 115%;
            left: -20px;
            top: -20px;
            height: 180px;
            display:flex;
            align-items: center;
            justify-content: center;
            transition: .3s all;
            &.active{
              background-color:#4FC5E9;
            }
            @media screen and (min-width:600px) and (max-width:768px){
              width:125%;
              max-height: 240px;              
            }
            &.open{
                background-color: #4FC5E9;   
            }
         .icon-image{            
            width: 100px!important;  
            height:100px!important;  
            left:0!important;
            top:0!important;       
            min-height:100px;            
         }
         .date{
           position:absolute;
           bottom:15px;
           right:-20px;
           padding:5px 10px;
           color:#001D85;
           background-color: white;
           pointer-events: none;
           font-family: 'Barlow';
           font-weight: 600;
         }
        }
        &.card-toggles{
            margin-top:20px;
            box-shadow:0px 2px 10px rgba(0, 0, 0, 0.07);
            border:0;
            max-width:95%;
             @media screen and (max-width:600px){
               min-height: 330px;
              border-top-left-radius: 40px!important;
              border-bottom-right-radius: 40px!important;
              }
            h5{
                color: #001D85;
                min-height:50px;
            }
            .card-body{
                padding-bottom:0;     
                .card-text{                  
                }           
            }
        }
      }  
    }
    .collapse{        
        .card{
            border:0;
            .card-body{
                padding: 0;
                color:#001D85;
                font-family: 'Barlow';
                font-weight: 600;
                hr{
                    background-color:#F142AF;
                }
            }
        }
    }
  }
  .collapsed > .when-open,
  .not-collapsed > .when-closed {
    display: none;
    background-color:white;
}


</style>