<template>
  <div class="footer-blue" :class="$store.state.isOpenSearch ? 'search-open-foot':''">
      <div class="container">        
        <div class="row">
          <div class="col-sm-3 col-12 pl-sm-0">
            <img src="/images/ABS_logo_celest.svg" class="img-fluid logo-foot pt-4 pr-sm-5" alt="">
          </div>
          <div class="col-sm-3 col-12">
            <h5>{{$store.state.FootHead.footer_column_one}}</h5>
            <ul class="foot-ul">          
              <li v-for="list in $store.state.FootHead.footer_internal" :key="list.id" v-show="list.column == 'COLUMN_1'"><nuxt-link :to="`/${list.link}`">{{list.name}}</nuxt-link></li>              
            </ul>
          </div>
          <div class="col-sm-3 col-12">
            <h5>{{$store.state.FootHead.footer_column_two}}</h5>
            <ul class="foot-ul">          
              <li v-for="list in $store.state.FootHead.footer_internal" :key="list.id" v-show="list.column == 'COLUMN_2'"><nuxt-link :to="`/${list.link}`">{{list.name}}</nuxt-link></li>              
            </ul>
          </div>
          <div class="col-sm-3 col-12">
            <h5>{{$store.state.FootHead.footer_column_three}}</h5>
            <div class="row social-icons">              
              <a v-for="social in $store.state.FootHead.social_network" :key="social.id+'social'" v-if="social.option == 'FB'" :href="social.link" target="blank" class="pl-sm-3 pr-sm-3"><b-icon icon="facebook" aria-hidden="true"></b-icon></a>
              <a v-for="social in $store.state.FootHead.social_network" :key="social.id+'social'" v-if="social.option == 'IG'" :href="social.link" target="blank" class="pr-sm-3"><b-icon icon="instagram" aria-hidden="true"></b-icon></a>
              <a v-for="social in $store.state.FootHead.social_network" :key="social.id+'social'" v-if="social.option == 'LK'" :href="social.link" target="blank" class="pr-sm-3"><img class="foot-icon" src="/images/linkedin.svg"></a>
              <a v-for="social in $store.state.FootHead.social_network" :key="social.id+'social'" v-if="social.option == 'TW'" :href="social.link" target="blank" class="pr-sm-3"><b-icon icon="twitter" aria-hidden="true"></b-icon></a>
              <a v-for="social in $store.state.FootHead.social_network" :key="social.id+'social'" v-if="social.option == 'YT'" :href="social.link" target="blank"><img class="foot-icon" src="/images/youtube.svg"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-two">
        <div class="container">
            <div class="row">
              <div class="col-sm-5">
                  <p>{{$store.state.FootHead.footer_line_one}}</p>
              </div>
              <div class="col-sm-3">
                <a href="tel:+511612333">{{$store.state.FootHead.footer_line_two}}</a>
              </div>
              <div class="col-sm-4">
                <p>{{$store.state.FootHead.footer_line_three}}</p>
              </div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  mounted(){    
    this.$store.dispatch('getFooterHeaderData')    
  }
}
</script>

<style lang="scss" scoped>
.footer-blue{
    background-color:#001D85;
    position:relative;
    min-height: 250px;
    width: 100%;
    padding-top:18%;        
    @media screen  and (min-width: 600px) and (max-width: 768px){
      padding-top:30%;
    }    
    @media screen  and (max-width: 600px){
      padding-top:40%;
      text-align: center;
      .logo-foot{
        margin:40px 0px;
        width:75%;
      }
    }
    .logo-foot{
    
      @media screen  and (min-width: 600px){
        margin-left:-45px;
      }
      @media screen  and (min-width: 600px) and (max-width: 769px){
        margin-left:0px;
      }
    }
    h5{
      color:white;
      padding-bottom:5%;
      font-weight: 400;
      font-family: "Barlow";
    }
    .foot-ul{
      list-style: none;
      padding: 0;
      li{
        padding-bottom: 10px;
        a{
          color:#4FC5E9;
          text-decoration: none;
          &:hover,&:active{
            color:#4FC5E9;
            text-decoration: none;
          }
        }
      }     
    }
    .social-icons{
      a{
        color:#4FC5E9;
        font-size: 1.4rem;
        .foot-icon{
          position: relative;
          width: 97%;
          top: -2px;
        }
      }
       @media screen  and (max-width: 600px){
        align-content: center;
        justify-content: center;
        a{
          padding:0px 10px;
        }
      }
    }
    
}
.footer-two{
  background-color:#000345;
  position: relative;
  bottom:-40px;
  padding-top:1%;
  @media screen  and (max-width: 600px){
    padding:10% 0 5%;
    
  }
  p,a{
    color:#4FC5E9;
    font-size:.9rem;
    @media screen  and (max-width: 600px){
      line-height: 35px;
    }
  }
  
  
  
}
</style>