<template>
    <div>
        <div v-if="loading">
            <loading-template template="templatesInformation"></loading-template>
        </div>
        <template v-else>
             <div class="col-12 col-sm-11 text-template" v-for="info in information" :key="info.id" v-if="info.seo_url == $route.params.slug">       
                  <h2>{{info.title}}</h2>                                              
                    <template v-if="info.template == '1'">                      
                            <p v-for="text in info.text_content_first" :key="text.id" v-html="text.text"></p>       
                            <div v-for="image in info.text_image_first" :key="image.id">                                                
                                <div class="row mt-4 mb-4">
                                    
                                    <div class="col-12 col-sm-6">
                                        <p v-html="image.text"></p>                              
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div v-if="image.type == 'IMAGE'">
                                            <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                            <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                        </div>
                                        <div v-else>
                                            <iframe width="600" height="300"
                                                :src="image.url">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </template>
                    <template v-else-if="info.template == '2'">                      
                            <p v-for="text in info.text_content_first" :key="text.id" v-html="text.text"></p>    
                            <div v-for="image in info.gallery_content_first" :key="image.id">
                                <div v-if="image.type == 'IMAGE'">
                                    <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                    <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                </div>
                                <div v-else>
                                    <iframe width="100%" height="550"
                                    :src="image.url">
                                    </iframe>
                                </div> 
                            </div>
                            <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>    
                    </template>
                    <template v-else-if="info.template == '3'">                      
                        <p  v-html="info.text_content_first[0].text"></p>    
                        <div v-for="image in info.gallery_content_first" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                             <div v-else>
                                 <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div>
                        </div>                                   
                        <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>    
                    </template>
                    <template v-else-if="info.template == '4'">                      
                        <p v-for="text in info.text_content_first" :key="text.id" v-html="text.text"></p>    
                        <div v-for="image in info.gallery_content_first" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                             <div v-else>
                                 <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div>
                        </div>                                         
                        <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>  
                        <div v-for="image in info.gallery_content_second" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                             <div v-else>
                                 <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div>
                        </div>
                        <p v-for="text in info.text_content_third" :key="text.id" v-html="text.text"></p>  
                        <p v-for="text in info.text_content_fourth" :key="text.id" v-html="text.text"></p>  
                    </template>
                    <template v-else-if="info.template == '5'">                      
                        <p v-for="text in info.text_content_first" :key="text.id" v-html="text.text"></p>    
                        <div v-for="image in info.gallery_content_first" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                 <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div>                            
                        </div> 
                        <div v-for="image in info.text_image_first" :key="image.id">                                                
                            <div class="row mt-4 mb-4">
                                
                                <div class="col-12 col-sm-6">
                                    <p v-html="image.text"></p>                              
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div v-if="image.type == 'IMAGE'">
                                        <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                        <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                    </div>
                                    <div v-else>
                                        <iframe width="100%" height="300"
                                            :src="image.url">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>   
                        <div v-for="image in info.image_text_content" :key="image.id">                                                
                            <div class="row mt-4 mb-4">                                                               
                                <div class="col-12 col-sm-6">
                                    <div v-if="image.type == 'IMAGE'">
                                        <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                        <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                    </div>
                                    <div v-else>
                                        <iframe width="100%" height="300"
                                        :src="image.url">
                                        </iframe>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <p v-html="image.text"></p>                              
                                </div>
                            </div>
                        </div>  
                        <div v-for="image in info.text_image_second" :key="image.id">                                                
                            <div class="row mt-4 mb-4">                                
                                <div class="col-12 col-sm-6">
                                    <p v-html="image.text"></p>                              
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div v-if="image.type == 'IMAGE'">
                                        <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                        <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                    </div>
                                    <div v-else>
                                        <iframe width="100%" height="300"
                                    :src="image.url">
                                </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>      
                        <p v-for="text in info.text_content_third" :key="text.id" v-html="text.text"></p> 
                        <div v-for="image in info.gallery_content_third" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div> 
                        </div>  
                        <p v-for="text in info.text_content_fourth" :key="text.id" v-html="text.text"></p>                             
                    </template>
                    <template v-else-if="info.template == '6'">   
                        <div v-for="image in info.gallery_content_first" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div> 
                        </div>                   
                        <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>              
                        <div v-for="image in info.gallery_content_second" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div> 
                        </div>   
                        <div v-for="image in info.image_text_content" :key="image.id">                                                
                            <div class="row mt-4 mb-4">                                                               
                                <div class="col-12 col-sm-6">
                                    <div v-if="image.type == 'IMAGE'">
                                        <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                        <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                    </div>
                                    <div v-else>
                                        <iframe width="100%" height="300"
                                        :src="image.url">
                                        </iframe>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <p v-html="image.text"></p>                              
                                </div>
                            </div>
                        </div>   
                        <div v-for="image in info.gallery_content_third" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div> 
                        </div>   
                        <p v-for="text in info.text_content_fourth" :key="text.id" v-html="text.text"></p>    
                        <div v-for="image in info.gallery_content_fourth" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div> 
                        </div>  
                        <p v-for="text in info.text_content_fifth" :key="text.id" v-html="text.text"></p>         
                        <div v-for="image in info.gallery_content_fifth" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div> 
                        </div>
                        <p v-for="text in info.text_content_sixth" :key="text.id" v-html="text.text"></p>                                                         
                        <p v-for="text in info.text_content_seventh" :key="text.id" v-html="text.text"></p>                                                         
                    </template>
                    <template v-else>
                        <h4 class="text-center pt-5">No hay informacion</h4>
                    </template>
            </div>
        </template>
    </div>
</template>

<script>
import loadingTemplate from '@/components/Loading'
export default {
    data(){
        return{
            loading:false
        }
    },
    components:{
        loadingTemplate
    },
    props:{
        information:Array
    },
    created(){
        this.loading = true;
    },
    mounted(){
        setTimeout(() => {
            this.loading = false;
        }, 500);
    }
}
</script>

<style>

</style>