<template>
  <div class="menu-type">
      <div class="asbanc-top-nav">
        <b-navbar toggleable="lg" type="dark">
            <b-navbar-nav class="ml-auto">  
                <b-nav-item :to="`/${nav.link}`" center v-for="nav in $store.state.FootHead.header_internal" :key="nav.id" v-show="nav.column == 'COLUMN_1'">{{nav.name}}</b-nav-item>
                <b-nav-item @click.prevent="showSearchBox()" center><b-icon :icon="$store.state.isOpenSearch ? 'x':'search'" aria-hidden="true"></b-icon></b-nav-item>           
            </b-navbar-nav>            
        </b-navbar>
      </div>
    <b-navbar toggleable="lg" class="asbanc-nav-white">
        <b-navbar-brand to="/"><img src="/images/ABS_logo.svg" class="logo-header"></b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-icon class="search-btn-mobile d-block d-lg-none mr-4" @click.prevent="showSearchBox()" :icon="$store.state.isOpenSearch ? 'x':'search'" aria-hidden="true"></b-icon>


        <b-collapse id="nav-collapse" is-nav>      
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">    
            <b-nav-item :to="`/${nav.link}`" center v-for="nav in $store.state.FootHead.header_internal" :key="nav.id" v-show="nav.column == 'COLUMN_2'">{{nav.name}}</b-nav-item>       
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto pink-navbar">        
            <b-nav-item :to="`/${nav.link}`" center v-for="nav in $store.state.FootHead.header_internal" :key="nav.id" v-show="nav.column == 'COLUMN_1'">{{nav.name}}</b-nav-item>               
        </b-navbar-nav>   
        </b-collapse>
    </b-navbar>
  

    </div> 
</template>

<script>
export default {    
    data(){
        return{
            showSearch:false,
            searchData:''
        }
    },
    methods:{
        showSearchBox(){
            this.$store.commit('openSearchBox',!this.showSearch)               
            return this.showSearch = !this.showSearch
        }
    }   
}
</script>

<style lang="scss">

</style>