<template>
    <div>
        <div class="col-12 col-sm-11 text-template" v-for="info in news" :key="info.id" v-if="info.seo_url == $route.params.slug">       
                  <h2>{{info.title}}</h2>                                                            
                    <template v-if="info.template == '1'">                      
                            <p v-for="text in info.text_content_first" :key="text.id" v-html="text.text"></p>       
                            <div v-for="image in info.text_image_first" :key="image.id">                                                
                                <div class="row mt-4 mb-4">
                                    
                                    <div class="col-12 col-sm-6">
                                        <p v-html="image.text"></p>                              
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div v-if="image.type == 'IMAGE'">
                                            <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block pt-3 pb-3" alt="">                                 
                                            <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                                        </div>
                                        <div v-else>
                                            <iframe width="100%" height="300"
                                    :src="image.url">
                                </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>                               
                    </template>
                    <template v-else-if="info.template == '2'">     
                        <!-- <p v-html="info.text_content_first[0].text"></p>     -->
                        <div v-for="image in info.gallery_content_first" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block pt-3 pb-3" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                            <div v-else>
                                <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div>
                        </div>                                   
                        <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>      
                    </template>
                    <template v-else-if="info.template == '3'">                      
                        <p  v-html="info.text_content_first[0].text"></p>    
                        <div v-for="image in info.gallery_content_first" :key="image.id">
                            <div v-if="image.type == 'IMAGE'">
                                <img :src="image.image_desktop" class="img-fluid w-100 d-none d-sm-block pt-3 pb-3" alt="">                                 
                                <img :src="image.image_mobile" class="img-fluid w-100 d-block d-sm-none" alt="">  
                            </div>
                             <div v-else>
                                 <iframe width="100%" height="550"
                                    :src="image.url">
                                </iframe>
                            </div>
                        </div>                                   
                        <p v-for="text in info.text_content_second" :key="text.id" v-html="text.text"></p>    
                    </template>                   
                    <template v-else>
                        <h4 class="text-center pt-5">No hay informacion</h4>
                    </template>
              </div>
  </div>
</template>

<script>
export default {
    props:{
        news:Array
    }
}
</script>

<style>

</style>