<template>
  <div>
    <div class="search-box">        
        <div class="container-fluid row">
            <b-form class="row formData"  >
                <b-form-group
                    id="input-group-1"                
                    label-for="input-1"                
                >
                <b-form-input
                    id="input-1"
                    v-model="searchData"
                    type="text"
                    class="buscador-general"
                    placeholder="Buscar.."                
                ></b-form-input>            
                </b-form-group>
                <b-button type="button" @click.prevent="searchInfo" class="btn btn-global btn-celeste">Buscar</b-button>
                <p v-if="result" class="t-blue font-weight-bold"><span v-if="prevSearch">Se <span v-if="results.length > 1">han</span><span v-else>ha</span> encontrado {{results.length}} <span v-if="results.length > 1">resultados</span><span v-else> resultado</span> para "{{prevSearch}}"</span> <span v-else>Se han encontrado {{results.length}} resultados</span></p>
            </b-form>            
        </div>
        <div class="container">
            <b-tabs content-class="mt-4 mb-5" v-if="result"  justified>
                <b-tab :title="`Todos (${results.length})`" active>
                    <div @click="goTo(result.origin,result.seo_url)" class="content-data mt-4" v-for="(result,index) in results" :key="index">
                        <h5> {{result.name}} </h5>
                        <p v-html="result.content"></p>
                    </div>                    
                </b-tab>
                <b-tab :title="`Servicios (${lengthServices.length})`" >
                    <div @click="goTo(result.origin,result.seo_url)" class="content-data mt-4" v-for="(result,index) in results" v-if="result.origin == 'services'" :key="index">
                        <h5> {{result.name}} </h5>
                        <p v-html="result.content"></p>
                    </div>    
                </b-tab>
                <b-tab :title="`Noticias (${lengthNew.length})`">
                     <div @click="goTo(result.origin,result.seo_url)" class="content-data mt-4" v-for="(result,index) in results" v-if="result.origin == 'new'" :key="index">
                        <h5> {{result.name}} </h5>
                        <p v-html="result.content"></p>
                    </div>  
                </b-tab>
                <b-tab :title="`Otros (${lengthOthers.length})`">
                     <div @click="goTo(result.origin,result.seo_url)" class="content-data mt-4" v-for="(result,index) in results" v-if="result.origin == 'webinar' || result.origin == 'event'" :key="index">
                        <h5> {{result.name}} </h5>
                        <p v-html="result.content"></p>
                    </div>  
                </b-tab>
            </b-tabs>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{            
            searchData:'',
            results:[],
            result:false,
            prevSearch:'',
            lengthServices:0,
            lengthNew:0,
            lengthOthers:0
        }
    },
    methods:{        
        goTo(section,url){
            if(section == 'services'){
                this.$router.push('/servicio/'+url)
            }else if(section == 'new'){
                this.$router.push('/noticia/'+url)
            }else if(section == 'webinar'){
                this.$router.push('/webinar/'+url)
            }else if(section == 'event'){
                this.$router.push('/evento/'+url)
            }
            this.$store.commit('openSearchBox',false)                           
        },
        async searchInfo() {
            this.prevSearch = this.searchData
            const searchbox = await this.$axios.$get(`/search-box/?search=${this.prevSearch}`)
            this.searchData = ''
            this.results = searchbox
            this.result = true                          
            this.lengthServices = this.results.filter(function(service) {                
                return service.origin == 'services'
            });
            this.lengthNew = this.results.filter(function(service) {                
                return service.origin == 'new'
            });
            this.lengthOthers = this.results.filter(function(service) {                
                return service.origin == 'event' || service.origin == 'webinar'
            });
            
        }
    }
}
</script>

<style lang="scss">    
    .buscador-general{
        background-image:url('/images/search-icon-gray.png');
        background-size:30px;
        background-position-x: 0%;
        background-position-y: 70%;
        background-repeat: no-repeat;
        border-radius: 0;
        padding-left:35px;
    }         

        .content-data{
            cursor: pointer;
            transition: .3s all;
            position: relative;
            left:0;
            &:hover{
                left:5px;
            }
            h5,p{
                color:#001D85;
            }
            border-bottom:1px solid #001d8550;
            
        }
</style>