<template>
  <div>    
      <b-card v-if="screenWidth > 768"  class="card-styling three-columns">      
        <div class="hardcode-img-card" >
          <img v-if="data.image.length" :src="data.image.file" alt="img">
          <video-player class="videoCard" v-else-if="data.video.length" :srcVideo="data.video.file"></video-player>
          
          <img v-else src="/images/img_card.jpg" alt="img">          
        </div>
        <h3>{{data.type}} {{data.title | truncate(100)}}</h3>
        <b-card-text>
          {{data.text | truncate(100)}}
        </b-card-text>
        <a href="#" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</a>
      </b-card>         
    
      <b-card v-else-if="screenWidth < 768 && loadMoreData" class="card-styling three-columns" :class="loadMoreData ? 'loadMoreVersion':''">      
        <div class="hardcode-img-card" >
            <img v-if="data.image" :src="data.image.file" alt="img">
            <video-player class="videoCard" v-else-if="data.video" :srcVideo="data.video.file"></video-player>          
            <img v-else src="/images/img_card.jpg" alt="img">
          
        </div>
        <h3>{{data.title | truncate(100)}}</h3>
        <b-card-text>
          {{data.text | truncate(100)}}
        </b-card-text>
        <a href="#" class="btn btn-global" :class="btnStyle != null ? `btn-${btnStyle}`:''">{{ btnText }}</a>
      </b-card>         
  </div>
</template>

<script>
import NuxtSSRScreenSize from 'nuxt-ssr-screen-size'
import videoPlayer from '@/components/Globals/VideoPlayer'
export default {
  mixins: [NuxtSSRScreenSize.NuxtSSRScreenSizeMixin],
  props:{
    btnStyle:String,
    btnText:String,
    date:Boolean,
    globalBtnUrl:String,
    globalBtnText:String,
    globalBtnStyle:String,
    data:Array,
    subtheme:String,
    limitCard:Number,
    loadMoreData:Boolean
  },
  data(){
    return{
      screenWidth:'',
      slickOptions: {
        dots: true,
        focusOnSelect: true,
        infinite: true,        
        adaptiveHeight:true,        
        speed: 500,        
        slidesToShow: 1,
        slidesToScroll: 1,                               
        responsive: [
            {
            breakpoint: 769,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true,                    
                }
            },          
            {
            breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,  
                    centerPadding:'50px'
                }
            }]
      },
    }
  },
  components:{
    videoPlayer
  },  
  created(){
    this.screenWidth = this.$vssWidth
  },
  methods:{
 
    showMoreData(){
      this.$emit('showMore')
    }
  },
  filters:{
    truncate(value,length){
        length = length || 15;
        if (!value || typeof value !== "string") return "";
        if (value.length <= length) return value;
        return value.substring(0, length) + "...";
    }
  },
  watch:{
      '$vssWidth': function(newVal,oldVal){
        this.screenWidth = newVal
      }
  }
}
</script>

<style lang="scss">