<template>
  <div class="float-socials">
    <div v-if="ours" class="list-icons">
        <a href="#" ><b-icon icon="facebook" aria-hidden="true"></b-icon></a>        
        <a href="#" ><b-icon icon="linkedin" aria-hidden="true"></b-icon></a>
        <a href="#" ><b-icon icon="twitter" aria-hidden="true"></b-icon></a>        
        
    </div>
    <div v-else class="list-icons">
         <ShareNetwork
            network="facebook"
            :url="url"
            :title="titulo"                                       
            :quote="description"
            :hashtags="hashtags"
            class="socials ml-sm-3"
        >
            <b-icon icon="facebook" aria-hidden="true"></b-icon>
        </ShareNetwork>
        <ShareNetwork
            network="Twitter"
            :url="url"
            :title="titulo"
            :quote="description"
            :hashtags="hashtags"
            class="socials ml-sm-3"
        >
            <b-icon icon="twitter" aria-hidden="true"></b-icon>
        </ShareNetwork>
        <ShareNetwork
            network="LinkedIn"
            :url="url"                    
            :description="description"  
            class="socials ml-sm-3"              
        >
            <b-icon icon="linkedin" aria-hidden="true"></b-icon>
        </ShareNetwork>
    </div>
  </div>
</template>

<script>
export default {
    props:{
        ours:Boolean,
        titulo:String,
        url:String,        
        description:String,
        hashtags:String
    }
}
</script>

<style lang="scss" scoped>
.float-socials{
    position: fixed;
    right:2%;
    top:15%;
    z-index: 10;
    @media screen and (max-width:600px){
        position:relative;
        top:50px;
        right:0;
        left:0;
    }
    .list-icons{
        display: flex;
        flex-direction: column;   
        @media screen and (max-width:600px){
            flex-direction: row;
            justify-content: space-evenly;
            padding:0px 20px;
        }
        a{
            background-color:#4FC5E9;             
            font-size: 20px;
            border-radius: 12px 2px 12px 2px;
            margin-bottom:10px;
            text-align: center;
            padding: 3px 8px;
            transition: .2s all;
            svg{
                color:#001D85;
            }
            &:hover{
                transform: scale(.92);
            }
        }
    }
    &.horizontal-icons{
        position:absolute;
        .list-icons{
            flex-direction: row;
            justify-content:flex-end;
            @media screen and (max-width:600px){
                justify-content: space-evenly;
            }
            padding:0px 20px;
            a{
                margin-right:15px;                
            }
        }
    }
    &.news-socialmedia{
        position: absolute;
        top: 4%;
        right: 10%;
        @media screen and (min-width:1600px){
            right:20%;
        }
        @media screen and (max-width:600px){    
            right: 0;
            left: 0;
        }
        .list-icons{
            flex-direction: row;
            justify-content:flex-end;
            @media screen and (max-width:600px){
                justify-content: space-evenly;
            }
            padding:0px 20px;
            a{
                margin-right:15px;                
            }
        }
    }
}

</style>