<template>
  <div>
      <a :href="url" target="blank" class="whatsapp-box">
        <img src="/images/whatsapp.svg" alt=""> 
      </a>
  </div>
</template>

<script>
export default {
    props:{
        url:String
    }
}
</script>

<style lang="scss" scoped>
    .whatsapp-box{
        background-color:#1BD741;
        border-radius: 50px 0px 0px 0px;
        width:80px;
        height: 70px;
        position: fixed;
        right: 0;
        top:20%;
        z-index: 100;
        img{
            width:40px;
            height: 40px;
            position: relative;
            left: 30px;
            top: 15px;
        }
    }
</style>