<template>
  <div class="pt-5">
      <div class="template-info">
            <div class="breadcrump-base">
            <b-breadcrumb class="mt-sm-4 container">
                <b-breadcrumb-item to="/">
                <b-icon icon="house-door" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>            
                </b-breadcrumb-item>
                <b-breadcrumb-item to="/">Home</b-breadcrumb-item>            
                <b-breadcrumb-item to="/estadisticas-del-sector">Estadisticas del sector</b-breadcrumb-item>
                <b-breadcrumb-item active>{{ information[0].seo_title}}</b-breadcrumb-item>
            </b-breadcrumb>
        </div>
        <socialfloat></socialfloat>
      <div class="container pt-4">
          <div class="row information">              
             <information-templates :information="information"></information-templates>
          </div>
      </div>        
      </div>
  </div>
</template>

<script>
import socialfloat from '@/components/Globals/social-float'
import informationTemplates from '@/components/Globals/informationTemplates'
export default {
    components:{
        socialfloat,
        informationTemplates        
    },
    data(){
        return{
            info:[],            
        }
    },
    async asyncData({ $axios, route }) {
        const information = await $axios.$get(`list-banking-reports/?seo_url=${route.params.slug}`)                             
        return { information }
    }, 
}
</script>

<style lang="scss">
iframe{
    border:0;
}
.information{
    .text-template{
        img{
            width:100%;
            height:auto;
        }
    }
}
</style>