<template>
  <div>     
    <div v-if="event" class="event-intern pt-5">
      <div class="breadcrump-base bg-white">
        <b-breadcrumb class="mt-sm-4 container">
            <b-breadcrumb-item to="/">
            <b-icon icon="house-door" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>            
            </b-breadcrumb-item>
            <b-breadcrumb-item to="/">Home</b-breadcrumb-item>                        
            <b-breadcrumb-item active v-if="event">{{ event.seo_title}}</b-breadcrumb-item>
        </b-breadcrumb>
      </div>
      <div class="container banner-gray text-center mb-4" :style="`background-image:url('${event.main_image}')`">
          <VueSlickCarousel class="slide-sponsor pt-4 ml-5 mr-5" v-bind="slickOptions">                            
              <div class="p-3" v-for="n in 10" :key="n">
                <div class="p-3 pl-4 pr-4 bg-white waveAb">
                  <img src="https://via.placeholder.com/100" alt="">                
                </div>
              </div>              
          </VueSlickCarousel>  
      </div>
          <b-tabs content-class="mb-5 pt-sm-5 tab-global" v-model="tabSelected" justified>
            <b-tab title="Información" active>
                <template v-if="event.information">
                  <div v-for="(information,index) in event.information" :key="index">
                  <div class="container">                                   
                      <h2 class="text-center title t-blue p-3">Descripcion</h2>
                      <p class="text-center t-blue pl-sm-5 pr-sm-5 ml-sm-5 mr-sm-5" v-html="information.description"></p>
                  </div>
                  <div class="franja-yellow text-center">
                    <p class="t-blue">Faltan <b>{{daysLeft}} <span v-if="daysLeft.length != 1">días</span><span v-if="daysLeft.length == 1">día</span></b> para el inicio del evento</p>
                  </div>
                  <div class="container">                  
                      <h2 class="text-center title t-blue p-3 pt-sm-5">Dirigido</h2>
                      <div class="dirigido pt-sm-4 pb-5">                          
                            <div v-for="dirigido in dirigidos" :key="dirigido" class="right-line col-sm-2 col-12 text-center t-blue">
                              <span>{{ dirigido }}</span>
                          </div>                          
                      </div>  
                  </div>
                  
                  <div class="container">
                      <b-card no-body class="overflow-hidden horizontal-card ml-sm-5 mr-sm-5">
                          <b-row no-gutters>
                              <b-col sm="6" md="12" lg="6" class="bgImg" :style="`background-image:url(${information.image_benefit})`">                                  
                              </b-col>
                              <b-col sm="6" md="12" lg="6">
                                  <b-card-body class="pt-5">
                                  <b-card-text>
                                      <h3>{{information.benefit}}</h3>
                                  <ul>
                                      <li v-for="benefit in listBenefit" :key="benefit">{{ benefit }}</li>
                                  </ul>
                                  </b-card-text>                                
                                  </b-card-body>
                              </b-col>
                          </b-row>
                      </b-card>

                      <b-card no-body class="overflow-hidden horizontal-card ml-sm-5 mr-sm-5 mt-5">
                          <b-row no-gutters>                         
                              <b-col sm="6" md="12" lg="6">
                                  <b-card-body class="pt-5">
                                 <b-card-text>
                                      <h3>{{information.structure}}</h3>
                                  <ul>
                                      <li v-for="structure in splitedStructure" :key="structure">{{ structure }}</li>
                                  </ul>
                                  </b-card-text>                                                               
                                  </b-card-body>
                              </b-col>
                              <b-col sm="6" md="12" lg="6" class="bgImg" style="background-image:url(/images/webinar-img.png)">
                                  <!-- <b-card-img src="/images/webinar-img.png" alt="Image" class="rounded-0"></b-card-img>                             -->
                              </b-col>
                          </b-row>
                      </b-card>
                  </div>
                </div>
                </template>
                <div class="bg-white-rounded">                                         
                </div>
            </b-tab>            
            <b-tab title="Programa">
                <div class="container program">
                  <VueSlickCarousel class="pt-4 ml-5 mr-5" v-bind="slickOptionsProgram" ref="c2" :asNavFor="$refs.c1" :focusOnSelect="true">                            
                    <div class="p-3" v-for="day in event.program[0].day" :key="day.id">
                      <b-icon icon="calendar" aria-hidden="true"></b-icon> <b>{{day.register_date}}</b>
                    </div>              
                  </VueSlickCarousel>  
                  <VueSlickCarousel class="pt-4 ml-5 mr-5" v-bind="slickOptionsProgramIntern" ref="c1" :asNavFor="$refs.c2" :focusOnSelect="true">                            
                    <div class="pl-5 pr-1" v-for="detail in event.program[0].day" :key="detail.id">
                          <h4 class="text-center t-blue">Lugar: {{detail.text}}</h4>     
                          <table class="table program-table">                     
                            <tbody>
                              <tr v-for="schedule in detail.schedule" :key="schedule.id">                                
                                <td class="t-blue"><b-icon icon="clock" aria-hidden="true"></b-icon>{{schedule.schedule}}</td>
                                <td class="t-blue">
                                  <table>
                                    <tr v-for="detail in schedule.detail" :key="detail.id">
                                      <td class="t-blue">
                                        <div class="media position-relative">
                                          <div class="link-refer d-flex flex-column align-self-end pr-1 pb-3">
                                            <img src="/images/peru.png" class="flag" alt="">
                                            <a :href="detail.linkedin"><b-icon icon="linkedin" aria-hidden="true"></b-icon></a>
                                          </div>                                    
                                          <img :src="detail.image" class="mr-3 img-people">
                                          <div class="media-body">
                                            <h5 class="mt-0 t-blue" v-html="detail.text"></h5>
                                            <p class="t-blue">Nancy Yong – Socia PwC | Perú</p>                                      
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>                              
                              <!-- <tr>                                
                                <td class="t-blue"><b-icon icon="clock" aria-hidden="true"></b-icon> 16:00 - 16:30 pm</td>
                                <td class="t-blue">
                                  <div class="media position-relative">
                                    <div class="link-refer d-flex flex-column align-self-end pr-1 pb-3">
                                      <img src="/images/peru.png" class="flag" alt="">
                                      <a href="#"><b-icon icon="linkedin" aria-hidden="true"></b-icon></a>
                                    </div>                                    
                                    <img src="https://via.placeholder.com/100" class="mr-3 img-people">
                                    <div class="media-body">
                                      <h5 class="mt-0 t-blue">1. El impacto del Compliance en la lucha contra la corrupción</h5>
                                      <p class="t-blue">Nancy Yong – Socia PwC | Perú</p>                                      
                                    </div>
                                  </div>
                                </td>
                              </tr>                               -->
                            </tbody>
                          </table>
                    </div>              
                  </VueSlickCarousel>  
                </div>
                <div class="bg-yellow-webinar">
                  <div class="container pt-2 pb-0">
                      <h4 class="text-center t-blue">
                          Si necesitas mayor información favor contarse con persona <b>{{event.contact[0].auspice_responsable}}</b> al número <b>{{event.contact[0].auspice_mobile}}</b> o enviar un correo a <b><a :href="`mailto:${event.contact[0].auspice_email}`">{{event.contact[0].auspice_email}}</a></b>
                      </h4>                                
                  </div>                        
                </div>
            </b-tab>
            <b-tab title="Inscribete" >
              <h1 class="text-center title ">Conoce las tarifas</h1>
              <div class="container tarifas-table">
                 <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th scope="col">Tarifa</th>
                      <th scope="col">Individual</th>
                      <th scope="col">Coorporativo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="tariff in event.inscription[0].tariff" :key="tariff.id">                      
                      <td>{{tariff.tariff}}</td>
                      <td>{{tariff.individual}}</td>
                      <td>{{tariff.comparative}}</td>
                    </tr>                   
                  </tbody>
                </table>
                <p class="text-center t-blue">* Tarifas No incluyan IGV del 18%</p>
              </div>
              <div class="container mt-4">
                    <div class="accordion voceros" role="tablist">
                      <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" role="tab">
                              <b-button class="accordion-btn d-flex justify-content-between accordion-1"  block v-b-toggle="'event-1'">
                                  <span class="pl-sm-5 pl-3"><b>Consideraciones para las tarifas</b></span>                                  
                                  <span>
                                      <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                  </span>
                              </b-button>
                          </b-card-header>
                          <b-collapse id="event-1"  accordion="my-accordion" role="tabpanel">
                              <b-card-body>                             
                                <p v-html="event.inscription[0].considerations"></p>
                              </b-card-body>
                          </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" role="tab">
                              <b-button @click="inscriptionShow = !inscriptionShow" class="accordion-btn d-flex justify-content-between accordion-2"  block v-b-toggle="'event-2'">
                                  <span class="pl-sm-5 pl-3"><b>Inscríbete aquí</b></span>                                  
                                  <span>
                                      <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                  </span>
                              </b-button>
                          </b-card-header>
                          <b-collapse id="event-2"  accordion="my-accordion" role="tabpanel">
                              <b-card-body> 
                                    <div class="mx-auto d-flex justify-content-center">
                                      <span :class="inscripcion == 'uno' || inscripcion == 'dos' ? 'active':''" class="steps mr-4"><b-icon icon="check" class="mr-3" aria-hidden="true"></b-icon> Paso 1</span>
                                      <span :class="inscripcion == 'dos' ? 'active':''" class="steps"><b-icon icon="check" class="mr-3" aria-hidden="true"></b-icon> Paso 2</span>
                                    </div>                               
                              </b-card-body>
                          </b-collapse>
                      </b-card>
                    </div>
              </div>                
              <div class="form-inscripcion bg-gray mt-3" v-if="inscripcion != '' && inscriptionShow">
                  <div v-show="inscripcion == 'uno'">         
                   <div class="container">
                      <b-form-tags                        
                        v-model="personalDataPills"
                        tag-variant="info"
                        tag-pills
                        size="lg"
                        separator=" "                      
                        class="mb-4 tagsEvents"
                      ></b-form-tags>
                      <ValidationObserver ref="stepOne">
                      <b-form ref="personalInformation"  class="col-12 row">
                            <div class="col-12 col-sm-6">                                                   
                            <b-form-group>
                              <ValidationProvider rules="excluded:null|required" name="Tarifa" v-slot="{ errors }">
                              <b-form-select v-model="formInscripcion.personalInfo.tariff" :options="Tarifasoptions"></b-form-select>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>
                            <b-form-group>
                              <ValidationProvider rules="alpha_spaces|required" name="Nombre" v-slot="{ errors }">
                                <b-form-input
                                id="Fullname"
                                v-model="formInscripcion.personalInfo.name"
                                placeholder="Nombres"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>
                              <b-form-group>
                                <ValidationProvider rules="alpha_spaces|required" name="Nombre" v-slot="{ errors }">
                                <b-form-input
                                id="Fullname"
                                v-model="formInscripcion.personalInfo.last_name"
                                placeholder="Apellidos"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>
                            <b-form-group>
                                <b-form-select v-model="formInscripcion.personalInfo.gender" :options="gender"></b-form-select>
                            </b-form-group>

                            <b-form-group>
                              <ValidationProvider rules="numeric|min:9|max:9|required" name="dni" v-slot="{ errors }">
                                <b-form-input
                                id="document_number"
                                v-model="formInscripcion.personalInfo.document_number"                                
                                maxlength="9"
                                type="number"
                                placeholder="DNI"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>      
                            <b-form-group>
                              <ValidationProvider rules="min:2|required" name="empresa" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.business_name"
                                placeholder="Empresa"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>
                            <b-form-group>
                              <ValidationProvider rules="min:2|required" name="Cargo" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.place"
                                placeholder="Cargo"                                
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </b-form-group>  
                            <b-form-group>
                              <ValidationProvider rules="min:3|required" name="Dirección centro laboral" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.address"
                                placeholder="Dirección centro laboral"                                
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>                                                
                        </div>
                        <div class="col-12 col-sm-6">                                            
                            <b-form-group>
                              <ValidationProvider rules="alpha_spaces|required" name="distrito" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.district"
                                placeholder="Distrito"                                
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>
                            <b-form-group>
                              <ValidationProvider rules="alpha_spaces|required" name="Ciudad" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.province"
                                placeholder="Ciudad"                                
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>    
                            <b-form-group>
                              <ValidationProvider rules="alpha_spaces|required" name="País" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.country"
                                placeholder="País"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>   
                            <b-form-group>
                              <ValidationProvider rules="numeric|min:9|max:9|required" name="teléfono" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.phone"
                                placeholder="Teléfono"
                                type="number"
                                maxlength="9"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>  
                            <b-form-group>
                              <ValidationProvider rules="min:3|required" name="anexo" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.annexed"
                                placeholder="Anexo"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>                               
                            <b-form-group>
                              <ValidationProvider rules="numeric|min:9|max:9|required" name="celular" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.mobile"
                                maxlength="9"
                                type="number"
                                placeholder="Celular"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>   
                            <b-form-group>
                              <ValidationProvider rules="email|required" name="correo principal" v-slot="{ errors }">
                                <b-form-input
                                id="input-2"
                                v-model="formInscripcion.personalInfo.main_email"
                                placeholder="Mail"
                                required
                                ></b-form-input>
                                <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </b-form-group>                  
                        </div>                    
                      </b-form>
                      </ValidationObserver>
                   </div>
                  </div>
                  <div v-show="inscripcion == 'dos'">
                     <div class="container">
                       <ValidationObserver ref="stepTwo">
                        <b-form   class="col-12">
                          <h4 class="text-sm-left text-center t-blue pl-4 pb-4">Datos de facturación </h4>
                          <div class="facturacion row col-12">
                            <div class="col-12 col-sm-6">                                                                              
                              <b-form-group>
                                <ValidationProvider rules="alpha_spaces|required" name="nombre" v-slot="{ errors }">
                                  <b-form-input
                                  id="Fullname"
                                  v-model="formInscripcion.billing.responsiblePayment.socialReason"
                                  placeholder="Razon social"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>
                              <b-form-group>
                                <ValidationProvider rules="numeric|min:11|max:11|required" name="ruc" v-slot="{ errors }">
                                  <b-form-input                                  
                                  v-model="formInscripcion.billing.ruc"
                                  placeholder="Ruc"
                                  maxlength="11"
                                  type="number"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>   
                              <div class="row">
                                <p class="t-blue pr-sm-3">Genera orden de compra</p>
                                <b-form-radio-group class="steps-checkbox">
                                  <b-form-radio v-model="formInscripcion.billing.purchaseOrder" name="some-radios" :value="true">Si</b-form-radio>
                                  <b-form-radio v-model="formInscripcion.billing.purchaseOrder" name="some-radios" :value="false">No</b-form-radio>
                                </b-form-radio-group>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">                                                                        
                              <b-form-group>
                                <ValidationProvider rules="required" name="mensaje" v-slot="{ errors }">
                                  <b-form-textarea
                                      v-model="formInscripcion.billing.responsiblePayment.message"
                                      id="textarea-input"
                                      placeholder="Domicilio legal de la empresa"
                                      rows="3"
                                  ></b-form-textarea>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>                  
                            </div>   
                          </div>    
                          <h4 class="text-sm-left text-center t-blue pt-3 pl-4 pb-4">Responsable del pago</h4>    
                          <div class="responsable-pago row col-12">
                            <div class="col-12 col-sm-6">                                                                              
                              <b-form-group>
                                <ValidationProvider rules="alpha_spaces|min:2|required" name="nombre completo" v-slot="{ errors }">
                                  <b-form-input                                  
                                  v-model="formInscripcion.billing.responsiblePayment.responsibleName"
                                  placeholder="Nombre completo"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>
                              <b-form-group>
                                <ValidationProvider rules="email|required" name="correo del responsable" v-slot="{ errors }">
                                  <b-form-input                                  
                                  v-model="formInscripcion.billing.responsiblePayment.responsibleEmail"
                                  placeholder="Correo electrónico del responsable"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>   
                              <b-form-group>
                                <ValidationProvider rules="email|required" name="correo para enviar factura" v-slot="{ errors }">
                                  <b-form-input                                  
                                  v-model="formInscripcion.billing.responsiblePayment.billingEmail"
                                  placeholder="Correo electrónico para enviar factura"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>                                                                  
                            </div>
                            <div class="col-12 col-sm-6">                                                                        
                              <b-form-group>
                                <ValidationProvider rules="numeric|max:9|required" name="teléfono" v-slot="{ errors }">
                                  <b-form-input
                                  id="input-2"
                                  v-model="formInscripcion.billing.responsiblePayment.phone"
                                  placeholder="Teléfono"
                                  type="number"
                                  maxlength="9"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>     
                              <b-form-group>
                                <ValidationProvider rules="required" name="anexo" v-slot="{ errors }">
                                  <b-form-input
                                  id="input-2"
                                  v-model="formInscripcion.billing.responsiblePayment.annexed"
                                  placeholder="Anexo"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>  
                              <b-form-group>
                                <ValidationProvider rules="numeric|max:9|required" name="celular" v-slot="{ errors }">
                                  <b-form-input
                                  id="input-2"
                                  v-model="formInscripcion.billing.responsiblePayment.cellphone"
                                  placeholder="Celular"
                                  type="number"
                                  maxlength="9"
                                  required
                                  ></b-form-input>
                                  <span class="msg-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                              </b-form-group>               
                            </div>   
                          </div>
                          <h4 class="text-sm-left text-center t-blue pt-3 pl-4 pb-4">¿Cómo te enteraste de nuestro evento?</h4>    
                          <div class="medias-eventos row col-12">                          
                            <div class="col-12">
                                <b-form-group class="steps-checkbox">
                                  <div class="d-flex justify-content-start flex-sm-row flex-column">
                                    <b-form-checkbox v-model="formInscripcion.billing.howFindout.facebook" class="pr-sm-5"><b-icon icon="facebook" aria-hidden="true"></b-icon></b-form-checkbox>
                                    <b-form-checkbox v-model="formInscripcion.billing.howFindout.linkedin" class="pr-sm-5"><b-icon icon="linkedin" aria-hidden="true"></b-icon></b-form-checkbox>
                                    <b-form-checkbox v-model="formInscripcion.billing.howFindout.twitter" class="pr-sm-5"><b-icon icon="twitter" aria-hidden="true"></b-icon></b-form-checkbox>
                                    <b-form-checkbox v-model="formInscripcion.billing.howFindout.otherwebs" class="pr-sm-5">Otras webs</b-form-checkbox>
                                    <b-form-checkbox v-model="formInscripcion.billing.howFindout.others" class="pr-sm-5">otros</b-form-checkbox>
                                  </div>
                                </b-form-group>
                            </div>   
                          </div>              
                        </b-form>
                      </ValidationObserver>
                   </div>
                 </div>               
                <div v-show="inscripcion != false" class="d-flex justify-content-center flex-sm-row flex-column mt-4">
                  <button class="btn btn-global btn-pink ml-sm-2 mr-sm-2" @click.prevent="addCustomer" v-if="inscripcion != 'dos'"><b-icon icon="plus-circle-fill" aria-hidden="true"></b-icon> Agregar participantes</button>
                  <button class="btn btn-global btn-pink ml-sm-2 mr-sm-2" :class="personalData.length == 0 ? 'disabled':''" v-if="inscripcion != 'dos'" @click.prevent="inscripcion = 'dos'">Continuar</button>
                  <button @click.prevent="sendInscription" class="btn btn-global btn-pink ml-sm-2 mr-sm-2" v-if="inscripcion == 'dos'">Enviar</button>
                </div>
                <b-alert class="w-50 mx-auto mt-3" :show="showInfo" variant="info">Inscripcion realizada!</b-alert>
              </div>            
            </b-tab>
            <b-tab title="Auspiciadores">
                <div class="franja-yellow text-center">
                  <p class="t-blue"><b>Contacto:</b> {{event.contact[0].report_email}} <b>Teléfono:</b> {{event.contact[0].report_mobile}}</p>
                </div>
                <div class="container" v-for="sponsor in event.sponsor" :key="sponsor.id">
                   <table class="table table-bordered no-border-table">
                  <thead>
                    <tr>
                      <th>¿Deseas ser auspiciador?</th>
                      <th class="highlight-th"><b>{{event.sponsor[0].category_one_name}}</b> <br> <p class="pt-3 mb-1">inversion</p> <b>{{event.sponsor[0].category_one_invest}}</b></th>
                      <th class="highlight-th" style="background-color:#4fc5e9c7"><b>{{event.sponsor[0].category_two_name}}</b> <br> <p class="pt-3 mb-1">inversion</p> <b>{{event.sponsor[0].category_two_invest}}</b></th>
                      <th class="highlight-th" style="background-color:#4fc5e987"><b>{{event.sponsor[0].category_three_name}}</b> <br> <p class="pt-3 mb-1">inversion</p> <b>{{event.sponsor[0].category_three_invest}}</b></th>
                      <th class="highlight-th" style="background-color:#4fc5e96e"><b>{{event.sponsor[0].category_four_name}}</b> <br> <p class="pt-3 mb-1">inversion</p> <b>{{event.sponsor[0].category_four_invest}}</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr colspan="5"><b>¿Qué incluye?</b></tr>
                    <tr v-for="detail in event.sponsor[0].detail" :key="detail.id">
                      <td>{{detail.about}}</td>
                      <td><b-icon v-if="detail.category_one" icon="check" aria-hidden="true"></b-icon></td>
                      <td><b-icon style="color:#4fc5e9c7" v-if="detail.category_two" icon="check" aria-hidden="true"></b-icon></td>
                      <td><b-icon style="color:#4fc5e987" v-if="detail.category_three" icon="check" aria-hidden="true"></b-icon></td>
                      <td><b-icon style="color:#4fc5e96e" v-if="detail.category_four" icon="check" aria-hidden="true"></b-icon></td>
                    </tr>
                  
                  </tbody>
                </table>
                <b class="t-blue pl-sm-3 t-barlow-bold">*Ninguna de las tarifas incluyen IGV</b>
                </div>
                <div class="mt-4 bg-gray contact-container webinar-contact">
                <div class="container">
                      <h2 class="title">Para mayor información sobre auspicios</h2>
                          <div>
                              <b-form   class="col-12 row">
                                  <div class="col-12 col-sm-6">
                                    <b-form-group>
                                        <b-form-input
                                        id="Fullname"
                                        v-model="form.name"
                                        placeholder="Nombre completo"
                                        required
                                        ></b-form-input>
                                    </b-form-group>
                                    <b-form-group>
                                        <b-form-input
                                        id="phone"
                                        type="tel"
                                        v-model="form.phone"
                                        placeholder="Teléfono"
                                        maxlength="9"
                                        required
                                        ></b-form-input>
                                    </b-form-group>

                                    <b-form-group>
                                        <b-form-input
                                        id="email"
                                        v-model="form.email"
                                        type="email"
                                        placeholder="Correo"
                                        required
                                        ></b-form-input>
                                    </b-form-group>                                                        
                                </div>
                                <div class="col-12 col-sm-6">
                                                    
                                    <b-form-group>
                                        <b-form-input
                                        id="input-2"
                                        v-model="form.reason"
                                        placeholder="Motivo"
                                        required
                                        ></b-form-input>
                                    </b-form-group>
                                    <b-form-group id="input-group-2">
                                        <b-form-textarea
                                            id="textarea-input"
                                            placeholder="Mensaje"
                                            rows="3"
                                        ></b-form-textarea>
                                    </b-form-group>                            
                                </div>
                                <b-form-group class="mx-auto ">
                                    <b-form-checkbox
                                        id="checkbox-1"
                                        v-model="terms"
                                        name="checkbox-1"
                                        value="accepted"
                                        
                                        class="checkbox-contact"
                                    >
                                    He leído y acepto los <nuxt-link to="/terminos-y-condiciones">términos y condiciones</nuxt-link>
                                    </b-form-checkbox>
                                    <b-form-checkbox
                                        id="checkbox-2"
                                        v-model="politics"
                                        name="checkbox-2"
                                        value="accepted"
                                        
                                        class="checkbox-contact"
                                    >
                                    He leído y acepto las <nuxt-link to="/politicas-de-privacidad">políticas de privacidad</nuxt-link>
                                    </b-form-checkbox>
                                    <b-button class="btn-global btn-pink mx-auto d-flex justify-content-center mt-4" type="submit" variant="primary">Enviar</b-button>                            
                                </b-form-group>
                              </b-form>
                                      
                          </div>
                      </div>
                </div>
                <div class="container mt-5">
                    <h4 class="title pt-4">Auspiciadores</h4>
                    <div class="accordion voceros" role="tablist">
                      <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" role="tab">
                              <b-button class="accordion-btn d-flex justify-content-between accordion-1"  block v-b-toggle="'event-1'">
                                  <span class="pl-sm-5 pl-3"><b>Categoría Platino</b></span>                                  
                                  <span>
                                      <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                  </span>
                              </b-button>
                          </b-card-header>
                          <b-collapse id="event-1"  accordion="my-accordion" role="tabpanel">
                              <b-card-body>                             
                              <div class="row">
                                <div style="background-image:url('/images/legis.jpg')" class="category-img col-12 col-sm-6 col-md-3 pt-3 pb-1" v-for="n in 8" :key="n">
                                  <div class="overlay-category">
                                    <b class="mx-auto text-center">Nombre</b>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos eum odit provident molestiae.  </p>
                                    <a href="#">Visitar el sitio <b-icon icon="globe" class="mr-3" aria-hidden="true"></b-icon></a>
                                  </div>
                                </div>
                                
                              </div>
                              </b-card-body>
                          </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" role="tab">
                              <b-button class="accordion-btn d-flex justify-content-between accordion-2"  block v-b-toggle="'event-2'">
                                  <span class="pl-sm-5 pl-3"><b>Categoría Oro</b></span>                                  
                                  <span>
                                      <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                  </span>
                              </b-button>
                          </b-card-header>
                          <b-collapse id="event-2"  accordion="my-accordion" role="tabpanel">
                              <b-card-body>                             
                               <p>tset</p>
                              </b-card-body>
                          </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" role="tab">
                              <b-button class="accordion-btn d-flex justify-content-between accordion-3"  block v-b-toggle="'event-3'">
                                  <span class="pl-sm-5 pl-3"><b>Categoría Plata</b></span>                                  
                                  <span>
                                      <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                  </span>
                              </b-button>
                          </b-card-header>
                          <b-collapse id="event-3"  accordion="my-accordion" role="tabpanel">
                              <b-card-body>                             
                               <p>tset</p>
                              </b-card-body>
                          </b-collapse>
                      </b-card>
                       <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" role="tab">
                              <b-button class="accordion-btn d-flex justify-content-between accordion-4"  block v-b-toggle="'event-4'">
                                  <span class="pl-sm-5 pl-3"><b>Categoría Bronce</b></span>                                  
                                  <span>
                                      <b-icon icon="chevron-down" class="mr-3" aria-hidden="true"></b-icon>
                                  </span>
                              </b-button>
                          </b-card-header>
                          <b-collapse id="event-4"  accordion="my-accordion" role="tabpanel">
                              <b-card-body>                             
                               <p>tset</p>
                              </b-card-body>
                          </b-collapse>
                      </b-card>
                    </div>
                </div>
            </b-tab>
            <b-tab title="Contacto">
              <div class="bg-gray contact-container webinar-contact">
                <div class="container">
                <h2 class="title">Contacto</h2>
                    <div>
                        <b-form   class="col-12 row">
                            <div class="col-12 col-sm-6">                                                   

                                        <b-form-group>
                                            <b-form-input
                                            id="Fullname"
                                            v-model="form.fullname"
                                            @change="allFulled"
                                            placeholder="Nombre completo"
                                            required
                                            ></b-form-input>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-form-input
                                            id="phone"
                                            type="tel"
                                            v-model="form.phone"
                                            @change="allFulled"
                                            placeholder="Teléfono"
                                            required
                                            ></b-form-input>
                                        </b-form-group>

                                        <b-form-group>
                                            <b-form-input
                                            id="email"
                                            v-model="form.email"
                                            type="email"
                                            @change="allFulled"
                                            placeholder="Correo"
                                            required
                                            ></b-form-input>
                                        </b-form-group>                                                        
                                    </div>
                                    <div class="col-12 col-sm-6">
                                                        
                                        <b-form-group>
                                            <b-form-input
                                            id="input-2"
                                            @change="allFulled"
                                            v-model="form.reason"
                                            placeholder="Motivo"
                                            required
                                            ></b-form-input>
                                        </b-form-group>
                                        <b-form-group id="input-group-2">
                                            <b-form-textarea
                                                id="textarea-input"
                                                placeholder="Mensaje"
                                                rows="3"
                                            ></b-form-textarea>
                                        </b-form-group>                            
                                    </div>
                                    <b-form-group class="mx-auto ">
                                        <b-form-checkbox
                                            id="checkbox-1"
                                            v-model="terms"
                                            @change="allFulled"
                                            name="checkbox-1"
                                            value="accepted"
                                            
                                            class="checkbox-contact"
                                        >
                                        He leído y acepto los <nuxt-link to="/terminos-y-condiciones">términos y condiciones</nuxt-link>
                                        </b-form-checkbox>
                                        <b-form-checkbox
                                            id="checkbox-2"
                                            v-model="politics"
                                            @change="allFulled"
                                            name="checkbox-2"
                                            value="accepted"
                                            
                                            class="checkbox-contact"
                                        >
                                        He leído y acepto las <nuxt-link to="/politicas-de-privacidad">políticas de privacidad</nuxt-link>
                                        </b-form-checkbox>
                                        <b-button @click.prevent="contactSend('CONTACT')" class="btn-global btn-pink mx-auto d-flex justify-content-center mt-4" type="button" :disabled="notOk" variant="primary">Enviar</b-button>                                                                    
                                    </b-form-group>
                                    
                        </b-form>
                                
                    </div>
                </div>
              </div>
              <div class="bg-yellow-webinar" style="background-image:url(/images/abstract-logo-bg.svg)">
                  <div class="container pt-2 pb-0">
                    <div class="row">
                      <div class="information col-12 col-sm-6">
                      <b>informes</b>
                      <p>Elizabeth Cavaro</p>
                      <a href="#"><b-icon icon="envelope" class="mr-3" aria-hidden="true"></b-icon> elizabeth.cavaro@asbanc.com</a>
                    </div>
                    <div class="information col-12 col-sm-6">
                      <b>informes</b>
                      <p>Elizabeth Cavaro</p>
                      <a href="#"><b-icon icon="envelope" class="mr-3" aria-hidden="true"></b-icon> elizabeth.cavaro@asbanc.com</a>
                    </div>
                    </div>
                  </div>                        
              </div>
            </b-tab>
        </b-tabs>        
        <social-float :url="baseUrl+'/evento/'+event.seo_url" :description="event.seo_description" :hashtags="event.seo_keyword" :titulo="event.title" class="mt-5"></social-float>
    </div>
    <div v-else class="mt-5 pt-5 mb-5 pt-5 container d-flex justify-content-center">
      <b-spinner variant="primary" type="grow" label="Spinning"></b-spinner>
    </div>
  </div>
</template>

<script>
import socialFloat from '@/components/Globals/social-float';
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
  components:{
      socialFloat,
      ValidationObserver: ValidationObserver,
      ValidationProvider: ValidationProvider    
  },
   head() {
   if(this.event){
     return {
      title: this.event.seo_title,
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
         {
          hid: 'description',
          name: 'description',
          content: this.event.seo_description
        },        
        { hid: 'og:type', 
          name: 'og:type', 
          content: 'Evento'
        },
         { hid: 'og:url', 
          name: 'og:url', 
          content: this.baseUrl+'/evento/'+this.event.seo_url
        },
         { hid: 'og:title', 
          name: 'og:title', 
          content: this.event.seo_title 
        },
        { hid: 'og:description', 
          name: 'og:description', 
          content: this.event.seo_description 
        },        
        { prefix:"og: http://ogp.me/ns#",
          hid: 'og:image', 
          name: 'og:image', 
          property:'og:image',
          content: this.event.main_image 
        },
        { prefix:"og: http://ogp.me/ns#",
          hid: 'og:image', 
          name: 'og:image', 
          content: this.event.main_image
        },    
        { hid: 'og:image', 
          name: 'og:image', 
          content: this.event.main_image
        },    
        { hid: 'og:image', 
          prefix: 'og:http://ogp.me/ns#', 
          property:'og:image',
          content: '/images/seo_image.jpg'
        },   
        { hid: 'og:image', 
          name: 'og:image', 
          content: '/images/seo_image.jpg'
        },                     
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: this.event.main_image
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: 'Asbanc'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.event.seo_title
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.event.seo_description
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.event.main_image
        },
        {
          hid: 'twitter:image:alt',
          name: 'twitter:image:alt',
          content: 'Asbanc'
        } 
      ], 
     }
   }
  },
  data(){
    return{
      showInfo:false,
      daysLeft:0,
      notOk:true,
      events:[
        {
          id:1,
          title:' titulo',
          text:'lorem ipsum dolor',
          seo_url:'titulo'
        }
      ],
      event:[],
      structures:[],
      Benefits:[],
      Dirigidos:[],
      inscriptionShow:false,
       slickOptions: {
                dots: false,
                focusOnSelect: true,
                infinite: true,
                speed: 1000,
                slidesToShow: 4,
                slidesToScroll: 1,
                touchThreshold: 5,
                arrows:false,                   
                responsive: [
                    {
                    breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },          
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false,
                            arrows:false
                        }
                    }]
        },
        slickOptionsProgram:{
          dots: false,
          focusOnSelect: true,
          infinite: true,
          speed: 1000,
          slidesToShow: 5,
          slidesToScroll: 1,
          touchThreshold: 5,
          arrows:true,
          centerMode: true
        },
        slickOptionsProgramIntern:{
          dots: false,
          focusOnSelect: true,
          infinite: true,
          speed: 1000,
          slidesToShow: 1,
          slidesToScroll: 1,
          touchThreshold: 5,
          arrows:false,
          centerMode: true
        },        
        Tarifasoptions:[
          {
            value:null,
            text:'Tarifa'
          },
          { 
            value:'ANTICIPATED',
            text:'Anticipado'
          },
          { 
            value:'REGULAR',
            text:'Regular'
          },
          { 
            value:'STUDENT',
            text:'Estudiante'
          },
          { 
            value:'ASSOCIATED',
            text:'Asociado'
          },
          { 
            value:'SPONSOR',
            text:'Auspiciador'
          }
        ],
        gender:[{
            value:null,
            text:'Genero'
          },
          {
            value:'MALE',
            text:'Masculino'
          },
          {
            value:'FEMALE',
            text:'Femenino'
        }],
        inscripcion:'uno',
        formInscripcion:
          {
            personalInfo:{
                tariff:null,
                district:'',
                city:'',
                country:'',
                name:'',
                last_name:'',
                gender:null,
                phone:'',
                place:'',
                document_number:'',
                province:'',
                country:'',
                district:'',
                annexed:'',
                business:'',
                cellphone:'',
                position:'',
                email:'',
                addressWork:''
              },
            billing:{
              businessName:'',
              ruc:'',
              businessAddress:'',
              purchaseOrder:false,
              responsiblePayment:{
                socialReason:'',                
                phone:'',
                cellphone:'',                
                billingEmail:'',
                responsibleName:'',
                responsibleEmail:'',
                annexed:'',
                message:''
              },
              howFindout:{
                facebook:false,
                linkedin:false,
                twitter:false,
                otherWebs:false,
                others:false
              }
            }
        },
        personalData:[],
        personalDataPills:[],
        events:[
            {
            id:1,
            title:' titulo',
            text:'lorem ipsum dolor',
            seo_url:'titulo'
            }
        ],
        form:{
            fullname:'',
            email:'',
            phone:'',
            reason:''
        },
        politics:'',
        terms:'',
        tabSelected:0,
        text: `It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).`
    }
  },
  async asyncData({ $axios, route }) {
        const events = await $axios.$get(`events/?seo_url=${route.params.slug}`) 
        const event = events[0]; 
        const baseUrl = process.env.baseUrl;               
        return { event,baseUrl }
  },
  computed:{
        splitedStructure(){
            let dir = this.event.information[0];            
            return this.structures = dir.tagging_structure.split(',');
        },
        listBenefit(){
            let dir = this.event.information[0];            
            return this.Benefits = dir.tagging_benefit.split(',');
        },
        dirigidos(){
            let dir = this.event.information[0];            
            return this.Dirigidos = dir.tagging.split(',');
        }
  },
  methods:{
    async getCountry(){
      this.formInscripcion.personalInfo.country = await fetch(
        'https://api.countrystatecity.in/v1/countries'
      ).then(res => res.json())
    },
    addCustomer(){                   
        var cus = {};  
        var customer = Object.assign(cus,this.formInscripcion.personalInfo)
        this.personalData.push(customer);
        this.personalDataPills.push(this.formInscripcion.personalInfo.name)
        this.$refs.personalInformation.reset();       
    },
    calculatingDayLefts(){
      var date = this.$moment(this.event.register_date);
      var current = this.$moment()
      this.daysLeft = current.diff(date,'days')
      
    },
    allFulled(){          
        if(this.terms && this.politics && this.form.fullname.length > 0 && this.form.email.length > 0 && this.form.phone.length > 0 && this.form.reason.length > 0){                
            this.notOk = false
        }else{                
            this.notOk = true
        }
    },
    contactSend(origin){
      var vm = this;
      var fullname = this.form.fullname.split(' ');
      var name = fullname[0];
      var lastname = fullname[1];
      var data = {
          "array_to_create": [
              {
                  "register_date": this.event.register_date,
                      "origin": origin,
                      "title": this.form.reason,
                      "motive": this.form.reason,
                      "comment": this.form.message,
                      "state": 'REGISTERED',
                      "name": name,
                      "last_name": lastname,
                      "mobile": this.form.phone,
                      "email": this.form.email,
              }
          ]
      }

      this.$axios.$post('contact/',data).then(function(response){                        
              if(response){                                                                                  
                  alert('enviado')
              }else{
                  console.log('Algo ha sucedido..');
              }           
      });  
    },
    sendInscription(){
      var data = 
        {          
          register_date:this.event.register_date,
          event: this.event.id,
          name: this.formInscripcion.billing.responsiblePayment.responsibleName,
          phone: this.formInscripcion.billing.responsiblePayment.phone,
          annexed: this.formInscripcion.billing.responsiblePayment.annexed,
          mobile: this.formInscripcion.billing.responsiblePayment.cellphone,
          main_email: this.formInscripcion.billing.responsiblePayment.responsibleEmail,
          secondary_email: this.formInscripcion.billing.responsiblePayment.billingEmail,
          business_name: this.formInscripcion.billing.responsiblePayment.socialReason,
          ruc: this.formInscripcion.billing.ruc,
          sale_order: this.formInscripcion.billing.purchaseOrder,          
          address:this.personalData[0].address,
          facebook: this.formInscripcion.billing.howFindout.facebook,
          linkedin: this.formInscripcion.billing.howFindout.linkedin,
          twitter: this.formInscripcion.billing.howFindout.twitter,
          web: this.formInscripcion.billing.howFindout.otherWebs,
          other: this.formInscripcion.billing.howFindout.others,          
          customers:this.personalData
          };
          var vm = this;
          this.$axios.$post('event-register/',data).then(function(response){                        
                        if(response){                                                                                  
                            vm.showInfo = true;                            
                        }else{
                            console.log('Algo ha sucedido..');
                        }           
                });  
    }
  },
  watch: {
    personalDataPills(newVal, oldVal) {
      const removed = oldVal.filter(v => !newVal.includes(v));
      if(removed && removed.length > 0) {        
        for(var num in this.personalData){          
          if(this.personalData[num].name == removed){
            // console.log('eliminado: '+ this.personalData[num].name)
            var position = num;            
          }
        }
        // delete this.personalData[position];
        this.personalData.splice(position,position)
      }
    }
  },
  mounted(){      
  setTimeout(() => {    
    this.calculatingDayLefts()  
  }, 1000);
  }
}
</script>

<style lang="scss">
  .event-intern{
    .banner-gray{
      min-height: 400px;      
      .slide-sponsor{
        margin-top:18%;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      h4{
        text-transform: uppercase;
      }
      b{
        font-family: "Barlow";
      }
      background-color: #DADADA;
      background-position: center;
      border-radius:70px 10px 70px 10px;
      padding:25px 160px;      
      margin:0 auto;
      display:block;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;      
      position:relative;
      @media screen and (max-width:600px){
        border-radius:0px 0px 40px 40px;
        padding:25px 0px;
        width:95%;
      }
    }
  }
  .program{
    .slick-slide{
      color:#DADADA;
    }
    .slick-current{
      color:#F142AF;
    }
  }
  .program-table{
    td{
      min-width: 220px;
      border-top:0;
      border-bottom:1px solid #dee2e6;
      padding-top:25px;
      padding-bottom:30px;      
    }
  }
  .img-people{
    border-radius: 10px;
    width:80px;
    height: 80px;
  }
  .tarifas-table{
    max-width: 900px;
    table{
      border:3px solid white;
    }
    th{
      color:#001D85;
      font-family: "Barlow-bold";
      font-weight: 600;
      font-size: 1.2rem;
    }
    td{
      color:#001D85;
      font-family: "Barlow";  
      height:60px;    
    }
  }
  .steps{
    svg{
      background-color: #DADADA;
      color:#DADADA;
      border-radius: 10px 0px 10px 0px;
      width:27px;
      height:27px;
      position: relative;
      top:5px;     
      left: -5px; 
      margin-right:0px!important;
    }
    color:#DADADA;
    font-weight: 600;
    &.active{
      color:#001D85;
      svg{
        background-color: #4FC5E9;
        color:#001D85;
      }            
    }
  }
  .steps-checkbox{
    &.steps-no-click{
      pointer-events: none;
    }
    .custom-control-inline{
      margin-right:2rem;
    }
    .custom-checkbox,.custom-radio{
      .custom-control-label{
        padding-left:10px;
        color:#DADADA;
        &:before{
          border:inherit;
          background-color: #DADADA;
          width: 27px;
          height: 27px;
          border-radius: 10px 0px 10px 0px;    
          margin-top:-3px;      
        }
      }
      .custom-control-input{
        &:checked ~ .custom-control-label{
          color:#001D85;
          &:after{
            background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23001D85' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
            background-size:13px;
            margin-top:3px;
            margin-left:5px;
          }
          &:before{
            background-color:#4FC5E9;
          }
        }
      }
    }    
  }
  .no-border-table{
    border:5px solid white;
    max-width: 1075px;
    tr{
      border:0;
      height:40px;
      th{
        color:#001D85;
        font-family: "Barlow-bold";
        font-size: 20px;        
      }
      b{
        font-family: "Barlow-bold";
        font-size: 18px;
        color:#001D85;
        padding-left:10px;  
        margin-bottom:10px;
      }
      p{
        font-family: "Barlow";
      }
      .highlight-th{
        background-color:#4FC5E9;
        color:#001D85;
        border-radius: 50px 0px 50px 0px;
        text-align: center;
        padding:20px 15px;
        width:130px;
        border:5px solid white;
        line-height: 22px;
        text-transform: capitalize;
      }
    }
    td{
      color:#001D85;
      font-family: "Barlow";      
      svg{
        font-size: 55px;
        text-align: center;
        display:block!important;
        margin:auto;
        color: #4FC5E9;
      }
    }
  }
  .tagsEvents{
    background-color: transparent;
    &:hover,&:active,&:focus{
      outline: hidden;
      box-shadow: inherit;
      background-color: transparent;
    }
    &::placeholder{
      color: transparent;
    }
    .b-form-tags-input{
     &::placeholder{
      color: transparent;
    } 
    }
  }
</style>