<template>
  <div class="webinar-intern">
    <div class="breadcrump-base">
        <b-breadcrumb class="mt-sm-4 container mb-0">
            <b-breadcrumb-item to="/">
            <b-icon icon="house-door" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>            
            </b-breadcrumb-item>
            <b-breadcrumb-item to="/">Home</b-breadcrumb-item>                        
            <b-breadcrumb-item active>{{ webinar.seo_title}}</b-breadcrumb-item>
        </b-breadcrumb>
      </div>      
      <div class="container mb-5">
           <b-carousel                                    
            class="principal-banner"
        >            
            <b-carousel-slide
            v-for="banner in webinar.webinar_banner"
            :key="banner.id"                     
            :style="`background-image:url('${banner.image}');`"
            >                   
            <div class="overlay-banner" :style="`background: linear-gradient(95deg, ${banner.color} 0%, ${banner.color} 40%, rgba(146,207,254,0) 60%);`"></div>
                <div class="text-banner">
                    <h1>{{webinar.title}}</h1>                
                </div>
            </b-carousel-slide>         
         
        </b-carousel>
      </div>
      <div class="dropdown-zone" >
            <b-dropdown id="dropdown-asosiacion" :text="tabSelected == 0 ? 'Detalle': tabSelected == 1 ? 'Regístrate':'Preguntas frecuentes'" class="d-block d-sm-none mx-auto">
                <b-dropdown-item v-show="tabSelected != 0" @click="tabSelected = 0">Detalle</b-dropdown-item>
                <b-dropdown-item v-show="tabSelected != 1" @click="tabSelected = 1">Regístrate</b-dropdown-item>
                <b-dropdown-item v-show="tabSelected != 2" @click="tabSelected = 2">Preguntas frecuentes</b-dropdown-item>            
                <b-dropdown-item v-show="tabSelected != 2" @click="tabSelected = 3">Contacto</b-dropdown-item>    
            </b-dropdown>
        </div>
        
        <b-tabs content-class="mb-5 pt-sm-5 tab-global" v-model="tabSelected" justified>
            <b-tab title="Detalle" active>
                <div v-for="detail in webinar.webinar_detail" :key="detail.id">
                    <div class="information-detail container pl-sm-5 d-flex justify-content-sm-start flex-sm-row flex-column">
                        <p class="pl-sm-3"><b-icon icon="calendar3" aria-hidden="true" class="t-blue"></b-icon> <span class="pl-2 t-gray-2">{{detail.register_date}}</span> </p>
                        <p class="pl-sm-3"><b-icon icon="clock" aria-hidden="true" class="t-blue"></b-icon> <span class="pl-2 t-gray-2">{{detail.schedule}}</span> </p>
                        <p class="pl-sm-3"><b-icon icon="files-alt" aria-hidden="true" class="t-blue"></b-icon> <span class="pl-2 t-gray-2">Plataforma: {{detail.platform}}</span> </p>
                    </div>
                    <div class="container">
                        <h2 class="text-center title t-blue p-3">Patrocinador</h2>
                        <img v-for="sponsor in webinar.webinar_sponsors" :key="sponsor.id" :src="sponsor.image" class="d-block mx-auto sponsor_img" alt="">
                        <h2 class="text-center t-blue p-3 pt-sm-5">Ponente</h2>
                        <div class="row d-flex justify-content-center">
                            <div v-for="speaker in webinar.webinar_speakers" :key="speaker.id" class="ponente text-center pl-3 pr-3">
                                <img :src="speaker.image" class="img-fluid p-4" alt="">
                                <p class="t-blue font-weight-bold">{{speaker.name}}</p>
                                <span class="t-blue">{{ speaker.title }}</span>
                            </div>                           
                        </div>
                        <h2 class="text-center title t-blue p-3">Descripcion</h2>
                        <p class="text-center t-blue pl-sm-5 pr-sm-5 ml-sm-5 mr-sm-5" v-for="detail in webinar.webinar_detail" :key="detail.id" v-html="detail.description"></p>

                        <h2 class="text-center title t-blue p-3 pt-sm-5">Dirigido</h2>
                        <div class="dirigido pt-sm-4">
                            <div v-for="dirigido in dirigidos" :key="dirigido" class="right-line col-sm-2 col-12 text-center t-blue">
                                <span>{{dirigido}}</span>
                            </div>                    
                        </div>                 
                    </div>
                    <div class="bg-yellow-webinar">
                        <div class="container pt-2 pb-0">
                            <h4 class="text-center t-blue">
                                Si necesitas mayor información favor contarse con persona <b>Fabricio</b> al número <b>982764261</b> o enviar un correo a <b><a href="mailto:fabricio@asbanc.com">fabricio@asbanc.com</a></b>
                            </h4>                                
                        </div>                        
                    </div>
                </div>
            </b-tab>            

            <b-tab title="Regístrate">
                <h1 class="text-center title ">Webinar gratuito previa inscripción</h1>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-global btn-pink mx-auto"> Registrate </a>
                </div>

                <div class="franja-yellow text-center">
                    <p class="t-blue">Faltan <b>10 días</b> para el inicio de evento</p>
                </div>
                <div class="container">
                    <b-card no-body class="overflow-hidden horizontal-card ml-sm-5 mr-sm-5">
                        <b-row no-gutters>
                            <b-col sm="6" md="12" lg="6" class="bgImg" style="background-image:url(/images/webinar-img.png)">
                                <!-- <b-card-img src="/images/webinar-img.png" alt="Image" class="rounded-0"></b-card-img>                             -->
                            </b-col>
                            <b-col sm="6" md="12" lg="6">
                                <b-card-body class="pt-5">
                                <b-card-text>
                                    <h3>Beneficios</h3>
                                <ul>
                                    <li>Oportunidad para conocer herramientas, técnicas y casos.</li>

                                    <li>Oportunidad para conocer herramientas, técnicas y casos.</li>

                                    <li>Oportunidad para conocer herramientas, técnicas y casos.</li>
                                </ul>
                                </b-card-text>                                
                                </b-card-body>
                            </b-col>
                        </b-row>
                    </b-card>

                    <b-card no-body class="overflow-hidden horizontal-card ml-sm-5 mr-sm-5 mt-5">
                        <b-row no-gutters>                         
                            <b-col sm="6" md="12" lg="6">
                                <b-card-body class="pt-5">
                                <b-card-text>
                                    <h3>Estructura del seminario</h3>
                                <ul>
                                    <li>Oportunidad para conocer herramientas, técnicas y casos.</li>

                                    <li>Oportunidad para conocer herramientas, técnicas y casos.</li>

                                    <li>Oportunidad para conocer herramientas, técnicas y casos.</li>
                                </ul>
                                </b-card-text>                                
                                </b-card-body>
                            </b-col>
                            <b-col sm="6" md="12" lg="6" class="bgImg" style="background-image:url(/images/webinar-img.png)">
                                <!-- <b-card-img src="/images/webinar-img.png" alt="Image" class="rounded-0"></b-card-img>                             -->
                            </b-col>
                        </b-row>
                    </b-card>
                </div>
            </b-tab>
            <b-tab title="Preguntas frecuentes" class="bg-white-rounded">
                <div class="accordion container" role="tablist">
                    <b-card v-for="faq in webinar.webinar_faq" :key="faq.id" no-body class="mb-1 border-0 accordion-card">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <b-button block v-b-toggle="`accordion-${faq.id}`" class="accordion-btn">{{faq.question}}</b-button>
                        </b-card-header>
                        <b-collapse :id="`accordion-${faq.id}`" accordion="my-accordion" role="tabpanel">
                            <b-card-body>                            
                                <b-card-text>{{faq.answer}}</b-card-text>
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div>
            </b-tab>
            <b-tab title="Contacto">
                <div class="bg-gray contact-container webinar-contact">
          <div class="container">
                <h2 class="title">Contacto</h2>
                    <div>         
                        <ValidationObserver ref="contact">               
                            <b-form  class="col-12 row">                                
                                <div class="col-12 col-sm-6">                                                                                       
                                            <b-form-group>
                                                <ValidationProvider name="Nombre completo"  rules="required|alpha_spaces|min:2" v-slot="{ errors }">
                                                    <b-form-input
                                                    id="Fullname"
                                                    v-model="form.fullname"
                                                    placeholder="Nombre completo"                                                                                                
                                                    ></b-form-input>
                                                    <span class="msg-error">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </b-form-group>
                                            <b-form-group>
                                                <ValidationProvider name="teléfono" :rules="{ numeric: true,required:true, min: 9,max: 9, regex: /^([9]{1})([0-9]{1})/ }" v-slot="{ errors }">
                                                    <b-form-input                                                
                                                    id="phone"
                                                    type="tel"                                                
                                                    v-model="form.phone"
                                                    placeholder="Teléfono"  
                                                    maxlength="9"                                              
                                                    ></b-form-input>                                            
                                                    <span class="msg-error">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </b-form-group>

                                            <b-form-group>
                                                <ValidationProvider name="correo" rules="required|email" v-slot="{ errors }">
                                                <b-form-input
                                                id="email"
                                                v-model="form.email"
                                                type="email"
                                                placeholder="Correo"                                            
                                                ></b-form-input>
                                                <span class="msg-error">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </b-form-group>                                                        
                                </div>
                                <div class="col-12 col-sm-6">
                                                    
                                    <b-form-group>
                                        <b-form-input
                                        id="input-2"
                                        v-model="form.reason"
                                        placeholder="Motivo"
                                        required
                                        ></b-form-input>
                                    </b-form-group>
                                    <b-form-group id="input-group-2">
                                        <b-form-textarea
                                            id="textarea-input"
                                            placeholder="Mensaje"
                                            rows="3"
                                        ></b-form-textarea>
                                    </b-form-group>                            
                                </div>
                                <b-form-group class="mx-auto ">
                                    <ValidationProvider :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
                                    <b-form-checkbox
                                        id="checkbox-1"
                                        v-model="terms"
                                        name="checkbox-1"
                                        value="accepted"
                                        unchecked-value="not_accepted"
                                        class="checkbox-contact"
                                        required
                                    >
                                    He leído y acepto los <a href="/terminos-y-condiciones">términos y condiciones</a>
                                    </b-form-checkbox>
                                    <span class="msg-error">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                    <ValidationProvider :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
                                    <b-form-checkbox
                                        id="checkbox-2"
                                        v-model="politics"
                                        name="checkbox-2"
                                        value="accepted"
                                        unchecked-value="not_accepted"
                                        class="checkbox-contact"
                                        required
                                    >
                                    He leído y acepto las <a href="/politicas-de-privacidad">políticas de privacidad</a>
                                    </b-form-checkbox>
                                    <span class="msg-error">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                    <b-button @click.prevent="contactSend('CONTACT')" class="btn-global btn-pink mx-auto d-flex justify-content-center mt-4" type="button" variant="primary">Enviar</b-button>                            
                                </b-form-group>
                            </b-form>       
                        </ValidationObserver>                                                 
                    </div>
                </div>
                </div>
            </b-tab>
        </b-tabs>
        <social-float class="mt-sm-5"></social-float>
  </div>
</template>

<script>
import socialFloat from '@/components/Globals/social-float';
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
    components:{
        socialFloat,
        ValidationObserver: ValidationObserver,
        ValidationProvider: ValidationProvider      
    },
    head() {
        if(this.webinar){
            return {
            title: this.webinar.seo_title,
            meta: [
                { charset: 'utf-8' },
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
                {
                hid: 'description',
                name: 'description',
                content: this.webinar.seo_description
                },        
                { hid: 'og:type', 
                name: 'og:type', 
                content: 'Evento'
                },
                { hid: 'og:url', 
                name: 'og:url', 
                content: this.baseUrl+'/webinar/'+this.webinar.seo_url
                },
                { hid: 'og:title', 
                name: 'og:title', 
                content: this.webinar.seo_title 
                },
                { hid: 'og:description', 
                name: 'og:description', 
                content: this.webinar.seo_description 
                },        
                { prefix:"og: http://ogp.me/ns#",
                hid: 'og:image', 
                name: 'og:image', 
                property:'og:image',
                content: this.webinar.main_image 
                },
                { prefix:"og: http://ogp.me/ns#",
                hid: 'og:image', 
                name: 'og:image', 
                content: this.webinar.main_image
                },    
                { hid: 'og:image', 
                name: 'og:image', 
                content: this.webinar.main_image
                },    
                { hid: 'og:image', 
                prefix: 'og:http://ogp.me/ns#', 
                property:'og:image',
                content: '/images/seo_image.jpg'
                },   
                { hid: 'og:image', 
                name: 'og:image', 
                content: '/images/seo_image.jpg'
                },                     
                {
                hid: 'og:image:secure_url',
                property: 'og:image:secure_url',
                content: this.webinar.main_image
                },
                {
                hid: 'og:image:alt',
                property: 'og:image:alt',
                content: 'Asbanc'
                },
                {
                hid: 'twitter:title',
                name: 'twitter:title',
                content: this.webinar.seo_title
                },
                {
                hid: 'twitter:description',
                name: 'twitter:description',
                content: this.webinar.seo_description
                },
                {
                hid: 'twitter:image',
                name: 'twitter:image',
                content: this.webinar.main_image
                },
                {
                hid: 'twitter:image:alt',
                name: 'twitter:image:alt',
                content: 'Asbanc'
                } 
            ], 
            }
        }
    },
    async asyncData({ $axios, route }) {
        const webinars = await $axios.$get(`webinars/?seo_url=${route.params.slug}`) 
        const webinar = webinars[0];           
        const baseUrl = process.env.baseUrl;           
        return { webinar,baseUrl }
    },
    computed:{
        splitedDirigidos(){
            let dir = this.webinar.webinar_detail[0];            
            return this.dirigidos = dir.tagging.split(',');
        }
    },
    methods:{
        contactSend(origin){
            var vm = this;
            var fullname = this.form.fullname.split(' ');
            var name = fullname[0];
            var lastname = fullname[1];
            var data = {
                "array_to_create": [
                    {
                        "register_date": this.webinar.register_date,
                        "origin": origin,
                        "title": this.form.reason,
                        "motive": this.form.reason,
                        "comment": this.form.message,
                        "state": 'REGISTERED',
                        "name": name,
                        "last_name": lastname,
                        "mobile": this.form.phone,
                        "email": this.form.email,
                    }
                ]
            }    

            this.$refs.contact.validate().then(success => {
                if (success) {
                    this.$axios.$post('contact/',data).then(function(response){                        
                        if(response){                                                                                  
                            alert('enviado')
                        }else{
                            console.log('Algo ha sucedido..');
                        }           
                    });                   
                }else{
                    alert('Debes completar todos los campos');
                }


                // Wait until the models are updated in the UI
                this.$nextTick(() => {
                    this.$refs.contact.reset();
                });
            });
           
        },
    },
    data(){
        return{        
            form:{
                fullname:'',
                email:'',
                phone:'',
                reason:''
            },
            politics:'',
            terms:'',
            tabSelected:0,
            webinar:[],
            dirigidos:[],
            text: `
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
            brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
            synth nesciunt you probably haven't heard of them accusamus labore VHS.
                `        
        }
    }
}
</script>

<style lang="scss">
.ponente{
    width:200px;
    height:auto;
    img{
        border-radius: 10px;
        overflow: hidden;
    }
}
.sponsor_img{
    width:100%;
    height:auto;
    max-width: 300px;
    border-radius: 40px 5px 40px 5px;
}
</style>
